body {
  background-color: var(--color-grey-100);

  accent-color: var(--color-primary-800);
}

.master {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.main {
  flex-grow: 1;
  padding-block: theme('spacing.6');

  @media screen('md') {
    padding-block: theme('spacing.8');
  }
}

[hidden] {
  display: none !important;
}

[popover] {
  width: max-content;
  margin: 0;
  padding: 0;

  position: absolute;
  top: 0;
  left: 0;

  visibility: hidden;

  &.is-positioned {
    visibility: visible;
  }
}

[role='menuitemcheckbox'],
label {
  cursor: pointer;
}

hr {
  border-color: var(--color-grey-300);
}

summary {
  display: block;

  cursor: pointer;

  &::-webkit-details-marker {
    display: none;
  }
}

/*
 * In Chrome, the details content wrapper gets a display block while open
 * We want this element to be displayless so we can alter its position
 * within flex or grid layouts.
 */
details[open]::details-content {
  display: contents;
}

* {
  /* Prevent anchors target from being covered by the sticky header */
  scroll-margin-top: calc(var(--navbar-height) + theme('spacing.5'));
}
