body {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: var(--step-5);
  line-height: 1.1;
}

h2,
.h2 {
  font-size: var(--step-4);
}

h3,
.h3 {
  font-size: var(--step-3);
}

h4,
.h4 {
  font-size: var(--step-2);
}

h5,
.h5 {
  font-size: var(--step-1);
}

h6,
.h6 {
  font-size: var(--step-0);
}

a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.link-primary {
  color: var(--color-primary-900);
}

.link-ghost {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

mark {
  background-color: var(--color-primary-200);
  outline: 3px solid var(--color-primary-200);
}

ins {
  text-decoration: none;
}

*:focus-visible {
  outline: 2px solid var(--color-primary-800);
  outline-offset: 2px;
}

::selection {
  color: white;
  background-color: var(--color-primary-800);
}
