
{% load i18n %}

<div class="form-actions form-actions--separated form-actions--emphased">
  <button type="submit" class="btn btn--primary">{% translate "Suivant" %}</button>

  {% if cancel_url %}
    <span class="form-actions__spacer"></span>
    <a href="{{ cancel_url }}" class="btn btn--text">{% translate "Annuler" %}</a>
  {% endif %}
</div>
