<!-- This templates replaces the default django-two-factor-auth template at two_factor/core/login.html -->
{% extends "registration/login.html" %}

{% load i18n %}

{% block login %}
  {% if wizard.steps.current == 'auth' %}
    {{ block.super }}
  {% elif wizard.steps.current == 'token' %}
    <p class="mb-4">
      {% translate "Veuillez entrer votre jeton (code à usage unique), qui se trouve dans votre application d'authentification (Authenticator, Duo, LastPass, etc.) ou transmis par SMS." %}
    </p>

    <form method="post" action="">
      {% csrf_token %}

      {% include "two_factor/_wizard_forms.html" %}
      {% include "two_factor/_wizard_actions.html" %}

      {% if backup_tokens %}
        <p class="mt-6 mb-4 text-sm">{% translate "En dernier recours, vous pouvez utiliser un code de secours:" %}</p>
        <button name="wizard_goto_step" type="submit" value="backup" class="btn btn--default btn--sm">
          {% translate "Utiliser un code de secours" %}
        </button>
      {% endif %}
    </form>
  {% elif wizard.steps.current == 'backup' %}
      <p class="mb-4">
        {% blocktranslate trimmed %}
          Utilisez ce formulaire pour entrer un code de secours afin de vous connecter. Vous avez généré ces codes dans votre compte pour les imprimer et/ou les garder en lieu sûr.
        {% endblocktranslate %}
      </p>

      <form method="post" action="">
        {% csrf_token %}
        {% include "two_factor/_wizard_forms.html" %}
        {% include "two_factor/_wizard_actions.html" %}
      </form>
  {% endif %}
{% endblock %}
