{% extends "admin/change_form.html" %}
{% load i18n %}

{% block content %}

<script>
  var copyFieldSyntax = function(id) {
      let field = document.getElementById(id);
      navigator.clipboard.writeText(field.textContent.trim());
  }
</script>

<style>
  .text-truncate-custom {
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
</style>

  <p style="margin-left: 6px; margin-right: 6px;">
    {% if available_fields.items %}
      <a class="btn btn-primary" data-toggle="collapse" href="#fieldsList" role="button" aria-expanded="false" aria-controls="fieldsList">
        </i>{% translate  "Voir les champs disponibles" %}
      </a>
    {% endif %}
  </p>

  <div class="collapse" id="fieldsList" style="width:100%;">
    <div class="card card-body">
      <p>
        <a class="btn btn-info" href="https://gitlab.com/geocity/geocity/-/wikis/impression#paragraphe-libre" target="_blank">Wiki</a> {% comment %}TODO: Make a button instead of this I {% endcomment %}
        <button type="button" class="close float-right" aria-label="Close" data-toggle="collapse" href="#fieldsList" role="button" aria-expanded="false" aria-controls="fieldsList">
          <span aria-hidden="true">&times;</span>
        </button>
      </p>
      <div id="accordion">
        {% for key, value in available_fields.items %}
        <div class="card">
          <div class="card-header" id="{{key}}_{{ forloop.counter0 }}">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#form_{{ forloop.counter0 }}" aria-expanded="true" aria-controls="form_{{ forloop.counter0 }}">
                {{ value.name }}
              </button>
            </h5>
          </div>
          <div id="form_{{ forloop.counter0 }}" class="collapse {% if forloop.counter0 == 0 %}show{% else %}hide{% endif %}" aria-labelledby="form_{{ forloop.counter0 }}" data-parent="#accordion">
            <div class="card-body">
              <div class="container" style="max-width: 100%;">
                <div class="row font-weight-bold">
                  <div class="col-lg-2 col-md-6">
                    {% translate "Type de champ" %}
                  </div>
                  <div class="col-lg-2 col-md-6">
                    {% translate "Identifiant du champ (API Name)" %}
                  </div>
                  <div class="col-lg-8 col-md-12">
                    {% translate "Syntaxe pour le nom du champ" %}<br>
                    {% translate "Syntaxe pour la valeur du champ" %}
                  </div>
                </div>
              </div>
              {% for field in value.fields %}
                <hr>
                <div class="container" style="max-width: 100%;">
                  <div class="row">
                    <div class="col-lg-2 col-md-6">
                      {% if field.type == "form_field" %}
                        {% translate "Formulaire" %}
                      {% elif field.type == "amend_field" %}
                        {% translate "Traitement" %}
                      {% endif %}
                    </div>
                    <div class="col-lg-2 col-md-6">
                      {{ field.api_name }}
                    </div>
                    <div class="col-lg-8 col-md-12">
                      <div class="input-group">
                        <div id="{{ field.api_name }}_name_{{ forloop.counter0 }}" class="form-control text-truncate-custom" id="nonModifiableField">
                          {% if field.type == "form_field" %}
                            &#123;&#123; request_data.properties.submission_fields.{{key}}.fields.{{field.api_name}}.name &#125;&#125;
                          {% elif field.type == "amend_field" %}
                            &#123;&#123; request_data.properties.amend_fields.{{key}}.fields.{{field.api_name}}.name &#125;&#125;
                          {% endif %}
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" title="{% translate 'Copier' %}" onclick="copyFieldSyntax('{{ field.api_name }}_name_{{ forloop.counter0 }}');"><i class="fa fa-copy"></i></button>
                        </div>
                      </div>
                      <br>
                      <div class="input-group">
                        <div id="{{ field.api_name }}_value_{{ forloop.counter0 }}" class="form-control text-truncate-custom" id="nonModifiableField">
                          {% if field.type == "form_field" %}
                            &#123;&#123; request_data.properties.submission_fields.{{key}}.fields.{{field.api_name}}.value_formatted &#125;&#125;
                          {% elif field.type == "amend_field" %}
                            &#123;&#123; request_data.properties.amend_fields.{{key}}.fields.{{field.api_name}}.value &#125;&#125;
                          {% endif %}
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" title="{% translate 'Copier' %}" onclick="copyFieldSyntax('{{ field.api_name }}_value_{{ forloop.counter0 }}');"><i class="fa fa-copy"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <hr>
  {{ block.super }}
{% endblock %}
