{% extends "base_generic.html" %}

{% load i18n static %}

{% block content %}
  <div class="container container--xs">
    <img src="{% static "images/errors/403.svg" %}" alt="" class="mb-10">
    <h1 class="text-4xl mb-6">{% translate "Erreur 403" %}</h1>
    <p class="text-lg">{% translate "Vous n’avez pas la permission d’accéder à cette page." %}</p>
    <div class="mt-6">
      <a href="{% url "index" %}" class="btn btn--default" data-role="maybe-back-button">
        {% include "_icon.html" with id="chevron-left" class="icon--75" %}
        {% translate "Retour" %}
      </a>
    </div>
  </div>
{% endblock content %}
