{% extends "base_generic.html" %}

{% load i18n static %}

{% block content %}
  <div class="container container--xs">
    <img src="{% static "images/errors/404.svg" %}" alt="" class="mb-10">
    <h1 class="text-4xl mb-6">{% translate "Erreur 404" %}</h1>
    <p class="text-lg">{% translate "Cette page n’existe pas, elle a peut-être été supprimée depuis." %}</p>
    <div class="mt-6">
      <a href="{% url "index" %}" class="btn btn--default" data-role="maybe-back-button">
        {% include "_icon.html" with id="chevron-left" class="icon--75" %}
        {% translate "Retour" %}
      </a>
    </div>
  </div>
{% endblock content %}
