{% load i18n %}

<dialog id="confirmation-dialog" class="dialog dialog--sm" aria-labelledby="confirmation-dialog-title">
  <header class="dialog__header">
    <h1 id="confirmation-dialog-title" class="dialog__title">{% translate 'Avertissement' %}</h1>
    <button type="button" class="dialog__close-btn btn btn--icon" data-role="hide-dialog" data-dialog="confirmation-dialog" title="{% translate "Fermer la boîte de dialogue" %}" autofocus>
      {% include "_icon.html" with id="cross" %}
    </button>
  </header>

  <div id="confirmation-dialog-content" class="dialog__content"></div>

  <footer class="dialog__footer">
    <div class="form-actions form-actions--emphased mt-0">
      <button data-role="confirmation-confirm" type="button" class="btn btn--primary">
        {% translate 'Confirmer' %}
      </button>
      <span class="form-actions__spacer"></span>
      <button data-role="hide-dialog" data-dialog="confirmation-dialog" type="button" class="btn btn--default">
        {% translate 'Annuler' %}
      </button>
    </div>
  </footer>
</dialog>
