{% load static %}

<svg class="icon icon--{{ id }}{% if class %} {{ class }}{% endif %}"{% if style %} style="{{ style }}"{% endif %} focusable="false" aria-hidden="true">
  <use xlink:href="{% block path %}{% static "images/icons.svg" %}{% endblock path %}#{{ id }}"></use>
</svg>
