{% load core static i18n django_vite %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="antialiased">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <title>{% block title %}{% endblock %}Geocity</title>
    <link rel="icon" href="{% static 'images/favicon.ico'%}" type="image/svg" sizes="16x16">

    {% block stylesheets %}{% endblock stylesheets %}

    <script src="{% static 'libs/js/jquery/jquery-3.7.1.min.js' %}"></script>
    {% vite_asset 'assets/js/common.js' %}
  </head>

  <body>
    <div class="master">
      {% block header %}
        <header class="sticky top-0 z-30 print:hidden">
          <div class="navbar">
            <div class="container content-center">
              <div class="flex items-center gap-4 md:gap-8">
                <div class="flex-shrink-0">
                  <a href="{% url 'submissions:submissions_list' %}">
                    <img src={% static 'images/geocity_normal.svg' %} alt="logo" width="147" height="29" class="h-4 lg:h-6 w-auto" />
                  </a>
                </div>

                {% if user.is_authenticated and not user.userprofile.is_temporary %}
                  <div class="flex-grow flex items-center gap-8">
                    <nav class="flex-grow max-md:hidden">
                      <ul class="flex gap-6">
                        <li>
                          <a href="{% url 'submissions:submissions_list' %}" class="btn navbar__btn{% menu_class_for_url 'submissions:submissions_list' 'submissions:archived_submission_list' 'submissions:submission_detail' %}">
                            {% include "_icon.html" with id="list-todo" %}
                            {% translate "Mes demandes" %}
                          </a>
                        </li>

                        {% if config.GEOCALENDAR_URL %}
                          <li>
                            <a href="{{ config.GEOCALENDAR_URL }}" target="_blank" rel="noreferrer" class="btn navbar__btn">
                              {% include "_icon.html" with id="calendar-days" %}
                              {% translate "Calendrier" %}
                              {% include "_icon.html" with id="external-link" class="icon--75" %}
                            </a>
                          </li>
                        {% endif %}
                      </ul>
                    </nav>

                    <div class="ml-auto flex gap-6 items-center relative">
                      <button type="button" popovertarget="global-search-dropdown" class="btn navbar__btn" aria-label="Recherche">
                        {% include "_icon.html" with id="search" %}
                      </button>

                      <search id="global-search-dropdown" class="dropdown" data-popover-placement="bottom-end" popover>
                        <form method="get" action="{% url 'submissions:submissions_search' %}" data-role="global-search-form">
                          <div class="relative flex items-center my-2 mx-4">
                            <label for="global-search" class="sr-only">{% trans "Rechercher" %}</label>
                            <input id="global-search" data-role="search-input" placeholder="{% translate "Recherche…" %}" type="text" name="search" class="field h-10 pl-11 pr-5 rounded-full" autocomplete="off">
                            {% include "_icon.html" with id="search" class="absolute left-3 text-grey-300" %}
                          </div>
                          <div data-role="search-results" class="mt-2 hidden"></div>
                        </form>
                      </search>

                      <button type="button" popovertarget="user-menu" class="btn navbar__btn max-w-80{% menu_class_for_url 'accounts:user_profile_edit' 'two_factor:profile' 'two_factor:setup' 'accounts:profile' 'accounts:password_change' %}" title="{{ user.get_full_name }}">
                        {% include "_icon.html" with id="user" %}
                        <span class="overflow-hidden text-ellipsis max-md:sr-only">{{ user.get_full_name }}</span>
                        {% include "_icon.html" with id="chevron-down" class="icon--75 max-md:hidden" %}
                      </button>

                      <ul id="user-menu" class="dropdown" data-popover-placement="bottom-end" popover>
                        <li class="font-bold dropdown__item lg:hidden" aria-hidden="true">
                          {{ user.get_full_name }}
                        </li>
                        <hr class="dropdown__divider lg:hidden" aria-hidden="true">
                        {% if user.is_staff %}
                          <li>
                            <a href="{% url 'admin:index' %}" target="_blank" rel="noreferrer" class="btn dropdown__item">
                              {% translate "Interface d'administration" %}
                              {% include "_icon.html" with id="external-link" class="text-grey-500 icon--75" %}
                            </a>
                          </li>
                          <hr class="dropdown__divider">
                        {% endif %}

                        <li><a href="{% url 'accounts:user_profile_edit' %}" class="btn dropdown__item{% menu_class_for_url 'accounts:user_profile_edit' %}">{% translate "Gérer mon compte" %}</a></li>

                        {% if ENABLE_2FA %}
                          <li>
                            <a href="{% url 'two_factor:profile' %}" class="btn dropdown__item{% menu_class_for_url 'two_factor:profile' 'accounts:profile' 'two_factor:setup' %}">{% translate "Gérer la sécurité de mon compte" %}</a>
                          </li>
                        {% endif %}

                        {% if not user.socialaccount_set.exists %}
                          <li>
                            <a href="{% url 'accounts:password_change' %}" class="btn dropdown__item{% menu_class_for_url 'accounts:password_change' %}">{% translate "Modifier mon mot de passe" %}</a>
                          </li>
                        {% endif %}

                        <hr class="dropdown__divider">

                        <li>
                          <form method="post" action="{% url 'accounts:logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn dropdown__item">
                              {% translate "Me déconnecter" %}
                            </button>
                          </form>
                        </li>
                      </ul>

                      <button type="button" class="btn navbar__btn lg:hidden" aria-label="Afficher le menu" popovertarget="mobile-menu">
                        {% include "_icon.html" with id="menu" %}
                      </button>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>

          <div id="mobile-menu" class="dropdown lg:hidden" data-popover-placement="bottom-end" popover>
            <nav>
              <ul class="grid gap-1">
                <li>
                  <a href="{% url 'submissions:submissions_list' %}" class="btn dropdown__item mobile-nav__btn{% menu_class_for_url 'submissions:submissions_list' 'submissions:archived_submission_list' %}">
                    {% include "_icon.html" with id="list-todo" %}
                    {% translate "Mes demandes" %}
                  </a>
                </li>

                {% if config.GEOCALENDAR_URL %}
                  <li>
                    <a href="{{ config.GEOCALENDAR_URL }}" target="_blank" rel="noreferrer" class="btn dropdown__item mobile-nav__btn">
                      {% include "_icon.html" with id="calendar-days" %}
                      {% translate "Calendrier" %}
                      {% include "_icon.html" with id="external-link" class="icon--75" %}
                    </a>
                  </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </header>
      {% endblock header %}

      <main class="main {% block main-class %}{% endblock main-class %}">
        <div id="global-toaster" class="toaster">
          {% for message in messages %}
            <div role="alert" class="alert
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert--danger
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert--success
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}alert--warning
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}alert--info{% endif %}
              ">{{ message }}</div>
          {% endfor %}
        </div>

        {% block content-wrapper %}
          {% block content %}{% endblock %}
        {% endblock content-wrapper %}
      </main>

      <footer class="py-6 text-grey-600 border-t border-grey-300 bg-grey-100 print:hidden">
        <div class="container">
          <div class="flex flex-wrap gap-5 items-center justify-between">
            &copy; {% now "Y" %} Geocity

            <div class="flex flex-wrap gap-x-6 gap-y-2 items-center">
              <a href="https://geocity-asso.ch" target="_blank" rel="noreferrer" class="btn btn--text">{% translate "A propos" %}</a>
              {% if config.CONTACT_URL %}
                <a href="{{ config.CONTACT_URL }}" target="_blank" rel="noreferrer" class="btn btn--text">{% translate "Contact" %}</a>
              {% endif %}
              {% if config.GENERAL_CONDITIONS_URL %}
                <a href="{{ config.GENERAL_CONDITIONS_URL }}" target="_blank" rel="noreferrer" class="btn btn--text" title="{% translate "Conditions générales d'utilisation" %}">{% translate "Conditions" %}</a>
              {% endif %}
              {% if config.PRIVACY_POLICY_URL %}
                <a href="{{ config.PRIVACY_POLICY_URL }}" target="_blank" rel="noreferrer" class="btn btn--text" title="{% translate "Politique de confidentialité" %}">{% translate "Confidentialité" %}</a>
              {% endif %}
              {% if config.LEGAL_NOTICE_URL %}
                <a href="{{ config.LEGAL_NOTICE_URL }}" target="_blank" rel="noreferrer" class="btn btn--text">{% translate "Mentions légales" %}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </footer>
    </div>

    {% block scripts %}{% endblock %}
  </body>
</html>
