{% load i18n %}

<div class="flex items-center gap-4">
  <a href="{{ record.get_download_url }}" target="_blank" class="btn btn--icon" title="{% trans "Télécharger" %}" aria-label="{% blocktrans with name=record.description trimmed %}Télécharger le document intitulé «{{ name }}»{% endblocktrans %}" download>
    {% include "_icon.html" with id="download" class="icon--75" %}
  </a>
  <a href="{{ record.get_remove_url }}" class="btn btn--icon" title="{% trans "Supprimer" %}" aria-label="{% blocktrans with name=record.description trimmed %}Supprimer le document intitulé «{{ name }}»{% endblocktrans %}" data-confirm="{% blocktrans with name=record.description %}Êtes vous sûr·e de vouloir supprimer le document intitulé «{{ name }}»? Cette action est irréversible.{% endblocktrans %}">
    {% include "_icon.html" with id="trash" class="icon--75" %}
  </a>
</div>
