{% extends "base_generic.html" %}

{% load i18n %}

{% block content %}
  <div class="container container--xs">
    <div class="page-header">
      <h1>{% translate "Trop de tentatives de connexion!" %}</h1>
    </div>

    <p>
      {% translate "Votre compte a été verrouillé par mesure de sécurité. Merci de contacter l'administrateur pour résoudre le problème." %}
    </p>

    <div class="form-actions form-actions--separated">
      <a href="{% url 'accounts:account_login' %}" class="btn btn--text">
        {% include "_icon.html" with id="chevron-left" %}
        {% translate "Retour à la connexion" %}
      </a>
    </div>
  </div>
{% endblock content %}
