{% load i18n %}

<div class="field-group">
  <div class="label">{{ prop.name }}</div>
  <div>
    <a href="{% url 'submissions:field_file_download' path=prop.file_download %}" target="_blank" rel="noreferrer" class="btn btn--default btn--sm">
      {% include "_icon.html" with id="download" class="icon--75" %}
      {% if prop.help_text %}
        {{ prop.help_text }}
      {% else %}
        {% trans "Télécharger le fichier" %}
      {% endif %}
    </a>
  </div>
</div>
