{% if for_summary %}
  <div data-role="property-text">{{ prop.name|safe }}</div>
{% else %}
  <div class="form__extra">
    <div data-role="property-text">{{ prop.name|safe }}</div>
    {% if prop.help_text %}
      <div data-role="property-text-help" class="text-sm text-grey-600 mt-1">{{ prop.help_text|safe }}</div>
    {% endif %}
  </div>
{% endif %}
