{% extends "two_factor/_base_focus.html" %}

{% load i18n %}

{% block content %}
  <div class="container container--xs">
    <div class="page-header">
      <h1>{% block title %}{% trans "Backup Tokens" %}{% endblock %}</h1>
    </div>

    <div class="prose">
      <p>{% blocktrans trimmed %}Backup tokens can be used when your primary and backup
          phone numbers aren't available. The backup tokens below can be used
          for login verification. If you've used up all your backup tokens, you
          can generate a new set of backup tokens. Only the backup tokens shown
          below will be valid.{% endblocktrans %}</p>
      {% if device.token_set.count %}
        <ul>
          {% for token in device.token_set.all %}
            <li>{{ token.token }}</li>
          {% endfor %}
        </ul>
        <p>{% blocktrans %}Print these tokens and keep them somewhere safe.{% endblocktrans %}</p>
      {% else %}
        <div class="alert alert--info">{% trans "You don't have any backup codes yet." %}</div>
      {% endif %}
    </div>

    <form method="post">{% csrf_token %}{{ form.as_p }}
      <div class="form-actions form-actions--separated form-actions--emphased">
        <button class="btn btn--primary" type="submit">{% trans "Generate Tokens" %}</button>
        <span class="form-actions__spacer"></span>
        <a href="{% url 'two_factor:profile'%}" class="btn btn--text">{% trans "Back to Account Security" %}</a>
      </div>
    </form>
  </div>
{% endblock %}
