{% extends "two_factor/_base_focus.html" %}

{% load i18n %}

{% block content %}
  <div class="container container--xs">
    <div class="page-header">
      <h1>{% block title %}{% translate "Authentification à deux facteurs activée" %}{% endblock %}</h1>
    </div>

    <p>{% blocktranslate trimmed %}Congratulations, you've successfully enabled two-factor
          authentication.{% endblocktranslate %}</p>

    {% if not phone_methods %}
      <div class="form-actions">
        <a href="{% url 'two_factor:profile' %}"
        class="btn btn--primary">
          {% translate "Back to Account Security" %}
        </a>
      </div>
    {% else %}
      <p>{% blocktranslate trimmed %}However, it might happen that you don't have access to
        your primary token device. To enable account recovery, add a phone
        number.{% endblocktranslate %}</p>

      <a href="{% url 'two_factor:profile' %}"
          class="float-right btn btn-link">{% translate "Back to Account Security" %}</a>
      <p><a href="{% url 'two_factor:phone_create' %}"
          class="btn btn-success">{% translate "Add Phone Number" %}</a></p>
    {% endif %}
  </div>
{% endblock %}
