{% extends "two_factor/_base_focus.html" %}

{% load i18n %}

{% block extra_media %}
  {{ form.media }}
{% endblock %}

{% block content %}
  <div class="container container--xs">
    <div class="page-header">
      <h1>{% block title %}{% trans "Enable Two-Factor Authentication" %}{% endblock %}</h1>
    </div>

    <div class="prose mb-5">
      {% if wizard.steps.current == 'welcome' %}
        <p>{% blocktrans trimmed %}Vous êtes sur le point d’augmenter la sécurité de votre compte. Suivez les étapes de cet assistant pour activer l’authentification à deux facteurs.{% endblocktrans %}</p>
      {% elif wizard.steps.current == 'method' %}
        <p>{% blocktrans trimmed %}Veuillez sélectionner la méthode d’authentification que vous souhaitez utiliser.{% endblocktrans %}</p>
      {% elif wizard.steps.current == 'generator' %}
        <p>{% blocktrans trimmed %}Pour commencer à utiliser un générateur de jetons, veuillez scanner le code QR ci-dessous. Par exemple avec l’application Google Authenticator.{% endblocktrans %}</p>
        <p><img src="{{ QR_URL }}" alt="QR Code" width="200" height="200" class="bg-white"/></p>
        <p>{% blocktrans trimmed %}Alternativement, vous pouvez utiliser le code secret ci-dessous pour configurer votre application d’authentification ou votre gestionnaire de mot de passe manuellement.{% endblocktrans %}</p>
        <p>{% translate "TOTP Secret:" %} {{ secret_key }}</p>
        <p>{% blocktrans %}Ensuite, entrez le code secret temporaire dans le champ ci-dessous.{% endblocktrans %}</p>
      {% elif wizard.steps.current == 'sms' %}
        <p>{% blocktrans trimmed %}Veuillez entrer le numéro de téléphone sur lequel vous souhaitez recevoir les messages. Ce numéro sera validé à l’étape suivante.{% endblocktrans %}</p>
      {% elif wizard.steps.current == 'call' %}
        <p>{% blocktrans trimmed %}Veuillez entrer le numéro de téléphone sur lequel vous souhaitez être appelé·e. Ce numéro sera validé à l’étape suivante.{% endblocktrans %}</p>
      {% elif wizard.steps.current == 'validation' %}
        {% if challenge_succeeded %}
          {% if device.method == 'call' %}
            <p>{% blocktrans trimmed %}Votre téléphone va sonner, veuillez entrer les chiffres que vous entendez ci-dessous.{% endblocktrans %}</p>
          {% elif device.method == 'sms' %}
            <p>{% blocktrans trimmed %}Nous vous avons envoyé un code par message sur votre téléphone, veuillez l’entrer ci-dessous.{% endblocktrans %}</p>
          {% endif %}
        {% else %}
          <p class="alert alert-warning" role="alert">{% blocktrans trimmed %}Une erreur s’est produite lors du choix de la méthode d’authentification. Veuillez revenir en arrière et vérifier que les données que vous avez entrées sont correctes. Essayez à nouveau, ou tentez une autre méthode d’authentification. Si le problème persiste, contactez votre administrateur.{% endblocktrans %}</p>
        {% endif %}
      {% elif wizard.steps.current == 'yubikey' %}
        <p>{% blocktrans trimmed %}Pour vous identifier et vérifier votre clé d’accès, veuillez entrer son code dans le champ ci-dessous. Votre clé d'accès sera ensuite liée à votre compte.{% endblocktrans %}</p>
      {% endif %}
    </div>

    <form action="" method="post">{% csrf_token %}
      {% include "two_factor/_wizard_forms.html" %}
      {% include "two_factor/_wizard_actions.html" %}
    </form>
  </div>
{% endblock %}
