{% load i18n submissions_extras %}

<div class="flex gap-3">
  {% can_download_archive as can_download %}
  {% if can_download %}
    <a title="{% translate 'Télécharger' %}" href="{% url 'submissions:archived_submission_download' record.pk %}" class="btn btn--text">
      {% include "_icon.html" with id="download" class="icon--75" %}
    </a>
  {% endif %}

  {% if record.archivist == request.user or request.user.is_superuser %}
    <a title="{% translate 'Supprimer' %}" href="{% url 'submissions:archived_submission_delete' record.pk %}" class="btn btn--text">
      {% include "_icon.html" with id="trash" class="icon--75" %}
    </a>
  {% endif %}
</div>
