{% load i18n %}
{% load submissions_extras permits_extras %}

<div class="flex items-center gap-4">
  {% if record.permitsubmission %}
    {# TODO RESTRICTIONS TO VIEW A PERMIT REQUEST (NO ASSIGNATION) #}
    <a title="{% translate 'Voir' %}" href="{% url 'permits:permit_submission_detail:current' record.id %}" class="btn btn--icon">
      {% include "_icon.html" with id="eye" class="icon--75" %}
    </a>

    {# EDIT #}
    {% include "permits/_permit_submission_edit_btn.html" with submission=record %}

    {# DELETE #}
    {% if record.permitsubmission.author == request.user or request.user.is_superuser %}
      <a title="{% translate 'Supprimer' %}" href="{% url 'submissions:submission_delete' record.id %}" class="btn btn--icon">
        {% include "_icon.html" with id="trash" class="icon--75" %}
      </a>
    {% endif %}
  {% else %}
    {# VIEW #}
    {% if record.submission.author == request.user and not record.submission.can_be_edited_by_author or can_view %}
      {% if record.status is not 0 %}
        <a title="{% translate 'Voir' %}" href="{% url 'submissions:submission_detail' record.id %}" class="btn btn--icon">
          {% include "_icon.html" with id="eye" class="icon--75" %}
        </a>
      {% endif %}
    {% endif %}

    {# EDIT #}
    {% can_always_be_updated as can_update %}
    {% if record.submission.author == request.user and record.submission.can_be_edited_by_author or request.user.is_superuser or perms.submissions.edit_submission and record.submission.can_be_edited_by_pilot or can_update %}
      <a title="{% translate 'Modifier' %}" href="{% if record.submission.get_selected_forms %}{% url 'submissions:submission_fields' record.id %}{% else %}{% url 'submissions:submission_select_forms' record.id %}{% endif %}" class="btn btn--icon">
        {% include "_icon.html" with id="pencil" class="icon--75" %}
      </a>
    {% endif %}

    {# SEND #}
    {% if record.submission.author == request.user or request.user.is_superuser %}
      {% if record.submission.can_be_submitted_by_author %}
        <a title="{% translate 'Envoyer' %}" href="{% url 'submissions:submission_submit' record.id %}" class="btn btn--icon">
          {% include "_icon.html" with id="send" class="icon--75" %}
        </a>
      {% endif %}
    {% endif %}

    {# DELETE #}
    {% if record.submission.author == request.user or request.user.is_superuser %}
      {% if record.submission.can_be_deleted_by_author %}
        <a title="{% translate 'Supprimer' %}" href="{% url 'submissions:submission_delete' record.id %}" class="btn btn--icon">
          {% include "_icon.html" with id="trash" class="icon--75" %}
        </a>
      {% endif %}
    {% endif %}

    {# ASK DELAY #}
    {% if record.submission.can_be_prolonged %}
      {% if record.submission.can_prolongation_be_requested %}
        {% if record.submission.author == request.user %}
          <a title="{% translate 'Demander une prolongation' %}" href="{% url 'submissions:submission_prolongation' record.id %}" class="btn btn--icon">
            {% include "_icon.html" with id="clock" class="icon--75" %}
          </a>
        {% endif %}
      {% else %}
        {# This icons might as well be shown to other users #}
        {% if record.submission.prolongation_status == record.submission.PROLONGATION_STATUS_PENDING %}
          <div title="{% translate 'Prolongation en attente' %} ({{ record.submission.prolongation_date }})">
            {% include "_icon.html" with id="clock" class="icon--75 text-warning-500" %}
          </div>
        {% elif record.submission.prolongation_status == record.submission.PROLONGATION_STATUS_REJECTED %}
          <div title="{% translate 'Prolongation refusée' %}">
            {% include "_icon.html" with id="clock" class="icon--75 text-danger-500" %}
          </div>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
</div>
