{% load i18n %}
{% load submissions_extras %}

{% can_revert_refund_transaction as can_revert_refund %}
{% can_refund_transaction as can_refund %}

<div>{{ record.get_status_display }}</div>

{% if can_revert_refund or can_refund %}
  {% if record.status != 'failed' and record.can_have_status_changed %}
    <div class="mt-2 flex gap-3 items-center">
      <select class="field field--sm w-auto" id="payment-status-change-select-{{ record.transaction_id }}">
        <option value=""></option>
        {% if can_refund %}
          {% if record.status != 'to_refund' and record.status != 'refunded' and record.status != 'failed' %}
            <option value="to_refund">{% translate "À rembourser" %}</option>
          {% endif %}
          {% if record.status != 'refunded' and record.status != 'failed' %}
            <option value="refunded">{% translate "Remboursée" %}</option>
          {% endif %}
        {% endif %}
        {% if can_revert_refund and record.status != 'paid' and record.status != 'failed' %}
          <option value="paid">{% translate "Payée" %}</option>
        {% endif %}
      </select>

      <button class="btn btn--icon" data-role="change-payment-status" data-href="{% url 'submissions:change_transaction_status' record.transaction_id %}" data-merchant-reference="{{ record.transaction_id }}" title="{% translate "Sauvegarder" %}">
        {% include "_icon.html" with id="save" class="icon--75" %}
      </button>
    </div>
  {% endif %}
{% endif %}
