{% regroup record.forms.all by category as categories %}

<div class="grid gap-2">
  {% for category in categories %}
    <div>
      <div class="text-xs text-grey-500">{{ category.grouper }}</div>

      {% for object in category.list %}
        <div>
          {% if record.form_filter == object.id|stringformat:"i"  %}<mark>{% endif %}
            {{ object.name }}
          {% if record.form_filter == object.id|stringformat:"i" %}</mark>{% endif %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
