{% load i18n submissions_extras %}

<span class="text-nowrap">
  {% if record.prolongation_date and record.prolongation_status == record.PROLONGATION_STATUS_APPROVED %}
    {% if record.ends_at_max %}
      <del>{{ record.ends_at_max|date:"d.m.Y" }}</del><br>
    {% endif %}
    <ins>{{ record.prolongation_date|date:"d.m.Y" }}</ins>
  {% else %}
    {% if record.ends_at_max %}
      {{ record.ends_at_max|date:"d.m.Y" }}
    {% else %}
    —
    {% endif %}
  {% endif %}

  {% is_expired %}
</span>
