{% load i18n %}

{% if record.is_submission and record.submission.forms %}
  {% regroup record.submission.forms.all by category as categories %}
  <div class="grid gap-2">
    {% for category in categories %}
      <div>
        <div class="text-xs text-grey-500">{{ category.grouper }}</div>

        {% for object in category.list %}
          <div>
            {% if record.submission.form_filter == object.id|stringformat:"i"  %}<mark>{% endif %}
              {{ object.name }}
            {% if record.submission.form_filter == object.id|stringformat:"i" %}</mark>{% endif %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% elif record.is_permitsubmission %}
  <div>
    <div class="text-xs text-grey-500">{% trans "Demande de permis de construire" %}</div>
    <div>{{ record.permitsubmission.submission_type_label }}</div>
  </div>
{% endif %}
