{% load i18n submissions_extras %}

<div class="flex items-center gap-4">
  <a href="{% url 'submissions:submission_service_fees' submission_id=submission.pk service_fee_id=record.id %}?action=update" title="{% translate 'Modifier la prestation' %}" class="btn btn--icon">
      {% include "_icon.html" with id="pencil" class="icon--75" %}
  </a>
  <a href="{% url 'submissions:submission_service_fees' submission_id=submission.pk service_fee_id=record.id %}?action=delete" title="{% translate 'Supprimer la prestation' %}" class="btn btn--icon">
      {% include "_icon.html" with id="trash" class="icon--75" %}
  </a>
</div>
