{% load django_tables2 %}
{% load i18n l10n %}

{% block table-wrapper %}
  {% block table %}
    <div class="table-container table-container--default">
      <table {% render_attrs table.attrs %}>
        {% block table.thead %}
          {% if table.show_header %}
          <thead {{ table.attrs.thead.as_html }}>
            <tr>
              {% for column in table.columns %}
              <th {{ column.attrs.th.as_html }}>
                {% if column.orderable %}
                  <a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}" class="group inline-flex items-center gap-1 no-underline">
                    {{ column.header }}<span class="whitespace-nowrap">
                      {% if column.is_ordered %}
                        <span class="inline-block leading-none p-0.5 rounded-full bg-primary-200">
                          {% if column.order_by_alias.is_descending %}
                            {% include "_icon.html" with id="arrow-down" class="icon--75 text-primary-800" %}
                          {% else %}
                            {% include "_icon.html" with id="arrow-up" class="icon--75 text-primary-800" %}
                          {% endif %}
                        </span>
                      {% else %}
                        {% include "_icon.html" with id="chevrons-up-down" class="icon--75 text-grey-400 group-hover:text-grey-900" %}
                      {% endif %}
                    </span>
                  </a>
                {% else %}
                  {{ column.header }}
                {% endif %}
              </th>
              {% endfor %}
            </tr>
          </thead>
          {% endif %}
        {% endblock table.thead %}

        {% block table.tbody %}
          <tbody {{ table.attrs.tbody.as_html }}>
            {% for row in table.paginated_rows %}
              {% block table.tbody.row %}
                <tr {{ row.attrs.as_html }}>
                  {% for column, cell in row.items %}
                    <td {{ column.attrs.td.as_html }}>{% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>
                  {% endfor %}
                </tr>
              {% endblock table.tbody.row %}
            {% empty %}
              {% block table.tbody.empty_text %}
                <tr>
                  <td colspan="{{ table.columns|length }}" class="text-center">
                    {% if table.empty_text %}
                      {{ table.empty_text }}
                    {% else %}
                      {% translate "Aucune entrée à afficher." %}
                    {% endif %}
                  </td>
                </tr>
              {% endblock table.tbody.empty_text %}
            {% endfor %}
          </tbody>
        {% endblock table.tbody %}

        {% block table.tfoot %}
          {% if table.has_footer %}
            <tfoot {{ table.attrs.tfoot.as_html }}>
              <tr>
                {% for column in table.columns %}
                <td {{ column.attrs.tf.as_html }}>{{ column.footer }}</td>
                {% endfor %}
              </tr>
            </tfoot>
          {% endif %}
        {% endblock table.tfoot %}
      </table>
    </div>
  {% endblock table %}

  {% block pagination %}
    {% if table.page and table.paginator.num_pages > 1 %}
      <div class="flex gap-x-3 items-center justify-between mt-6">
        <div>
          {% if table.page.has_previous %}
            {% block pagination.previous %}
              <a href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}" class="btn btn--default btn--sm">
                {% include "_icon.html" with id="chevron-left" class="icon--75" %}
                {% trans 'Précédent' %}
              </a>
            {% endblock pagination.previous %}
          {% endif %}
        </div>

        {% if table.page.has_previous or table.page.has_next %}
          {% block pagination.range %}
            <ul class="flex flex-wrap items-center gap-2">
              {% for p in table.page|table_page_range:table.paginator %}
                <li>
                  {% if p == '...' %}
                    {{ p }}
                  {% else %}
                    <a href="{% querystring table.prefixed_page_field=p %}" class="btn min-w-8 py-1 px-2 rounded-full hover:bg-grey-200{% if p == table.page.number %} font-bold text-primary-800 bg-primary-200{% endif %}">
                      {{ p }}
                    </a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endblock pagination.range %}
        {% endif %}

        <div>
          {% if table.page.has_next %}
            {% block pagination.next %}
              <a href="{% querystring table.prefixed_page_field=table.page.next_page_number %}" class="btn btn--default btn--sm">
                {% trans 'Suivant' %}
                {% include "_icon.html" with id="chevron-right" class="icon--75" %}
              </a>
            {% endblock pagination.next %}
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endblock pagination %}
{% endblock table-wrapper %}
