.ol-mouse-position {
  position: absolute !important;
  top: 92% !important;
  right: 116px !important;
  background-color: #fffff4aa !important;
  font-size: 0.8em;
}

.switchbaselayers {
  border-radius: 3px;
  border: 3px solid #ebe834;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 10;
}

.switchbaselayers:hover {
  box-shadow: 0 0 2px 2px yellow;
  cursor: pointer;
}

.invalid-feedback {
  display: inline !important;
  font-weight: bold;
}

[data-role='outOfAdministrativeLimits'] {
  background-color: #f5d142;
  border-radius: 3px;
  border: 3px solid #f5bf42;
  position: absolute;
  left: 160px;
  bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: arial;
  z-index: 10;
  opacity: 80%;
}

.manual-coordinates input {
  width: 120px;
}

.map-buttons a {
  margin-top: 10px;
}

.buttons-text {
  font-size: 12.7px;
}

.map-buttons button {
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .map-buttons button {
    flex-direction: row;
  }
}
