{% extends "base_generic.html" %}

{% load static i18n %}

{% block content %}
<div class="container container--sm">
  <div class="page-header">
    <h1>{% translate "Mon compte" %}</h1>
  </div>

  <form method="POST" action="" enctype="multipart/form-data" novalidate>
    {% csrf_token %}

    {% if django_user_form %}
      <div class="mb-5">
        {% include "django/forms/horizontal.html" with form=django_user_form %}
      </div>
    {% endif %}

    {% if user_profile_form %}
      <div class="mb-5">
        {% include "django/forms/horizontal.html" with form=user_profile_form %}
      </div>
    {% endif %}

    <div class="form-actions form-actions--separated form-actions--emphased">
      <button type="submit" class="btn btn--primary">{% translate "Enregistrer" %}</button>
      <span class="form-actions__spacer"></span>
      <a href="{% url 'submissions:submissions_list' %}" class="btn btn--text">{% translate "Annuler" %}</a>
    </div>
  </form>
</div>
{% endblock %}
