:root {
  /**
   * General scale
   * https://utopia.fyi/type/calculator?c=320,16,1.2,1340,20,1.25,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
   */
  --step-0: clamp(1rem, 1rem + 0vw, 1rem);
  --step-1: clamp(1.067rem, 1.0488rem + 0.091vw, 1.125rem);
  --step-2: clamp(1.1385rem, 1.0986rem + 0.1994vw, 1.2656rem);
  --step-3: clamp(1.2148rem, 1.1492rem + 0.3279vw, 1.4238rem);
  --step-4: clamp(1.2962rem, 1.2003rem + 0.4795vw, 1.6018rem);
  --step-5: clamp(1.383rem, 1.2515rem + 0.6573vw, 1.802rem);

  /**
   * Color palettes
   */
  --color-grey-50: #f8fafc;
  --color-grey-100: #f1f5f9;
  --color-grey-200: #e2e8f0;
  --color-grey-300: #cbd5e1;
  --color-grey-400: #94a3b8;
  --color-grey-500: #64748b;
  --color-grey-600: #475569;
  --color-grey-700: #334155;
  --color-grey-800: #1e293b;
  --color-grey-900: #0f172a;

  --color-primary-50: #ffffff;
  --color-primary-100: #e5fffa;
  --color-primary-200: #bdfff2;
  --color-primary-300: #8affe8;
  --color-primary-400: #57ffdd;
  --color-primary-500: #24ffd3;
  --color-primary-600: #00f0c0;
  --color-primary-700: #00bd97;
  --color-primary-800: #008c6f;
  --color-primary-900: #005745;

  /**
   * Theming
   */
  --text-color: var(--color-grey-900);
  --field-border-color: var(--color-grey-300);
  --field-shadow: theme('boxShadow.sm') inset;

  --navbar-height: 60px;

  @screen lg {
    --navbar-height: 70px;
  }
}
