.alert {
  padding: theme('spacing.3') theme('spacing.5');

  /* Alerts can contain long words like file paths */
  overflow-wrap: anywhere;

  border-radius: theme('borderRadius.DEFAULT');
}

.alert--info {
  color: theme('colors.info.800');

  border-left: 5px solid theme('colors.info.600');
  background-color: theme('colors.info.100');
}

.alert--warning {
  color: theme('colors.warning.800');

  border-left: 5px solid theme('colors.warning.600');
  background-color: theme('colors.warning.100');
}

.alert--danger {
  color: theme('colors.danger.800');

  border-left: 5px solid theme('colors.danger.600');
  background-color: theme('colors.danger.100');
}

.alert--success {
  color: theme('colors.success.800');

  border-left: 5px solid theme('colors.success.600');
  background-color: theme('colors.success.100');
}
