.autosave-notifier {
  display: none;
  align-items: center;
  gap: theme('spacing.3');
  padding: theme('spacing.2') theme('spacing.5');

  position: fixed;
  left: 50%;
  top: 0;
  z-index: 20;

  color: theme('colors.green.800');
  white-space: nowrap;

  background-color: theme('colors.green.200');
  border-radius: 100px;
  @apply ring-1 ring-green-300 shadow-lg;

  transition-behavior: allow-discrete;
  transition-property: display, opacity, transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.34, 0.98, 0.75, 1);

  &.is-visible {
    display: flex;
    opacity: 1;
    transform: translateX(-50%)
      translateY(calc(var(--navbar-height) + theme('spacing.6')));

    @starting-style {
      opacity: 0;
      transform: translateX(-50%);
    }
  }
}
