.badge {
  display: inline-flex;
  gap: theme('spacing.2');
  padding: theme('spacing.1') theme('spacing.3');

  font-size: theme('fontSize.sm');
  font-weight: 500;
  line-height: 1.2;
  white-space: nowrap;
  color: theme('colors.grey.800');

  border-radius: theme('borderRadius.full');
  background-color: theme('colors.grey.100');
  @apply ring-1 ring-grey-200;
}

.badge--info {
  color: theme('colors.info.800');

  background-color: theme('colors.info.100');
  @apply ring-1 ring-info-200;
}

.badge--warning {
  color: theme('colors.warning.800');

  background-color: theme('colors.warning.100');
  @apply ring-1 ring-warning-200;
}

.badge--danger {
  color: theme('colors.danger.800');

  background-color: theme('colors.danger.100');
  @apply ring-1 ring-danger-200;
}

.badge--success {
  color: theme('colors.success.800');

  background-color: theme('colors.success.100');
  @apply ring-1 ring-success-200;
}
