.btn-group {
  display: flex;

  > .btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  > .btn:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn + .btn {
    margin-left: -1px;
  }

  .btn--primary + .btn--primary {
    border-left-color: var(--color-primary-800);
  }

  /* Ensure current button border is not covered by a sibling */
  .btn.is-current,
  .btn:hover,
  .btn:focus,
  .btn:has(input:checked) {
    position: relative;
  }
}
