.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: theme('spacing.2');

  text-decoration: none;

  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.btn--default,
.btn--primary {
  padding: theme('spacing.2') theme('spacing.5');

  font-weight: 600;

  border: 1px solid transparent;
  border-radius: 21px;
  box-shadow: theme('boxShadow.sm');

  &.btn--sm {
    padding: theme('spacing.1') theme('spacing.3');
    border-radius: 16px;
  }
}

.btn--default {
  color: var(--text-color);

  border-color: var(--color-grey-300);
  background-color: white;

  &:not(:disabled):hover {
    border-color: var(--color-grey-400);
  }

  details[open] > &,
  &.is-popover-open {
    background-color: var(--color-grey-300);

    border-color: var(--color-grey-400);
    box-shadow: theme('boxShadow.inner');
  }

  &.is-current,
  &:has(input:checked) {
    background-color: var(--color-primary-100);

    color: var(--color-primary-900);

    border-color: var(--color-primary-700);
    box-shadow: theme('boxShadow.inner');
  }

  &:disabled,
  &:has(input:disabled) {
    color: var(--color-grey-600);

    background-color: var(--color-grey-200);
    border-color: var(--color-grey-300);
    box-shadow: none;
  }

  > .icon {
    color: var(--color-grey-500);
  }
}

.btn--primary {
  color: white;

  background-color: var(--color-primary-800);
  background-image: linear-gradient(
    to bottom,
    var(--color-primary-700),
    var(--color-primary-800)
  );
  background-clip: border-box;
  background-size: calc(100% + 2px) calc(100% + 2px);
  background-position: -1px -1px;

  &:not(:disabled):hover {
    border-color: var(--color-primary-900);
  }

  &:disabled {
    opacity: 0.5;
  }

  > .icon {
    color: var(--color-primary-200);
  }
}

.btn--text,
.btn--icon {
  color: var(--color-grey-600);
  font-weight: 600;

  &:disabled {
    color: var(--color-grey-400);
  }

  &:not(:disabled):hover,
  details[open] > &,
  &.is-popover-open {
    color: var(--text-color);
  }
}

.btn--icon {
  position: relative;
  isolation: isolate;

  &::after {
    content: '';

    display: block;

    position: absolute;
    inset: -50%;
    z-index: -1;

    border-radius: 1000px;
  }

  &:hover::after {
    border-radius: 1000px;
    background-color: var(--color-grey-200);
  }
}

.btn--sm {
  font-size: theme('fontSize.sm');
}
