.card {
  border-radius: theme('borderRadius.DEFAULT');
  @apply ring-1 ring-grey-300 shadow;

  /* When card is a closed `details`, it crops the rounded corners and creates a double bottom border, let’s avoid that */
  details&:where(:not([open])) {
    .card__header {
      border-radius: theme('borderRadius.DEFAULT');
      border-bottom-color: transparent;
    }
  }

  /* When using card as a fieldset, ignore the legend as it breaks the layout.
   * Requires an extra child element with the class `card__header` within. */
  > legend {
    display: contents;
  }
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Height can vary if the header contain buttons or other higher elements
     than just a title. Let’s try to keep it similar everywhere. */
  min-height: 48px;
  padding: theme('spacing.2') theme('spacing.5');

  background-color: white;
  border-bottom: 1px solid var(--color-grey-300);
  border-top-left-radius: theme('borderRadius.DEFAULT');
  border-top-right-radius: theme('borderRadius.DEFAULT');
}

.card__title {
  font-size: theme('fontSize.base');
  font-weight: 600;
}

.card__body {
  padding: theme('spacing.5');
  background-color: var(--color-grey-50);

  border-bottom-left-radius: theme('borderRadius.DEFAULT');
  border-bottom-right-radius: theme('borderRadius.DEFAULT');

  &:first-child {
    border-top-left-radius: theme('borderRadius.DEFAULT');
    border-top-right-radius: theme('borderRadius.DEFAULT');
  }
}
