.card {
  --border-radius: theme('borderRadius.DEFAULT');

  display: flex;
  flex-direction: column;

  border-radius: var(--border-radius);
  @apply ring-1 ring-grey-300 shadow;

  /* When card is a closed `details`, it crops the rounded corners and creates a double bottom border, let’s avoid that */
  details&:where(:not([open])) {
    .card__header {
      border-radius: var(--border-radius);
      border-bottom-color: transparent;
    }
  }

  /* When using card as a fieldset, ignore the legend as it breaks the layout.
   * Requires an extra child element with the class `card__header` within. */
  > legend {
    display: contents;
  }
}

.card--highlight {
  --border-radius: theme('borderRadius.lg');

  .card__body {
    background-color: white;
  }
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Height can vary if the header contain buttons or other higher elements
     than just a title. Let’s try to keep it similar everywhere. */
  min-height: 48px;
  padding: theme('spacing.2') theme('spacing.5');

  background-color: white;
  border-bottom: 1px solid var(--color-grey-200);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.card__title {
  font-size: theme('fontSize.base');
  font-weight: 600;
}

.card__body {
  flex-grow: 1;

  padding: theme('spacing.5');
  background-color: var(--color-grey-50);

  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  &:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }
}
