.checkbox {
  appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;

  background-color: white;
  border: 1px solid var(--field-border-color);
  border-radius: 3px;
  box-shadow: var(--field-shadow);

  cursor: pointer;

  &:disabled {
    color: var(--color-grey-600);

    background-color: var(--color-grey-100);

    cursor: not-allowed;
  }

  &:checked {
    border-color: transparent;

    background-color: var(--color-primary-800);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.20692.793c.18747.187528.29279.44184.29279.707s-.10532.51947-.29279.707l-5 5c-.18753.18747-.44184.29279-.707.29279-.26517 0-.51947-.10532-.707-.29279l-2.000001-2c-.182158-.1886-.282953-.4412-.280674-.7034.002278-.2622.107447-.51301.292855-.69842s.43622-.29058.69842-.29285c.26219-.00228.5148.09851.7034.28067l1.293 1.293 4.293-4.293c.18753-.187471.44183-.292786.707-.292786.26516 0 .51947.105315.707.292786z' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 10px;

    &:disabled {
      opacity: 0.5;
    }
  }
}
