.checklist {
  display: grid;
  gap: theme('spacing.4');
}

.checklist__label {
  display: flex;
  gap: theme('spacing.3');

  color: var(--color-grey-700);
  font-size: theme('fontSize.sm');
  text-decoration: none;

  a&:hover {
    color: var(--text-color);
  }

  .checkbox {
    margin-top: 1px;
  }
}
