:root {
  --container-gap: 20px;

  @screen lg {
    --container-gap: 40px;
  }

  @screen xl {
    --container-gap: 60px;
  }
}

@layer components {
  .container {
    display: grid;
    align-content: start;
    grid-template-columns: minmax(0, 1fr);

    width: 100%;
    max-width: var(--_max-width);
    padding-inline: var(--container-gap);
    margin-inline: auto;

    /* Grid creates unexpected page break when printing */
    @media print {
      display: block;
    }
  }

  .container--xs {
    --_max-width: 620px;
  }

  .container--sm {
    --_max-width: 960px;
  }

  .container--default {
    --_max-width: 1140px;
  }

  .container--lg {
    --_max-width: 1280px;
  }
}
