.dialog {
  flex-direction: column;
  margin: auto;
  max-width: calc(100% - 6vw);
  max-height: calc(100% - 6vw);

  background-color: white;
  border-radius: theme('borderRadius.xl');
  box-shadow: theme('boxShadow.xl');

  &[open] {
    display: flex;
  }

  &::backdrop {
    background-color: theme('colors.primary.900');
    opacity: 0.75;
  }
}

.dialog--full {
  width: 100%;
  height: 100%;
}

.dialog--sm {
  width: 400px;
}

.dialog__header,
.dialog__content,
.dialog__footer {
  padding: theme('spacing.4') theme('spacing.6');
}

.dialog__header,
.dialog__footer {
  display: flex;
}

.dialog__header {
  align-items: center;
  border-bottom: 1px solid var(--color-grey-300);
}

.dialog__title {
  font-size: theme('fontSize.lg');
}

.dialog__close-btn {
  margin-left: auto;
}

.dialog__footer {
  border-top: 1px solid var(--color-grey-300);
}

.dialog__content {
  flex: 1 1 auto;
}
