.dropdown {
  padding-block: theme('spacing.1');

  background-color: white;
  border-radius: 5px;
  box-shadow:
    0 0 1px var(--color-grey-300),
    theme('boxShadow.DEFAULT');
}

.dropdown__item {
  width: 100%;
  justify-content: start;
  padding: theme('spacing.2') theme('spacing.4');

  text-align: left;

  a&:hover,
  button&:hover,
  &[role='menuitemcheckbox']:hover,
  &.is-selected {
    background-color: var(--color-grey-100);
  }

  &.is-current {
    color: var(--color-primary-800);

    border-color: var(--color-primary-800);

    .icon {
      color: var(--color-primary-800);
    }
  }
}

.dropdown__divider {
  margin-block: theme('spacing.1');
}
