.feed {
  display: grid;
}

.feed__item {
  padding-left: theme('spacing.8');

  position: relative;

  &:where(:not(:last-child)) {
    padding-bottom: theme('spacing.4');

    &::before {
      content: '';
      width: 1px;
      height: calc(100% - theme('spacing.5'));

      position: absolute;
      top: theme('spacing.5');
      bottom: 0;
      left: theme('spacing.2');

      background-color: var(--color-grey-300);
    }
  }

  &::after {
    content: '';
    width: 9px;
    height: 9px;

    position: absolute;
    top: 0.35em;
    left: theme('spacing.1');

    border: 1px solid var(--color-grey-400);
    background-color: var(--color-grey-200);
    border-radius: 50%;
  }
}
