.field-group {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  row-gap: theme('spacing.2');

  &:has(> .checkbox, > .radio) {
    grid-template-columns: minmax(0, auto) minmax(0, 1fr);
    column-gap: theme('spacing.3');

    > * {
      grid-column-start: 2;
    }

    > .checkbox,
    > .radio {
      grid-column-start: 1;
      grid-row-start: 1;
    }
  }

  /* We want to apply the containerization sparingly as it breaks layout
      capacities in a lot of contexts otherwise. */
  &:has(.file-input) {
    container-type: inline-size;
    container-name: field-group;
  }

  @container form-horizontal (width > 640px) {
    .form--horizontal > & {
      grid-template-columns: minmax(0, 33%) minmax(0, auto) !important;
      align-items: start;
      column-gap: theme('spacing.3');

      > * {
        grid-column: 2;
      }

      > .label {
        grid-column: 1;
      }

      &:has(> .checkbox, > .radio) {
        > .label {
          grid-column: 1;
        }

        > .checkbox,
        > .radio {
          grid-column-start: 2;
        }
      }
    }
  }

  /* Better align inputs with non-bold labels */
  &:not(:has(.label)) {
    > .checkbox,
    > .radio {
      margin-top: 2px;
    }
  }

  /* Browser style for the legend element is impossible to override completely
     so let’s just get rid of its behavior and style a child element instead */
  > legend {
    display: contents;
  }
}

.field-group--has-errors {
  --field-border-color: theme('colors.danger.700');
}

.field-help {
  color: var(--color-grey-600);
  font-size: theme('fontSize.sm');
}
