.field {
  --input-x-padding: theme('spacing.3');

  display: block;
  width: 100%;
  min-height: 42px;
  padding: theme('spacing.2') var(--input-x-padding);

  color: var(--text-color);

  background: white;
  border: 1px solid var(--field-border-color);
  border-radius: theme('borderRadius.DEFAULT');
  box-shadow: var(--field-shadow);

  &[type='search'] {
    &::-webkit-search-cancel-button {
      display: none;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration,
    &::-ms-clear {
      display: none;
    }
  }

  /* Fix datetime inputs height in Safari */
  &::-webkit-datetime-edit {
    line-height: 1;
    padding: 0;
    vertical-align: -3px;
  }

  &:disabled,
  &[readonly],
  &.is-readonly {
    color: var(--color-grey-600);

    background-color: var(--color-grey-100);

    cursor: not-allowed;
  }
}

select.field,
.field--select {
  --select-icon-width: 24px;

  &:where(:not([multiple])) {
    appearance: none;

    padding-right: calc(
      (var(--input-x-padding) * 2) + var(--select-icon-width)
    ); /* Prevent overlap with background icon */

    text-overflow: ellipsis;

    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 15.8c-.2 0-.4-.1-.5-.2l-6-6c-.3-.3-.3-.8 0-1.1s.8-.3 1.1 0l5.5 5.5 5.5-5.5c.3-.3.8-.3 1.1 0s.3.8 0 1.1l-6 6c-.3.1-.5.2-.7.2z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - var(--input-x-padding, 0px)) center;
    background-size: var(--select-icon-width) 24px;
  }

  &[readonly],
  &.is-readonly {
    pointer-events: none;
  }
}

.field--sm {
  --input-x-padding: theme('spacing.2');

  padding-block: theme('spacing.1');

  font-size: theme('fontSize.sm');
}
