.file-input {
  display: flex;
  flex-direction: column;
  width: 100%;

  .btn {
    flex-shrink: 0;
    border-color: var(--field-border-color);
  }

  @container field-group (width > 500px) {
    flex-direction: row;
  }
}

.file-input__selection {
  flex: 1 1 auto;

  align-content: center;
  padding: theme('spacing.7') theme('spacing.6') theme('spacing.2');
  margin-top: -21px;
  overflow: hidden;

  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;

  background-color: var(--color-grey-200);
  border-radius: 0 0 21px 21px;

  @container field-group (width > 500px) {
    padding-top: theme('spacing.2');
    padding-left: theme('spacing.10');
    margin-top: 0;
    margin-left: -21px;

    border-radius: 0 21px 21px 0;
  }
}
