.follow-up {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: theme('spacing.2');

  position: relative;

  &::before {
    content: '';
    display: block;
    width: 2px;

    position: absolute;
    left: 28px;
    top: theme('spacing.2');
    bottom: theme('spacing.2');

    background-color: var(--color-grey-300);
  }
}

.follow-up-step {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  gap: theme('spacing.2') theme('spacing.4');

  &.is-current {
    .follow-up-step__header {
      background-color: white;
      box-shadow: theme('boxShadow.DEFAULT');
    }

    .follow-up-step__number {
      --shadow-color: white;
    }

    .follow-up-step__number {
      --text-color: var(--color-primary-800);
      --border-color: var(--color-primary-800);
    }

    .follow-up-step__label {
      color: var(--text-color);
    }

    .checklist {
      margin-top: theme('spacing.2');
    }
  }

  &.is-completed {
    .follow-up-step__number {
      --text-color: white;
      --bg-color: var(--color-primary-800);
      --border-color: var(--color-primary-800);
    }
  }

  &:not(.is-current):has(a:hover) {
    .follow-up-step__header {
      background-color: var(--color-grey-200);
    }

    .follow-up-step__number {
      --shadow-color: var(--color-grey-200);
    }
  }

  .checklist {
    grid-column: 2 / -1;
    margin-bottom: theme('spacing.3');
  }
}

.follow-up-step__header {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  column-gap: theme('spacing.4');

  padding: theme('spacing.2') theme('spacing.4') theme('spacing.2')
    theme('spacing.2');

  position: relative;

  border-radius: theme('borderRadius.full');
}

.follow-up-step__number,
.follow-up-step__label {
  grid-row-start: 1;
  align-content: center;
}

.follow-up-step__number {
  --bg-color: white;
  --border-color: var(--color-grey-300);
  --shadow-color: var(--color-grey-100);

  grid-column-start: 1;
  place-content: center;

  width: 42px;
  height: 42px;
  padding: theme('spacing.1');

  position: relative;

  color: var(--text-color);
  text-align: center;
  font-weight: bold;

  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  border-radius: 50%;
  box-shadow: 0 0 0 4px var(--shadow-color);
}

.follow-up-step__label {
  grid-column-start: 2;

  color: var(--color-grey-700);
  font-weight: 600;
  text-decoration: none;

  a&:hover {
    color: var(--text-color);
  }
}
