.form-actions {
  container-type: inline-size;

  width: 100%;
  margin-top: theme('spacing.6');

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: theme('spacing.4') theme('spacing.6');

  @media screen('max-xs') {
    .btn {
      width: 100%;
    }
  }
}

.form-actions--separated {
  padding-top: theme('spacing.6');
  margin-top: theme('spacing.6');

  border-top: 1px solid theme('colors.grey.300');
}

.form-actions--emphased {
  @media screen('sm') {
    flex-direction: row-reverse;
  }
}

.form-actions__spacer {
  flex-grow: 1;

  @media screen('max-xs') {
    display: none;
  }
}
