.form-layout {
  display: grid;

  @media screen('lg') {
    grid-template-columns: 1fr 400px minmax(auto, 1000px) 1fr;

    &::before,
    &::after {
      content: '';
      display: block;
    }

    &::before {
      background-color: var(--color-grey-200);
    }
  }
}

.form-layout__sidebar,
.form-layout__body {
  padding-block: theme('spacing.6');

  @media screen('md') {
    padding-block: theme('spacing.8');
  }
}

.form-layout__sidebar {
  overflow: clip;
  background-color: var(--color-grey-200);

  @media screen('lg') {
    padding-left: calc(var(--container-gap) - theme('spacing.4'));
  }
}

.form-layout__body {
  padding-inline: var(--container-gap);

  @media screen('lg') {
    border-left: 1px solid var(--color-grey-300);
    margin-left: -1px;
  }
}
