.form {
  display: grid;
  gap: theme('spacing.6');
}

.form--horizontal {
  container-type: inline-size;
  container-name: form-horizontal;
}

.form__extra {
  + .form__extra {
    margin-top: calc(theme('spacing.4') * -1);
  }
}

/* Add space below non_field_errors */
ul.nonfield {
  margin-bottom: theme('spacing.6');
}
