.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;

  vertical-align: -6px;

  fill: currentColor;

  pointer-events: none;

  * {
    vector-effect: non-scaling-stroke;
  }
}

.icon--50 {
  width: 12px;
  height: 12px;

  vertical-align: -1px;
}

.icon--75 {
  width: 18px;
  height: 18px;

  vertical-align: -3px;
}

details[open] .icon--chevron-down,
.is-popover-open .icon--chevron-down {
  transform: scaleY(-1);
}
