.loader {
  display: inline-block;
  width: 24px;
  height: 24px;

  border: 3px solid var(--color-grey-500);
  border-bottom-color: transparent;
  border-radius: 50%;

  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
