.metadata {
  display: grid;

  grid-template-columns: minmax(25%, auto) minmax(25%, 1fr);
}

.metadata--dense {
  .metadata__item {
    padding-block: theme('spacing.2');
  }
}

.metadata__item {
  display: grid;
  grid-column: span 2;
  grid-template-columns: subgrid;
  column-gap: theme('spacing.5');

  padding-block: theme('spacing.4');

  font-size: theme('fontSize.sm');

  .metadata--sm & {
    column-gap: theme('spacing.4');
    padding-block: theme('spacing.3');
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  + .metadata__item {
    border-top: 1px solid var(--color-grey-200);
  }

  dt {
    font-weight: 600;
    color: var(--color-grey-600);
  }
}

.metadata__title {
  grid-column: span 2;

  padding-top: theme('spacing.6');

  &:not(:has(+ .metadata__title)) {
    padding-bottom: theme('spacing.4');

    border-bottom: 1px solid var(--color-grey-300);
  }

  + .metadata__title {
    padding-top: theme('spacing.2');
  }
}
