.navbar {
  height: var(--navbar-height);

  display: flex;

  background-color: white;
  box-shadow: theme('boxShadow.md');

  @media (max-width: 450px) {
    .dropdown {
      width: auto;
      left: theme('spacing.2') !important;
      right: theme('spacing.2') !important;
    }
  }
}

.navbar__btn,
.mobile-nav__btn {
  .icon {
    color: var(--color-grey-500);
  }

  &.is-current {
    border-color: var(--color-primary-800);

    .icon {
      color: var(--color-primary-800);
    }
  }
}

.navbar__btn {
  height: var(--navbar-height);
  overflow: hidden;

  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;

  border-bottom: 4px solid transparent;

  &:hover,
  &.is-popover-open {
    border-bottom-color: currentColor;
  }
}

.mobile-nav__btn {
  width: 100%;
  padding: theme('spacing.2') theme('spacing.4');
  justify-content: start;
  column-gap: theme('spacing.3');

  border-left: 4px solid transparent;
}
