.panel {
  width: 100%;
  height: calc(100vh - var(--navbar-height));

  position: sticky;
  top: var(--navbar-height);
  z-index: 20;

  overflow-y: auto;
  overscroll-behavior: contain;

  background-color: white;

  @media screen('max-lg') {
    position: fixed;

    width: 90%;
    max-width: 600px;
  }

  @media screen('xl') {
    display: block;
    margin-block: calc(theme('spacing.8') * -1);
  }
}

.panel--right {
  border-left: 1px solid var(--color-grey-300);

  left: auto;
  right: 0;
}
