.prose {
  --tw-prose-bold: inherit;
  --tw-prose-bullets: inherit;
  --tw-prose-counters: inherit;
  --tw-prose-headings: inherit;
  --tw-prose-links: inherit;

  max-width: none;

  color: inherit;
}
