.radio {
  appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;

  background-color: white;
  border: 1px solid var(--field-border-color);
  border-radius: 50px;
  box-shadow: var(--field-shadow);

  cursor: pointer;

  &:disabled {
    color: var(--color-grey-600);

    background-color: var(--color-grey-100);

    cursor: not-allowed;
  }

  &:checked {
    border-width: 6px;
    border-color: var(--color-primary-800);
  }
}
