.stepper {
  display: grid;
  grid-template-columns: minmax(0, auto);
  gap: theme('spacing.2');

  position: relative;

  &::before {
    content: '';
    display: block;
    width: 2px;

    position: absolute;
    left: calc(theme('spacing.4') + 20px);
    top: theme('spacing.2');
    bottom: theme('spacing.2');

    background-color: var(--color-grey-300);
  }
}

.stepper-step {
  padding: theme('spacing.2') theme('spacing.4');

  position: relative;

  @media screen('lg') {
    border-top-left-radius: theme('borderRadius.DEFAULT');
    border-bottom-left-radius: theme('borderRadius.DEFAULT');
  }

  &.is-current {
    background-color: var(--color-grey-100);
    box-shadow: theme('boxShadow.DEFAULT');

    .stepper-step__number {
      color: var(--color-primary-800);
      border-color: var(--color-primary-800);
      box-shadow: none;
    }
  }

  &.is-disabled {
    color: var(--color-grey-500);

    .stepper-step__number {
      border-color: var(--color-grey-300);
    }
  }

  &:not(.is-current).is-enabled:hover {
    background-color: var(--color-grey-300);

    .stepper-step__number {
      box-shadow: 0 0 0 4px var(--color-grey-300);
    }
  }
}

.stepper-step__body {
  display: flex;
  gap: theme('spacing.4');
  align-items: center;
}

.stepper-step__number {
  flex-shrink: 0;
  place-content: center;

  width: 42px;
  height: 42px;
  padding: theme('spacing.1');

  position: relative;

  text-align: center;
  font-weight: bold;

  background-color: var(--color-grey-100);
  border: 2px solid var(--color-grey-400);
  border-radius: 50%;
  box-shadow: 0 0 0 4px var(--color-grey-200);
}
