.submission-status {
  display: flex;
  gap: theme('spacing.2');

  .icon {
    position: relative;
    top: -2px;
  }

  .icon--75 {
    top: 2px;
  }
}

.submission-status--neutral .icon {
  color: theme('colors.grey.400');
}

.submission-status--positive .icon {
  color: theme('colors.green.500');
}

.submission-status--pending .icon {
  color: theme('colors.amber.500');
}

.submission-status--negative .icon {
  color: theme('colors.red.500');
}

.submission-status--info .icon {
  color: theme('colors.blue.500');
}
