.table-container {
  overflow-x: auto;
}

.table-container--default {
  background-color: white;
  border-radius: theme('borderRadius.DEFAULT');
  @apply ring-1 ring-grey-300 shadow;
}

.table {
  min-width: 100%;

  font-size: theme('fontSize.sm');

  tr {
    border-bottom: 1px solid var(--color-grey-200);
  }

  td,
  th {
    padding: theme('spacing.4') theme('spacing.3');

    vertical-align: top;
  }

  th {
    text-align: left;
  }

  thead,
  tfoot {
    background-color: var(--color-grey-50);
  }

  thead {
    border-bottom-width: 2px;

    th {
      vertical-align: bottom;
    }
  }

  tfoot {
    border-top-width: 2px;
  }

  tbody,
  tfoot {
    tr {
      &:hover {
        background-color: var(--color-grey-50);
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.table-compact-column {
  width: 1px;
}
