.tabs {
  background-color: var(--color-grey-50);
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent 42px,
    var(--color-grey-200) 42px,
    var(--color-grey-200) 43px,
    transparent 43px
  );
  background-size: 100% 43px;
  background-position: bottom center;
}

.tab {
  justify-content: start;
  overflow: hidden;

  padding-top: theme('spacing.3');
  padding-bottom: theme('spacing.2');

  color: var(--color-grey-700);
  font-size: theme('fontSize.sm');
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;

  border-bottom: 2px solid transparent;

  &:hover {
    color: var(--text-color);
    border-bottom-color: currentColor;
  }

  &[aria-selected='true'] {
    color: var(--text-color);
    border-bottom-color: var(--color-primary-800);
  }
}

.tab-alt {
  justify-content: start;
  gap: theme('spacing.3');

  width: 100%;
  padding: theme('spacing.3') theme('spacing.5');

  color: var(--color-grey-700);
  font-weight: 600;
  white-space: nowrap;

  border-radius: 25px;

  .icon {
    color: var(--color-grey-400);
  }

  &:hover {
    color: var(--text-color);
    background-color: var(--color-grey-200);
  }

  &[aria-selected='true'] {
    color: var(--text-color);
    background-color: white;
    box-shadow: theme('boxShadow.DEFAULT');

    .icon {
      color: var(--color-primary-800);
    }
  }
}
