.toaster {
  display: grid;
  grid-template-columns: minmax(0, auto);
  gap: theme('spacing.4');

  width: calc(100% - var(--container-gap) * 2);
  max-width: 350px;

  position: fixed;
  top: theme('spacing.4');
  right: theme('spacing.4');
  z-index: 100;

  body:has(.navbar) & {
    top: calc(var(--navbar-height) + theme('spacing.4'));
  }

  .alert {
    box-shadow: theme('boxShadow.lg');

    /* Alerts are closable on click */
    cursor: pointer;
  }
}
