.uploader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: theme('spacing.4');

  min-height: theme('height.32');
  padding: theme('spacing.5');

  border: 2px dashed var(--color-grey-400);
  background-color: var(--color-grey-200);
  border-radius: theme('borderRadius.DEFAULT');

  &:hover,
  &.is-highlighted {
    border-color: var(--color-grey-500);
  }
}
