{% extends "two_factor/_base_focus.html" %}

{% load i18n %}

{% block content %}
  <div class="container container--xs">
    <div class="page-header">
      <h1>{% block title %}{% trans "Disable Two-factor Authentication" %}{% endblock %}</h1>
    </div>

    <p class="mb-6">{% blocktrans trimmed %}You are about to disable two-factor authentication. This
      weakens your account security, are you sure?{% endblocktrans %}</p>

    <form method="post">
      {% csrf_token %}

      {{ form }}

      <div class="form-actions form-actions--separated form-actions--emphased">
        <button class="btn btn--primary" type="submit">{% trans "Disable" %}</button>
      </div>
    </form>
  </div>
{% endblock %}
