{% extends "two_factor/_base.html" %}
{% load i18n %}

{% block content %}
  <div class="container container--xs">
    <div class="page-header">
      <h1>{% block title %}{% translate "Sécurité du compte" %}{% endblock %}</h1>
    </div>

    {% if default_device %}
      <div class="alert alert--success">
        {% if default_device_type == 'TOTPDevice' %}
          {% translate "Les jetons d’accès sont générés par votre application." %}
        {% elif default_device_type == 'PhoneDevice' %}
          {% blocktranslate with primary=default_device.generate_challenge_button_title %}Méthode principale: {{ primary }}{% endblocktranslate %}
        {% elif default_device_type == 'RemoteYubikeyDevice' %}
          {% blocktranslate %}Vos jetons sont générés par votre clé d’accès.{% endblocktranslate %}
        {% endif %}
      </div>

      {% if available_phone_methods %}
        <h2 class="mt-8 mb-2">{% translate "Numéros de téléphone de secours" %}</h2>
        <p class="mb-3">{% blocktranslate trimmed %}Si votre méthode principale n’est pas disponible, nous pouvons vous envoyer des codes de secours aux numéros de téléphone affichés ci-dessous.{% endblocktranslate %}</p>
        <ul class="grid gap-4">
          {% for phone in backup_phones %}
            <li class="flex gap-2">
              {{ phone.generate_challenge_button_title }}
              <form method="post" action="{% url 'two_factor:phone_delete' phone.id %}" onsubmit="return confirm('{% translate "Êtes-vous certain·e de vouloir supprimer ce numéro?" %}')">
                {% csrf_token %}
                <button class="btn btn--icon" type="submit" title="{% translate "Supprimer" %}">
                  {% include "_icon.html" with id="tras" %}
                </button>
              </form>
            </li>
          {% endfor %}
        </ul>
        <p class="mt-3">
          <a href="{% url 'two_factor:phone_create' %}" class="btn btn--default">{% translate "Ajouter un numéro" %}</a>
        </p>
      {% endif %}

      <h2 class="mt-8 mb-2">{% translate "Codes de secours" %}</h2>
      <p class="mb-3">
        {% blocktranslate trimmed %}
          Si vous n’avez aucun appareil sur vous, vous pouvez accéder à votre compte en utilisant des codes de secours.
        {% endblocktranslate %}
        {% blocktranslate trimmed count counter=backup_tokens %}
          Il ne vous reste plus qu’un seul code de secours.
        {% plural %}
          Il vous reste {{ counter }} codes de secours.
        {% endblocktranslate %}
      </p>
      <p><a href="{% url 'two_factor:backup_tokens' %}" class="btn btn--default">{% translate "Voir les codes" %}</a></p>

      <h2 class="mt-8 mb-2">{% translate "Désactiver l’authentification à deux facteurs" %}</h2>
      <p class="mb-3">{% blocktranslate trimmed %}Bien que cela soit fortement déconseillé, vous pouvez désactiver l’authentification à deux facteurs pour votre compte.{% endblocktranslate %}</p>
      <p><a class="btn btn--default" href="{% url 'two_factor:disable' %}">{% translate "Désactiver l’authentification à deux facteurs" %}</a></p>
    {% else %}
      <div class="prose">
        <p>{% blocktranslate trimmed %}L’authentification à deux facteurs n’est pas activée pour votre compte. Activez-la pour augmenter la sécurité de votre compte.{% endblocktranslate %}</p>
      </div>

      <div class="form-actions form-actions--separated form-actions--emphased">
        <a href="{% url 'two_factor:setup' %}" class="btn btn--primary">{% translate "Activer l’authentification à deux facteurs" %}</a>
        <span class="form-actions__spacer"></span>
        <a href="{% url 'submissions:submissions_list' %}{%if query_string %}?{{query_string}}{% endif %}" class="btn btn--text">{% translate "Plus tard" %}</a>
      </div>
    {% endif %}
  </div>
{% endblock %}
