{% extends "base_generic.html" %}

{% load i18n %}
{% load static %}

{% block stylesheets %}
  <style>
  @media (min-width: 769px) {
    body {
      {% if customization.background_image.url %}
        background-image: url("{{ customization.background_image.url }}");
      {% else %}
        background-image: url("{% static 'images/login_geocity.svg' %}");
      {% endif %}
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }

    .master {
      backdrop-filter: blur(5px);
    }
  }
  </style>
{% endblock %}

{% block header %}{% endblock %}

{% block main-class %}grid content-center{% endblock main-class %}

{% block content %}
  <div class="container container--default">
    <div id="login-content" class="lg:grid grid-cols-[60%_40%] box box--default overflow-hidden">
      <div class="p-6 lg:p-10 content-center">
        <div>
          <h1 class="mb-1 text-4xl" data-test="login-title">{{ customization.application_title|safe }}</h1>
          <div class="font-light text-2xl" data-test="login-subtitle">{{ customization.application_subtitle|safe }}</div>
        </div>
        <div class="mt-4 prose w-full overflow-x-auto" data-test="login-description">
          {{ customization.application_description|safe }}
        </div>
      </div>

      <div id="login-container" class="p-6 lg:p-10 content-center bg-grey-50 border-t lg:border-t-0 lg:border-l border-grey-300">
        <h2 class="mb-4">{% translate "Connexion" %}</h2>

        {% block login %}
          {% if next and user.is_authenticated %}
            <div class="mb-4 alert alert--danger">
              {% translate "Votre compte ne dispose pas des droits nécessaires pour accéder à cette page" %}
            </div>
          {% endif %}

          <form method="post" action="">
            {% csrf_token %}
            {{ wizard.management_form }}

            {{ form }}

            <div class="form-actions">
              <button id="login_button" class="btn btn--primary w-full" type="submit">{% translate "Connexion" %}</button>
            </div>
          </form>

          <div class="mt-6 grid gap-2">
            <a href="{% url 'accounts:user_profile_create' %}{% if query_string %}?{{ query_string }}{% endif %}">
              {% translate "Créer un compte" %}
            </a>
            <a href="{% url 'password_reset' %}">
              {% translate "Perdu votre mot de passe?" %}
            </a>
            {% include "registration/_social_login.html" %}
          </div>
        {% endblock login %}
      </div>
    </div>
  </div>
{% endblock %}
