{% extends "base_generic.html" %}

{% load i18n %}

{% block content %}
  <div class="container container--xs">
    <div class="page-header">
      <h1>{% translate "Mot de passe réinitialisé" %}</h1>
    </div>

    <p class="mb-4">{% translate "Le nouveau mot de passe a été défini avec succès" %}</p>

    <p>{% translate "Vous pouvez à nouveau vous rendre sur" %} <a href="{% url 'login' %}">la page de connexion</a>.</p>
  </div>
{% endblock %}
