{% extends "base_generic.html" %}

{% load i18n %}

{% block content %}
  <div class="container container--xs">
    <div class="page-header">
      <h1>{% translate "Message de réinitialisation envoyé" %}</h1>
    </div>

    <p class="mb-4">{% translate "Nous vous avons envoyé par e-mail les instructions pour changer de mot de passe, pour autant qu’un compte existe avec l’adresse que vous avez indiquée. Vous devriez rapidement le recevoir." %}</p>

    <p class="mb-4">{% translate "Si vous ne recevez pas cet e-mail, vérifiez que vous avez saisi l’adresse avec laquelle vous vous êtes enregistré et contrôlez votre dossier de spams." %}</p>

    <p>{% translate "Si malgré cela vous ne recevez toujours pas d’e-mail, veuillez contacter l’administrateur pour résoudre le problème." %}</p>

    <div class="form-actions form-actions--separated">
      <a href="{% url "login" %}" class="btn btn--text">{% translate "Retour" %}</a>
    </div>
  </div>
{% endblock %}
