{% extends "base_generic.html" %}

{% load i18n %}

{% block content %}
  <div class="container container--xs">
    <div class="page-header">
      <h1>{% translate "Réinitialiser votre mot de passe" %}</h1>
    </div>

    <p class="mb-4">{% translate "Saisissez votre e-mail ci-dessous et nous vous en enverrons un nouveau:" %}</p>

    <form method="POST">
      {% csrf_token %}

      {{ form }}

      <div class="form-actions form-actions--separated form-actions--emphased">
        <button type="submit" class="btn btn--primary">{% translate "Réinitialiser" %}</button>
        <span class="form-actions__spacer"></span>
        <a href="../../" class="btn btn--text">{% translate "Retour" %}</a>
      </div>
    </form>
  </div>
{% endblock %}
