{% extends "base_generic.html" %}

{% load static i18n %}

{% block content %}
  <div class="container container--sm">
    <div class="page-header">
      <h1>
        {% translate "Modifier mon mot de passe" %}
      </h1>
    </div>

    <form method="post">
      {% csrf_token %}

      {% include "django/forms/horizontal.html" with form=form %}

      <div class="form-actions form-actions--separated form-actions--emphased">
        <button class="btn btn--primary" type="submit">{% translate "Enregistrer" %}</button>
      </div>
    </form>
  </div>
{% endblock %}
