{% extends "base_generic.html" %}

{% load i18n %}

{% block content %}
  <div class="container container--xs">
    <div class="page-header">
      <h1>{% translate "Modification du mot de passe" %}</h1>
    </div>

    {% if validlink %}
      <form method="POST">
        {% csrf_token %}

        {{ form }}

        <div class="form-actions form-actions--separated form-actions--emphased">
          <button class="btn btn--primary" type="submit">{% translate 'Changer mon mot de passe' %}<button>
        </div>
      </form>
    {% else %}
      <p>{% translate "Le lien de réinitialisation du mot de passe est invalide, peut-être car il a déjà été utilisé. Merci de demander à nouveau une réinitialisation du mot de passe." %}</p>

      <div class="form-actions form-actions--separated form-actions--emphased">
        <a href="{% url 'password_reset' %}">{% translate 'Réessayer' %}</a>
      </div>
    {% endif %}
  </div>
{% endblock %}
