{% load i18n static %}

<button type="button" class="btn btn--text text-sm mb-3" popovertarget="table-columns">
  {% include "_icon.html" with id="columns-3" class="icon--75" %}
  {% translate "Affichage des colonnes" %}
  {% include "_icon.html" with id="chevron-down" class="icon--75" %}
</button>

<div id="table-columns" class="dropdown absolute top-full z-10" popover>
  <ul class="grid" role="menu">
    {% for column in table.columns %}
      {% if column.attrs.td.class not in table.get_column_excluded %}
        {% if column.attrs.td.class in table.get_column_default_show %}
          <li class="btn-shift-column dropdown__item flex items-center gap-3"
            data-td-class="{{ column.attrs.td.class }}"
            data-state="on"
            data-table-class-container="{{ table.uniq_table_class_name }}"
            role="menuitemcheckbox">
            <div>
              {% comment %}
              These images cannot be replaced by icons due to the selector in the plugin JavaScript
              {% endcomment %}
              <img
                src="{% static "django_tables2_column_shifter/img/check.png" %}"
                alt="loader"
                style="width:18px; height:18px;"
                class="ico check"
              />
              <img
                src="{% static "django_tables2_column_shifter/img/uncheck.png" %}"
                alt="loader"
                style="width:18px; height:18px; display: none;"
                class="ico uncheck"
              />
            </div>
            {{ column.header }}
          </li>
        {% else %}
          <li class="btn-shift-column dropdown__item flex items-center gap-3"
            data-td-class="{{ column.attrs.td.class }}"
            data-state="off"
            data-table-class-container="{{ table.uniq_table_class_name }}"
            role="menuitemcheckbox">
            <div>
              {% comment %}
              These images cannot be replaced by icons due to the selector in the plugin JavaScript
              {% endcomment %}
              <img
                src="{% static "django_tables2_column_shifter/img/check.png" %}"
                alt="loader"
                style="width:18px; height:18px; display:none;"
                class="ico check"
              />
              <img
                src="{% static "django_tables2_column_shifter/img/uncheck.png" %}"
                alt="loader"
                style="width:18px; height:18px;"
                class="ico uncheck"
              />
            </div>
            {{ column.header }}
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
