{% extends "accounts/user_profile_edit.html" %}

{% load i18n %}

{% block content %}
  <div class="container container--sm">
    <div class="page-header">
      <h1>{% translate "Mon compte (Géoportail / Dootix)" %}</h1>
      <p class="mt-2 text-grey-600">{% translate "Veuillez terminer votre inscription en complétant les champs ci-dessous." %}</p>
    </div>

    <form method="POST" action="" enctype="multipart/form-data" novalidate>
      {% csrf_token %}

      {% include "django/forms/horizontal.html" with form=form %}

      <div class="form-actions form-actions--separated form-actions--emphased">
        <button type="submit" class="btn btn--primary">{% translate "Sauvegarder" %}</button>
      </div>
    </form>
  </div>
{% endblock %}
