{% load core i18n %}

{% if widget.is_initial %}
  <div class="flex gap-3 mb-2 border-l-4 border-primary-800 pl-4">
    <div class="grid gap-2">
      <a href="{{ widget.value.url }}" class="link-primary">{{ widget.value|filename }}</a>
    {% if not widget.required %}
      <div class="field-group">
        <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}" class="checkbox"{% if widget.attrs.disabled %} disabled{% endif %}>
        <label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
      </div>
    {% endif %}
    </div>
  </div>
{% endif %}

<div class="file-input" data-role="custom-file-control">
  <div class="sr-only">
    <input type="{{ widget.type }}" name="{{ widget.name }}" data-role="custom-file-input"{% include "django/forms/widgets/attrs.html" %}>
  </div>
  <label for="{{ widget.attrs.id }}" class="btn btn--default relative">
    {% include "_icon.html" with id="folder-open" %}
    {% if widget.is_initial %}
      {% translate "Remplacer le fichier" %}
      {% else %}
      {% translate "Sélectionner un fichier" %}
    {% endif %}
  </label>
  <div data-role="custom-file-input-selection" class="file-input__selection" hidden></div>
</div>
