{% with id=widget.attrs.id %}
  <div{% if id %} id="{{ id }}"{% endif %} class="grid gap-2{% if widget.attrs.class %} {{ widget.attrs.class }}{% endif %}">
    {% for group, options, index in widget.optgroups %}
      {% comment %} We still want a group if the legend is an empty string {% endcomment %}
      {% if group is not None %}
        <fieldset class="card mt-2">
          {% if group %}
            <legend>
              <div class="card__header">
                <span class="card__title">{{ group }}</span>
              </div>
            </legend>
          {% endif %}

          <div class="card__body grid gap-2">
      {% endif %}
            {% for option in options %}
              {% include option.template_name with widget=option parent_id=id %}
            {% endfor %}
      {% if group is not None %}
          </div>
        </fieldset>
      {% endif %}
    {% endfor %}
  </div>
{% endwith %}
