{% if field.widget_type == "hidden" %}
  {{ field }}
{% else %}
  <{% if field.use_fieldset %}fieldset{% else %}div{% endif %}{% with classes=field.css_classes %} class="field-group{% if field.errors %} field-group--has-errors{% else %}{% for class in field.extra_classes %} {{ class }}{% endfor %}{% endif %}{% if classes %} {{ classes }}{% endif %}"{% endwith %}{% if field.use_fieldset %} aria-describedby="{{ field.auto_id }}-errors {{ field.auto_id }}-help"{% endif %}>
    {% if field.widget_type == 'checkbox' or field.widget_type == 'radio' %}
      {{ field }}
    {% endif %}

    {% if field.label %}
      {% if field.use_fieldset %}
        <legend>
          <span class="label">
            {{ field.label }}{% include "django/forms/_input_required.html" with field=field %}
          </span>
        </legend>
      {% else %}
        <label for="{{ field.id_for_label }}" class="label">
          {{ field.label }}{% include "django/forms/_input_required.html" with field=field %}
        </label>
      {% endif %}
    {% endif %}

    {% if field.widget_type != 'checkbox' and field.widget_type != 'radio' %}
      {{ field }}
    {% endif %}

    {% include "django/forms/errors/list/ul.html" with errors=field.errors id=field.auto_id error_class="errorlist" only%}

    {% if field.help_text %}<div id="{{ field.id_for_label|default:field.auto_id }}-help" class="field-help">{{ field.help_text|safe }}</div>{% endif %}
  </{% if field.use_fieldset %}fieldset{% else %}div{% endif %}>
{% endif %}
