{% load i18n permits_extras %}
{% load render_table from django_tables2 %}

<div class="page-header">
  <h2 class="mr-6">{% translate "Documents" %}</h2>
</div>

{% if documents_table.rows %}
  {% render_table documents_table %}
{% endif %}

{% if submission.permitsubmission|can_edit_permit_submission:request.user %}
<h3 class="mt-10 mb-6">{% translate "Ajouter des documents" %}</h3>

<label id="multiple-permit-documents-uploader" class="uploader mb-6">
  {% include "_icon.html" with id="folder-open" class="text-grey-500" %}
  <span>{% blocktrans %}Déposez des fichiers ici ou <u>cliquez pour parcourir</u>{% endblocktrans %}</span>
  <input type="file" class="sr-only" accept="{{ documents_allowed_mimetypes }}" multiple />
</label>

<form id="permit-documents" method="post" action="{% url "permits:permit_submission_upload" object.pk %}" enctype="multipart/form-data" autocomplete="off">
  {% csrf_token %}
  {{ documents_formset.management_form }}

  <div data-role="permit-documents-fields"{% if not request.POST %} class="hidden"{% endif %}>
    <div class="grid gap-6" data-role="permit-documents-list">
      {% for form in documents_formset.forms %}
        <div data-role="permit-document" class="card">
          <div class="card__header">
            <div class="card__title">{% translate "Document" %} <span data-role="document-number">{{ forloop.counter }}</span></div>
            <button type="button" data-role="remove-document" class="btn btn--text btn--sm{% if forloop.first %} hidden{% endif %}">
              {% include "_icon.html" with id="trash" class="icon--75" %}
              {% translate "Supprimer" %}
            </button>
          </div>

          <div class="card__body">
            {% include "django/forms/horizontal.html" with form=form %}
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="form-actions form-actions--emphased">
      <input name="action" type="hidden" value="documents">
      <button type="submit" class="btn btn--primary" name="save_continue">
        {% include "_icon.html" with id="upload" %}
        {% translate "Attacher les documents" %}
      </button>
    </div>
  </div>
</form>
{% endif %}
