{% load i18n %}

<div class="pt-6 lg:pt-8 bg-grey-200 border-b border-grey-300">
  <div class="container">
    <h1 class="mb-6">{% trans "Demande" %} {{ object.id_for_display }}</h1>

    <div class="grid lg:grid-cols-[2fr,3fr,2fr] gap-6 -mb-8">
      <div class="card card--highlight">
        <div class="card__header">
          <h2 class="card__title">{% trans "Classification" %}</h2>
          {% include "permits/_permit_submission_edit_btn.html" with submission=object hash="classification" %}
        </div>

        <div class="card__body">
          <dl class="metadata metadata--dense">
            <div class="metadata__item">
              <dt>{% trans "Type" %}</dt>
              <dd>{{ object.get_submission_type_display }}</dd>
            </div>
            <div class="metadata__item">
              <dt>{% trans "Compétence" %}</dt>
              <dd>{{ object.get_competency_display }}</dd>
            </div>
            <div class="metadata__item">
              <dt>{% trans "Identifiant" %}</dt>
              <dd>{{ object.shortname }}</dd>
            </div>
            {% if object.camac_number %}
              <div class="metadata__item">
                <dt>{% trans "N° CAMAC" %}</dt>
                <dd>
                  <a href="https://prestations.vd.ch/territoire/actis/record/edit/id/{{ object.camac_number }}" target="_blank" title="{% trans "Voir le dossier sur le portail de la CAMAC" %}">
                    {{ object.camac_number }}
                  </a>
                </dd>
              </div>
            {% endif %}
          </dl>
        </div>
      </div>

      <div class="card card--highlight">
        <div class="card__header">
          <h2 class="card__title">{% trans "Données générales" %}</h2>
          {% include "permits/_permit_submission_edit_btn.html" with submission=object hash="general-data" %}
        </div>

        <div class="card__body">
          <dl class="metadata metadata--dense">
            <div class="metadata__item">
              <dt>{% trans "Nature" %}</dt>
              <dd>{{ object.get_nature_display }}</dd>
            </div>
            {% if object.transformation_type %}
              <div class="metadata__item">
                <dt>{% trans "Type de travaux" %}</dt>
                <dd>{{ object.get_transformation_type_display }}</dd>
              </div>
            {% endif %}
            <div class="metadata__item">
              <dt>{% trans "Genre de construction" %}</dt>
              <dd>{{ object.get_construction_type_display }}</dd>
            </div>
            <div class="metadata__item">
              <dt>{% trans "Type d’ouvrage" %}</dt>
              <dd>{{ object.get_work_type_display }}</dd>
            </div>
            <div class="metadata__item">
              <dt>{% trans "Description" %}</dt>
              <dd>{{ object.object }}</dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="card card--highlight">
        <div class="card__header">
          <h2 class="card__title">{% trans "Localisation" %}</h2>
          {% include "permits/_permit_submission_edit_btn.html" with submission=object hash="localisation" %}
        </div>

        <div class="card__body">
          <dl class="metadata metadata--dense">
            {% if object.zone_name %}
              <div class="metadata__item">
                <dt>{% trans "Zone" %}</dt>
                <dd>{{ object.zone_name }}</dd>
              </div>
            {% endif %}
            <div class="metadata__item">
              <dt>{% trans "Plan" %}</dt>
              <dd>{{ object.get_zone_plan_display }}</dd>
            </div>
            <div class="metadata__item">
              <dt>{% trans "N° de parcelle" %}</dt>
              <dd>{{ object.parcel_numbers|join:", " }}</dd>
            </div>
            {% if object.eca_number %}
              <div class="metadata__item">
                <dt>{% trans "N° ECA" %}</dt>
                <dd>{{ object.eca_number }}</dd>
              </div>
            {% endif %}
            <div class="metadata__item">
              <dt>{% trans "Coordonnées" %}</dt>
              <dd>
                <a href="https://map.geo.admin.ch/?center={{ object.east_coordinate }},{{ object.north_coordinate }}&z=11&crosshair=marker" target="_blank" title="{% trans "Voir la localisation sur le géoportail de la Confédération" %}">
                  {{ object.get_coordinates_display }}
                </a>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
