{% load i18n %}

<div class="page-header">
  <h2>{% trans "Parties prenantes" %}</h2>
</div>

<div class="grid lg:grid-cols-2 gap-6">
  <div class="card">
    <header class="card__header">
      <h3 class="card__title">{% trans "Maître d’ouvrage" %}</h3>
    </header>

    <div class="card__body">
      <dl class="metadata">
        <div class="metadata__item">
          <dt>{% trans "Type" %}</dt>
          <dd>{{ object.get_project_owner_type_display }}</dd>
        </div>
        {% if object.project_owner.company_name %}
          <div class="metadata__item">
            <dt>{% trans "Raison sociale" %}</dt>
            <dd>{{ object.project_owner.company_name }}</dd>
          </div>
        {% endif %}
        {% if object.project_owner.full_name %}
          <div class="metadata__item">
            <dt>{% trans "Prénom / Nom" %}</dt>
            <dd>{{ object.project_owner.full_name }}</dd>
          </div>
        {% endif %}
        <div class="metadata__item">
          <dt>{% trans "Adresse" %}</dt>
          <dd>
            {{ object.project_owner.address }}<br/>
            {{ object.project_owner.zipcode }} {{ object.project_owner.city }}<br/>
            {{ object.project_owner.get_country_display }}
          </dd>
        </div>
        <div class="metadata__item">
          <dt>{% trans "Téléphone" %}</dt>
          <dd>
            {% include "_phone-link.html" with phone=object.project_owner.phone %}
          </dd>
        </div>
        <div class="metadata__item">
          <dt>{% trans "E-mail" %}</dt>
          <dd><a href="mailto:{{ object.project_owner.email }}">{{ object.project_owner.email }}</a></dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="card">
    <header class="card__header">
      <h3 class="card__title">{% trans "Propriétaire" %}</h3>
    </header>

    <div class="card__body">
      <dl class="metadata">
        {% if object.owner.company_name %}
          <div class="metadata__item">
            <dt>{% trans "Raison sociale" %}</dt>
            <dd>{{ object.owner.company_name }}</dd>
          </div>
        {% endif %}
        {% if object.owner.full_name %}
          <div class="metadata__item">
            <dt>{% trans "Prénom / Nom" %}</dt>
            <dd>{{ object.owner.full_name }}</dd>
          </div>
        {% endif %}
        <div class="metadata__item">
          <dt>{% trans "Adresse" %}</dt>
          <dd>
            {{ object.owner.address }}<br/>
            {{ object.owner.zipcode }} {{ object.owner.city }}<br/>
            {{ object.owner.get_country_display }}
          </dd>
        </div>
        <div class="metadata__item">
          <dt>{% trans "Téléphone" %}</dt>
          <dd>
            {% include "_phone-link.html" with phone=object.owner.phone %}
          </dd>
        </div>
        <div class="metadata__item">
          <dt>{% trans "E-mail" %}</dt>
          <dd><a href="mailto:{{ object.owner.email }}">{{ object.owner.email }}</a></dd>
        </div>
      </dl>
    </div>
  </div>
</div>
