{% load i18n %}

<div class="page-header">
  <h2>{% trans "Informations détaillées" %}</h2>
</div>

<div class="grid lg:grid-cols-2 gap-6">
  <div class="card">
    <header class="card__header">
      <h3 class="card__title">{% trans "Zone à bâtir" %}</h3>
      {% include "permits/_permit_submission_edit_btn.html" with submission=object hash="localisation" %}
    </header>

    <div class="card__body">
      <dl class="metadata">
        <div class="metadata__item">
          <dt>{% trans "Travaux situés hors d'une zone à bâtir" %}</dt>
          <dd>{{ object.get_is_outside_building_zone_display }}</dd>
        </div>
        {% if object.is_outside_building_zone %}
          <div class="metadata__item">
            <dt>{% trans "Parcelle(s) située(s) partiellement ou entièrement hors des zones à bâtir" %}</dt>
            <dd>{{ object.get_is_parcel_outside_building_zone_display }}</dd>
          </div>
          <div class="metadata__item">
            <dt>{% trans "Travaux situés hors d'une zone à bâtir" %}</dt>
            <dd>{{ object.get_is_work_outside_building_zone_display }}</dd>
          </div>
        {% endif %}
      </dl>
    </div>
  </div>
</div>
