{% load i18n permits_extras %}
<div id="permit_submission_detail_validation_department_submission">
  {% if validations %}
    <div class="mb-6">
      <h5 class="mb-3">{% translate "Validations en cours" %}</h5>
      {% include "permits/_permit_submission_validations.html" with validations=validations %}
    </div>
  {% endif %}

  {% if validation_department_selection_form %}

  <div class="card mb-6">
    <div class="card__header">
      <h5 class="card__title">{% translate "Soumettre à la validation des services" %}</h5>
    </div>
    <div class="card__body">
      <form id="validation-selection-form" hx-swap-oob="true" hx-post="{% url "permits:permit_submission_detail:validation" pk=submission.pk %}" hx-swap="outerHTML" hx-target="#permit_submission_detail_validation_department_submission">
        {% csrf_token %}
        <input type="hidden" name="form" value="validation_department_selection" />
        {{ validation_department_selection_form }}
        <div class="form-actions form-actions--emphased">
          <button type="submit" {% if not submission.can_be_sent_for_validation %} disabled {% endif %} class="btn btn--primary">
            {% translate "Envoyer pour validation" %}
          </button>
        </div>
      </form>
    </div>
  </div>
  {% endif %}


  {% comment %} TODO: Hide form if no more services can be requested {% endcomment %}
  {% if technical_examination_form %}
    <form hx-post="{% url "permits:permit_submission_detail:validation" pk=submission.pk %}"
          hx-trigger="change"
          hx-swap="none"
          autocomplete="off">
      {% csrf_token %}
      <input type="hidden" name="form" value="technical_examination" />

      {{ technical_examination_form }}
    </form>
  {% endif %}
</div>
