{% load i18n permits_extras %}
{% if submission.permitsubmission|can_edit_permit_submission:request.user %}
  <details id="submission-{{ submission.id }}-step-{{ active_step.value }}-checklist"
           data-role="submission-step-checklist" class="card mb-8" open>
    <summary class="card__header">
      <h4 class="card__title">
        {% trans "Tâches" %}
      </h4>
      {% include "_icon.html" with id="chevron-down" %}
    </summary>

    <div class="card__body">
      <form hx-post="{% url 'submissions:checklist_update' submission_id=submission.id checklist_id=checklist_id %}"
            hx-trigger="change"
            hx-swap="none">
        {% csrf_token %}
        <input type="hidden" name="form" value="checklist"/>
        {{ checklist_form }}
      </form>
    </div>
  </details>
{% endif %}
