{% load i18n %}

<div class="table-container table-container--default">
  <table class="table">
    <thead>
      <tr>
        <th width="25%">{% translate "Service" %}</th>
        <th width="75%">{% translate "État" %}</th>
        <th width="1"></th>
      </tr>
    </thead>
    <tbody>
      {% for validation in validations %}
        <tr data-test="validation-{{ validation.id }}">
          <td>
            {{ validation.department }}
          </td>

          <td>
            <div class="badge {% if validation.validation_status == 1 %}badge--success{% elif validation.validation_status == 2 %}badge--danger{% else %}badge--warning{% endif %}">
              {% if validation.validation_status == 1 %}
                {% include "_icon.html" with id="check" class="icon--75" %}
              {% elif validation.validation_status == 2 %}
                {% include "_icon.html" with id="cross" class="icon--75" %}
              {% else %}
                {% include "_icon.html" with id="clock" class="icon--75" %}
              {% endif %}

              {{ validation.get_validation_status_display }}
            </div>

            {% if validation.comment %}
              {% if validation.comment_is_visible_by_author or current_user != submission.author %}
                <blockquote class="mt-2">{{ validation.comment|linebreaksbr }}</blockquote>
              {% endif %}
            {% endif %}

            {% if has_permission_to_classify or can_validate_submission %}
              {% if validation.validated_by %}
                <div class="mt-2">
                  {% translate "Par" %}
                  <strong>
                    {{ validation.validated_by.first_name }}
                    {{ validation.validated_by.last_name }}
                  </strong>
                  {% translate "le" %} {{ validation.validated_at }}
                </div>
              {% endif %}
            {% endif %}
          </td>

          <td>
            {% if validation.should_display_supplement_button and has_permission_to_ask_for_validation %}
              <form method="POST" action="{% url 'submissions:submission_validations_return' validation.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn--icon" aria-label="{% translate "Renvoyer en validation" %}" title="{% translate "Renvoyer en validation" %}">
                  {% include "_icon.html" with id="send" class="icon--75" %}
                </button>
              </form>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
