{% load i18n %}

<ol id="permit-submission-follow-up-steps" hx-swap-oob="true" class="follow-up">
  {% for step_key, step in steps.items %}
    <li class="follow-up-step{% if step.completed %} is-completed{% endif %}{% if step_key == active_step %} is-current{% endif %}">
      <div class="follow-up-step__header">
        <div class="follow-up-step__number">{{ forloop.counter }}</div>

        {% if step.url %}
          <a href="{{ step.url }}" class="follow-up-step__label expand-target">{{ step.name }}</a>
        {% else %}
          <span class="follow-up-step__label">{{ step.name }}</span>
        {% endif %}
      </div>

      {% if step_key == active_step and step.sub_steps %}
        <ul class="checklist">
          {% for sub_step in step.sub_steps %}
            <li>
              <span class="checklist__label">
                {% if sub_step.completed %}
                  {% include "_icon.html" with id="circle-check-big" class="text-primary-800" %}
                {% else %}
                  {% include "_icon.html" with id="circle" class="text-grey-300" %}
                {% endif %}
                {{ sub_step.name }}
              </span>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
</ol>
