{% extends "base_generic.html" %}

{% load i18n django_vite submissions_extras %}

{% block scripts %}
  {% vite_asset 'assets/js/submission-permits-form.js' %}
{% endblock scripts %}

{% block content %}
  <div class="container container--sm">
    <div class="page-header">
      {% if permit_submission %}
        <div class="mb-4">
          <a href="{% url "permits:permit_submission_detail:current" pk=permit_submission.pk %}" class="btn btn--text">
            {% include "_icon.html" with id="chevron-left" %}
            {% trans "Retour à la demande" %}
          </a>
        </div>
      {% endif %}

      <h1>
        {% if permit_submission %}
          {% trans "Modifier la demande" %} {{ permit_submission.get_id_for_display }}
        {% else %}
          {% trans "Nouvelle demande de permis de construire" %}
        {% endif %}
      </h1>
    </div>

    {% if forms_have_errors %}
      <div class="alert alert--danger mb-6">
        {% trans "Le formulaire contient des erreurs, veuillez les corriger et soumettre à nouveau." %}
      </div>
    {% endif %}

    <form id="permit-submission-form" method="post" data-test="submission-fields-form" autocomplete="off" novalidate>
      {% csrf_token %}

      <div class="grid gap-6">
        <h2 id="classification">{% trans "Classification" %}</h2>
        {{ forms.classification }}

        <hr>
        <h2 id="general-data">{% trans "Données générales" %}</h2>
        {{ forms.general_data }}

        <hr>
        <h2 id="localisation">{% trans "Localisation" %}</h2>
        {{ forms.attributes }}

        {% if not permit_submission %}
          <hr>
          <h2 id="stakeholders">{% trans "Parties prenantes" %}</h2>
          {{ forms.participants }}

          <h3>{% trans "Maître d’ouvrage" %}</h3>
          {{ forms.project_owner }}

          <h3>{% trans "Propriétaire" %}</h3>
          {{ forms.owner }}
        {% endif %}
      </div>

      <div class="form-actions form-actions--separated">
        {% if permit_submission %}
          <a href="{% url "permits:permit_submission_detail:current" pk=permit_submission.pk %}" class="btn btn--text">
            {% include "_icon.html" with id="chevron-left" %}
            {% trans "Retour à la demande" %}
          </a>
        {% endif %}
        <span class="form-actions__spacer"></span>
        <button type="submit" class="btn btn--primary">
          {% if pk %}
            {% trans "Sauvegarder les modifications" %}
          {% else %}
            {% trans "Créer la demande" %}
          {% endif %}
        </button>
      </div>
    </form>
  </div>
{% endblock content %}
