{% extends "permits/permit_submission_detail.html" %}

{% load i18n permits_extras %}

{% block step-title %}
  {% trans "Contrôle / Examen" %}
{% endblock step-title %}

{% block step %}
  {% if submission.permitsubmission|can_edit_permit_submission:request.user %}

  <form hx-post="{% url "permits:permit_submission_detail:validation" pk=submission.pk %}"
        hx-trigger="change"
        hx-sync="this:replace"
        hx-swap="none"
        autocomplete="off">
    <div class="mb-4 flex gap-3 items-center">
      <h4>{% trans "Examen formel" %}</h4>
      <div class="loader htmx-indicator"></div>
    </div>

    {% csrf_token %}
    <input type="hidden" name="form" value="formal_examination" />

    <div id="permit-submission-formal-examination-form-fields" hx-swap-oob="morph">
      {{ formal_examination_form }}
    </div>
  </form>

  <hr class="my-8">
  {% endif %}

  <div class="mb-4 flex gap-3 items-center">
    <h4>{% trans "Examen technique" %}</h4>
    <div class="loader htmx-indicator"></div>
  </div>

  {% if submission.permitsubmission|can_edit_permit_submission:request.user %}

    {% include 'permits/_permit_submission_detail_validation_department_submission.html' %}


  {% elif is_readonly_for_validators %}
    <form action="{% url "permits:permit_submission_detail:validation" pk=submission.pk %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="form" value="validation_response" />
      {{ validation_response_form }}
      <div class="form-actions form-actions--emphased">
        <button type="submit" class="btn btn--primary">
          {% translate "Enregistrer" %}
        </button>
      </div>
    </form>
  {% endif %}
{% endblock step %}
