{% extends "base_generic.html" %}

{% load i18n django_vite %}

{% block main-class %}pt-0{% endblock main-class %}

{% block scripts %}
  {% vite_asset "assets/js/htmx.js" %}
  {% vite_asset "assets/js/submission-permits-details.js" %}
  {% vite_asset "assets/js/submission-permits-follow-up.js" %}
{% endblock scripts %}

{% block content %}
  {% include "_autosave-notifier.html" %}

  {% include "permits/_permit_submission_header.html" %}

  {% comment %} TODO: Ensure we restore the previous tab properly. Temporarily enable tabs persistence in local storage for development purpose. {% endcomment %}
  <div class="pt-16 pb-8">
    <div class="container">
      <seven-minute-tabs persist sync class="grid items-start xl:grid-cols-[260px,1fr] gap-y-6 gap-x-12">
        <ol role="tablist" class="pb-2 flex flex-col sm:flex-row sm:flex-wrap gap-1 xl:flex-col">
        <li>
          <a class="btn tab-alt"
             id="follow-up-tab"
             data-toggle="tab"
             href="#follow-up"
             role="tab"
             aria-controls="follow-up"
              data-tabs-persist="permit-{{ object.pk }}:follow-up"
            >
            {% include "_icon.html" with id="list-todo" %}
            {% translate "Suivi du dossier" %}
          </a>
        </li>
        <li>
          <a class="btn tab-alt"
             id="metadata-tab"
             data-toggle="tab"
             href="#metadata"
             role="tab"
             aria-controls="metadata"
              data-tabs-persist="permit-{{ object.pk }}:metadata"
            >
            {% include "_icon.html" with id="info" %}
            {% translate "Informations détaillées" %}
          </a>
        </li>
        <li>
          <a class="btn tab-alt"
             id="stakeholders-tab"
             data-toggle="tab"
             href="#stakeholders"
             role="tab"
             aria-controls="stakeholders"
              data-tabs-persist="permit-{{ object.pk }}:stakeholder"
              >
            {% include "_icon.html" with id="users" %}
            {% translate "Parties prenantes" %}
          </a>
        </li>
        <li>
          <a class="btn tab-alt"
             id="documents-tab"
             data-toggle="tab"
             href="#documents"
             role="tab"
             aria-controls="documents"
              data-tabs-persist="permit-{{ object.pk }}:documents"
            >
            {% include "_icon.html" with id="files" %}
            {% translate "Documents" %}
          </a>
        </li>
      </ol>

      <div id="follow-up" role="tabpanel">
        <div class="page-header sr-only">
          <h2>{% trans "Suivi du dossier" %}</h2>
        </div>

        <div class="grid lg:grid-cols-[1fr,300px] gap-10">
          <div class="lg:col-start-2">
            {% include "permits/_permit_submission_follow_up_steps.html" %}
          </div>

          <div class="lg:row-start-1 w-full lg:max-w-2xl mx-auto">
            <h3 class="mb-6">{% block step-title %}{% endblock step-title %}</h3>
              {% if checklist_form %}
                {% include "permits/_permit_submission_step_checklist.html" %}
              {% endif %}
              {% block step %}{% endblock step %}
          </div>
        </div>
      </div>

      <div id="metadata" role="tabpanel">
        {% include "permits/_permit_submission_metadata.html" %}
      </div>

      <div id="stakeholders" role="tabpanel">
        {% include "permits/_permit_submission_stakeholders.html" %}
      </div>

      <div id="documents" role="tabpanel">
        {% include "permits/_permit_submission_documents.html" %}
      </div>
      </seven-minute-tabs>
    </div>
  </div>
{% endblock content %}
