{# Adapted from django gis contrib #}

{% load i18n l10n %}
{% load static %}
{% load submissions_extras %}

<div id="geometry-widget-{{ id }}" data-initialize="{% if "__prefix__" in id %}0{% else %}1{% endif %}" data-map-target="{{ id }}_map" data-options="{{ options|json }}" data-geometry-widget class="bg-grey-100 border border-grey-300 rounded">
  {% if options.edit_geom %}
    <div class="flex flex-wrap items-center justify-between gap-3 p-3">
      <div class="btn-group">
        <button type="button" class="btn btn--sm btn--default is-current" title="Cliquer sur la carte pour ajouter des géométries"
           data-action="enableDrawing">
           {% include "_icon.html" with id="pencil" class="icon--75" %}
           {% translate "Dessiner" %}
        </button>
        <button type="button" class="btn btn--sm btn--default" title="Maintenir la touche Maj (Shift) enfoncée pour une sélection multiple"
           data-action="selectFeatures">
           {% include "_icon.html" with id="mouse-pointer" class="icon--75" %}
           {% translate "Sélectionner" %}
        </button>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn--sm btn--default" data-action="removeSelectedFeatures" disabled>
          {% include "_icon.html" with id="trash" class="icon--75" %}
          {% translate "Effacer la sélection" %}
        </button>
        <button type="button" class="btn btn--sm btn--default" data-action="removeAllFeatures">
          {% include "_icon.html" with id="cross" class="icon--75" %}
          {% translate "Tout effacer" %}
        </button>
      </div>
    </div>

    <div class="flex flex-wrap items-center justify-between gap-3 p-3 pt-0">
      <div class="btn-group">
        {% if options.edit_point %}
          <label for="inlineRadioOptions-{{ id }}-point" data-action="editPoints" class="btn btn--default btn--sm form-check-label" title="Cliquer pour ajouter un point">
            <input class="sr-only" title="Cliquer pour ajouter un point" type="radio" id="inlineRadioOptions-{{ id }}-point" name="inlineRadioOptions-{{ id }}" data-action="setDrawInteraction" data-interaction-type="MultiPoint">
            <img src="{% static 'images/geometrywidget/points.svg'%}" class="inline-block" width="20"> Point
          </label>
        {% endif %}
        {% if options.edit_line %}
          <label for="inlineRadioOptions-{{ id }}-line" data-action="editLines" class="btn btn--default btn--sm form-check-label" title="Double clique pour terminer la construction">
            <input class="sr-only" title="Double clique pour terminer la construction" type="radio" id="inlineRadioOptions-{{ id }}-line" name="inlineRadioOptions-{{ id }}" data-action="setDrawInteraction" data-interaction-type="MultiLineString">
            <img src="{% static 'images/geometrywidget/polyline.svg'%}" class="inline-block" width="20"> Ligne
          </label>
        {% endif %}
        {% if options.edit_polygon %}
          <label for="inlineRadioOptions-{{ id }}-polygon" data-action="editPolygons" class="btn btn--default btn--sm form-check-label" title="Double clique pour terminer la construction">
            <input class="sr-only" title="Double clique pour terminer la construction" type="radio" id="inlineRadioOptions-{{ id }}-polygon" name="inlineRadioOptions-{{ id }}" data-action="setDrawInteraction" data-interaction-type="MultiPolygon">
            <img src="{% static 'images/geometrywidget/polygon.svg'%}" class="inline-block" width="20"> Polygone
          </label>
        {% endif %}
      </div>

      <div class="field-group">
        <label for="fulltext-location-search-{{ id }}" class="label sr-only">
          {% translate "Rechercher un lieu" %}
        </label>
        <div class="relative flex items-center">
          <input
            type="text"
            data-role="fulltext-location-search"
            name="fulltext-location-search-{{ id }}"
            placeholder="{% translate "Rechercher un lieu" %}"
            data-options="{{ options|json }}"
            class="addresswidget ui-autocomplete-input field field--sm pl-8"
            id="fulltext-location-search-{{ id }}"
            autocomplete="off">
          {% include "_icon.html" with id="search" class="icon--75 absolute left-2 text-grey-300" %}
        </div>
      </div>
    </div>
  {% endif %}

  <div class="map bg-grey-300 relative" data-role="map" style="width: {{ map_width }}; height: {{ map_height }}px;">
    <img class="switchbaselayers" src="{% static 'images/switchbaselayers.png'%}" width="100" height="40" alt="" data-action="switchBaseLayers">
    <div data-role="outOfAdministrativeLimits"></div>
  </div>

  {% if options.edit_geom %}
    <div class="flex flex-wrap items-start gap-3 p-3">
      <label class="btn btn--sm btn--default" title="Charger des géométries (point, ligne, polygone) depuis un fichier KML" >
        {% include "_icon.html" with id="upload" class="icon--75" %}
        {% translate "Charger un KML" %}
        <input type="file" class="custom-file-input sr-only" accept=".kml" data-action="addKML">
      </label>

      <button type="button" popovertarget="geometry-widget-{{ id }}-add-coordinates" class="btn btn--sm btn--default">
        {% include "_icon.html" with id="map-pin" class="icon--75" %}
        {% translate "Saisir des coordonnées" %}
      </button>
      <div id="geometry-widget-{{ id }}-add-coordinates" class="dropdown p-4" data-popover-placement="top-start" popover>
        <div class="grid gap-4">
          <div class="field-group">
            <label for="east_coord-{{ id }}" class="label">{% translate "Est" %}</label>
            <input class="field" name="east_coord" id="east_coord-{{ id }}" type="text" min="2535594.00" max="2542571.00" value="2539162.00" placeholder="ex: 2539142.00">
          </div>
          <div class="field-group">
            <label for="east_coord-{{ id }}" class="label">{% translate "Nord" %}</label>
            <input class="field" name="north_coord" id="north_coord-{{ id }}" type="text" min="1178784.00" max="1183461.00" value="1181732.00" placeholder="ex: 1181572.00 ">
          </div>
        </div>
        <div class="form-actions">
          <button type="button" class="btn btn--default" data-action="addPointFeature">
            {% translate "Ajouter à la carte" %}
          </button>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="field-group mt-4{% if not display_raw %} hidden{% endif %}">
    <label for="{{ id }}" class="label">{% translate "Debugging window (serialized value)" %}</label>
    <textarea id="{{ id }}" class="field vSerializedField required{% if not display_raw %} hidden{% endif %}" cols="150" rows="10" name="{{ name }}" data-role="serialized">{{ serialized }}</textarea>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    geometryWidgetManager.rebind();
  });
</script>
