{% load static i18n %}

<div class="flex items-center mb-4">
  <form id="download-form" method="get" action="{% url "submissions:archived_submission_bulk_download" %}">
    {% csrf_token %}
    <button class="btn btn--default btn--sm" type="submit" data-role="download-submissions" disabled>
      {% include "_icon.html" with id="download" class="icon--75" %}
      {% translate "Télécharger la sélection" %}
    </button>
  </form>
</div>
