{% load i18n %}

<div class="grid gap-4">
  {% for directive_file, directive_description, additional_information in directives %}
    <div>
      {% if directive_file and directive_description %}
        <div class="mb-3 font-bold" data-test="directive-description">{{ directive_description }}</div>
        <div class="mb-3">
          <a class="btn btn--default btn--sm" href="{{ directive_file.url }}" target="_blank" rel="noreferrer" data-test="directive-file">
            {% include "_icon.html" with id="download" class="icon--75" %}
            {% translate "Télécharger le document" %}</a>
        </div>
      {% endif %}

      {% if additional_information %}
        <div class="prose" data-test="directive-additional-information">
          {{ additional_information|safe }}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
