{% load i18n %}

{% if directives %}
  <div id="legal-infos" class="alert alert--warning">
    {% if hide_title != 1 %}
      <h2 class="h4 mb-2">{% translate "Informations utiles et règlements" %}</h2>
    {% endif %}

    {% include "submissions/_directives_list.html" %}
  </div>
{% endif %}
