{% load i18n %}

{% if directives %}
  <details>
    <summary class="btn btn--text">
      {% include "_icon.html" with id="info" %}
      {% translate "Informations utiles et règlements" %}
      {% include "_icon.html" with id="chevron-down" class="icon--75" %}
    </summary>

    <div class="mt-2">{% include "submissions/_directives_and_legal.html" with hide_title=1 %}</div>
  </details>
{% endif %}
