{% load i18n %}

<details data-role="geo-time-collapse" class="card"{% if open or form.errors %} open{% endif %}>
  <summary class="card__header">
    <div class="card__title">{{ geo_step }} <span data-geo-time-role="formNumber">{{ form_number }}</span></div>
    {% include "_icon.html" with id="chevron-down" %}
  </summary>

  <div id="planning-{{ form_id }}" data-geo-time-role="form" class="card__body">
    {{ form }}
  </div>
</details>
