{% load i18n core submissions_extras permits_extras %}

{% can_archive_submissions as can_archive_submissions %}

<div class="page-header grid gap-x-6 gap-y-3 sm:grid-cols-2{% if can_archive_submissions %} md:grid-cols-[auto,1fr,auto]{% endif %} items-center">
  <h1>{% translate "Mes demandes" %}</h1>

  {% if can_archive_submissions %}
    <div class="btn-group sm:max-sm:row-start-2">
      <a href="{% url 'submissions:submissions_list' %}" class="btn btn--default max-xs:flex-auto{% highlight_menu_class 'submissions:submissions_list' %}">
        {% translate "En cours" %}
      </a>
      <a href="{% url 'submissions:archived_submission_list' %}" class="btn btn--default max-xs:flex-auto{% highlight_menu_class 'submissions:archived_submission_list' %}">
        {% translate "Archivées" %}
      </a>
    </div>
  {% endif %}

  {% if user.is_authenticated %}
    <div class="btn-group max-xs:w-full justify-self-end xs:max-sm:row-start-2">
      <a class="btn btn--primary max-xs:flex-auto" href="{% url 'submissions:submission_select_administrative_entity' %}">
        {% include "_icon.html" with id="circle-plus" %}
        {% translate "Nouvelle demande" %}
      </a>

      {% is_permits_enabled_for_user user as permits_enabled %}
      {% if permits_enabled %}
        <button type="button" class="btn btn--primary pl-3 pr-4" popovertarget="create-submission-dropdown">
          {% include "_icon.html" with id="chevron-down" %}
        </button>
      {% endif %}
    </div>

    {% if permits_enabled %}
      <div id="create-submission-dropdown" class="dropdown" popover data-popover-placement="bottom-end">
        <a href="{% url 'permits:permit_submission_create' %}" class="btn dropdown__item">
          {% translate "Nouvelle demande de permis de construire" %}
        </a>
      </div>
    {% endif %}
  {% endif %}
</div>
