{% load core %}

{{ form.non_field_errors }}

{% if fields_by_forms %}
  <div class="form form--horizontal">
    {% for name, fields in fields_by_forms %}
      {% if not forloop.first %}
        <hr class="my-2">
      {% endif %}
      <h2>{{ name }}</h2>

      {% for field in fields %}
        {% if field.repr %}
          {{ field.repr }}
        {% elif field %}
          {% include "django/forms/field.html" %}
        {% endif %}

        {% if forloop.last %}
          {% for field in hidden_fields %}{{ field }}{% endfor %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
{% endif %}

{% for field in form.hidden_fields %}{{ field }}{% endfor %}
