{% load static %}

{% if steps %}
  <ol class="stepper">
    {% for step_key, step in steps.items %}
      <li class="stepper-step
        {% if step_key == active_step %}is-current{% endif %}
        {% if step.enabled %}is-enabled{% else %}is-disabled{% endif %}
        {% if step.completed and step.enabled %}is-complete{% endif %}
        {% if step.errors_count and step.enabled %}has-errors{% endif %}
        ">

        {% if step.url and step.enabled %}
          <a class="block no-underline expand-target" href="{{ step.url }}">
        {% endif %}

        <div class="stepper-step__body">
          <div class="stepper-step__number">
            {{ forloop.counter }}
          </div>

          <div class="overflow-hidden">
            {# Wrap the step name so it’s easier to extract in the tests #}
            <div class="step-name font-medium">
              {{ step.name }}
            </div>

            {% if step.subtitle %}
              <div class="step-subtitle text-xs text-grey-600 truncate text-ellipsis">
                {{ step.subtitle }}
              </div>
            {% endif %}
          </div>

          {% if step.errors_count and step.enabled %}
            <div class="ml-auto badge badge--danger">{{ step.errors_count }}</div>
          {% endif %}
        </div>

        {% if step.url and step.enabled %}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
{% endif %}
