{% load i18n %}
{% load render_table from django_tables2 %}

{% comment %}
Force opening the panel by default when the user submitted forms so that it
returns to where they were and ensure potential errors are seen
{% endcomment %}
<dialog id="submission-actions" class="panel panel--right print:hidden"{% if request.POST %} open{% endif %}>
  <seven-minute-tabs>
    <div class="sticky top-0 z-10">
      <div class="flex items-center justify-between px-6 pt-4 bg-grey-50">
        <h2>{% translate "Gestion" %}</h2>
        <button type="button" class="xl:hidden btn btn--icon" data-role="hide-panel" data-panel="submission-actions">
          {% include "_icon.html" with id="cross" %}
        </button>
      </div>
      <ol role="tablist" class="tabs flex flex-wrap gap-x-6 px-6">
        {% if forms.amend %}
          <li>
            <a class="btn tab"
              id="amend-tab"
              data-toggle="tab"
              href="#amend"
              role="tab"
              aria-controls="amend"
              {% if active_form == "amend" or active_form == "request_inquiry" %}aria-selected="true"{% endif %}
            >
              {% translate "Traitement" %}
            </a>
          </li>
        {% endif %}

        {% if not submission.is_classified and forms.request_validation and not submission.validation_by_validators_is_disabled %}
          <li>
            <a class="btn tab"
              id="request-validation-tab"
              data-toggle="tab"
              href="#request-validation"
              role="tab"
              aria-controls="request-validation"
              {% if active_form == "request_validation" %}aria-selected="true"{% endif %}
            >
              {% translate "Envoi pour validation" %}
            </a>
          </li>
        {% endif %}

        {% if forms.validate %}
          <li>
            <a class="btn tab"
              id="validate-tab"
              data-toggle="tab"
              href="#validate"
              role="tab"
              aria-controls="validate"
              {% if active_form == "validate" %}aria-selected="true"{% endif %}
            >
              {% translate "Validation" %}
            </a>
          </li>
        {% endif %}

        {% if not submission.is_classified %}
          {% if classify_enabled %}
            {% if forms.poke or can_classify %}
              <li>
                <a class="btn tab"
                  id="classify-tab"
                  data-toggle="tab"
                  href="#classify"
                  role="tab"
                  aria-controls="classify"
                  {% if active_form == "poke" or active_form == "classify" %}aria-selected="true"{% endif %}
                >
                  {% translate "Classement" %}
                </a>
              </li>
            {% endif %}
          {% endif %}
        {% endif %}

        {% if forms.prolong and prolongation_enabled %}
          <li>
            <a class="btn tab"
              id="prolong-tab"
              data-toggle="tab"
              href="#prolong"
              role="tab"
              aria-controls="prolong"
              {% if active_form == 'prolong' %}aria-selected="true"{% endif %}
            >
              {% translate "Prolongation" %}
            </a>
          </li>
        {% endif %}

        {% if formsets.complementary_documents and document_enabled %}
          <li>
            <a class="btn tab"
              id="documents-tab"
              data-toggle="tab"
              href="#documents"
              role="tab"
              aria-controls="documents"
              {% if active_form == 'complementary_documents' %}aria-selected="true"{% endif %}
            >
              {% translate "Documents et impressions" %}
            </a>
          </li>
        {% endif %}

        {% if transactions_table and online_payment_enabled %}
          <li>
            <a class="btn tab"
              id="payments-tab"
              data-toggle="tab"
              href="#payments"
              role="tab"
              aria-controls="payments"
              {% if active_form == 'payments' %}aria-selected="true"{% endif %}
            >
              {% translate "Paiement en ligne" %}
            </a>
          </li>
        {% endif %}

        {% if has_permission_to_manage_service_fees and service_fees_table %}
          <li>
            <a class="btn tab"
                id="services-fees-tab"
                data-toggle="tab"
                href="#services-fees"
                role="tab"
                aria-controls="services-fees"
                {% if active_form == 'services_fees' %}aria-selected="true"{% endif %}>
              {% translate "Prestations" %}
            </a>
          </li>
        {% endif %}

        {% if has_permission_to_classify or has_permission_to_validate_submission %}
          <li>
            <a class="btn tab"
              id="history-tab"
              data-toggle="tab"
              href="#history"
              role="tab"
              aria-controls="history"
              {% if active_form == 'history' %}aria-selected="true"{% endif %}
            >
              {% translate "Historique" %}
            </a>
          </li>
        {% endif %}

        {% if has_permission_to_classify and directives %}
          <li>
            <a class="btn tab"
              id="directives-tab"
              data-toggle="tab"
              href="#directives"
              role="tab"
              aria-controls="directives"
              {% if active_form == 'directives' %}aria-selected="true"{% endif %}
            >
              {% translate "Directives" %}
            </a>
          </li>
        {% endif %}
      </ol>
    </div>

    <div class="p-6">
      {% if forms.amend %}
        <div id="amend" role="tabpanel">
          <h3 class="mb-6">{% translate "Informations générales" %}</h3>
          <form method="post">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class="form form--horizontal">
              {% for field in forms.amend.get_base_fields %}
                {% include "django/forms/field.html" with field=field %}
              {% endfor %}
            </div>

            {% for object_type, fields in forms.amend.get_fields_by_form %}
              {% if fields %}
                <div class="card mt-6">
                  <div class="card__header">
                    <h4 class="card__title">{{ object_type }}</h4>
                  </div>
                  <div class="card__body">
                    <div class="form form--horizontal">
                      {% for field, is_visible_by_author, is_visible_by_validators in fields %}
                        {% include "django/forms/field.html" with field=field %}
                        <div class="field-group -mt-4">
                          <div class="flex flex-wrap gap-x-3 gap-y-2 text-sm text-grey-600">
                            <div>
                              {% if is_visible_by_author %}
                                {% include "_icon.html" with id="eye" class="icon--75" %}
                                {% translate 'Visible pour l’auteur·e' %}
                              {% else %}
                                {% include "_icon.html" with id="eye-off" class="icon--75" %}
                                {% translate 'Invisible pour l’auteur·e' %}
                              {% endif %}
                            </div>
                            <div>
                              {% if is_visible_by_validators %}
                                {% include "_icon.html" with id="eye" class="icon--75" %}
                                {% translate 'Visible pour les validateurs' %}
                              {% else %}
                                {% include "_icon.html" with id="eye-off" class="icon--75" %}
                                {% translate 'Invisible pour les validateurs' %}
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

            <div class="form-actions form-actions--separated form-actions--emphased">
              <input name="action" type="hidden" value="amend">
              <button class="btn btn--primary" name="save_continue"{% if forms.amend.disabled %} disabled{% endif %}>{% translate "Enregistrer" %}</button>
            </div>
          </form>

          {% if publication_enabled %}
            <hr class="my-8 -mx-6">

            <h3 class="mb-6 flex flex-wrap gap-3 items-center">{% translate "Mise en consultation publique" %} <span class="badge badge--warning">{% translate "Beta" %}</span></h3>

            <form method="post">
              {% csrf_token %}

              {{ forms.request_inquiry.media }}
              {% include "django/forms/horizontal.html" with form=forms.request_inquiry %}

              <div class="form-actions form-actions--separated form-actions--emphased">
                <input name="action" type="hidden" value="request_inquiry">
                <button class="btn btn--primary"{% if forms.request_inquiry.disabled %} disabled{% endif %}>{% translate "Mettre en consultation" %}</button>
              </div>
            </form>
          {% endif %}
        </div>
      {% endif %}

      {% if not submission.is_classified and forms.request_validation and not submission.validation_by_validators_is_disabled %}
        <div id="request-validation" role="tabpanel">
          <h3 class="mb-6">{% translate "Envoi aux services pour validation" %}</h3>
          <form method="post">
            {% csrf_token %}

            {% include "django/forms/horizontal.html" with form=forms.request_validation %}

            <div class="form-actions form-actions--separated form-actions--emphased">
              <input name="action" type="hidden" value="request_validation">
              <button class="btn btn--primary" name="save_continue"{% if forms.request_validation.disabled %} disabled{% endif %}>
                {% translate "Envoyer pour validation" %}
              </button>
            </div>
          </form>
        </div>
      {% endif %}

      {% if forms.validate %}
        <div id="validate" role="tabpanel">
          <h3 class="mb-6">{% translate "Réponse à la demande de validation" %}</h3>
          <form method="post">
            {% csrf_token %}

            {% include "django/forms/horizontal.html" with form=forms.validate %}

            <div class="form-actions form-actions--separated form-actions--emphased">
              <input name="action" type="hidden" value="validate">
              <button class="btn btn--primary" name="save_continue"{% if forms.validate.disabled %} disabled{% endif %}>
                {% translate "Enregistrer" %}
              </button>
            </div>
          </form>
        </div>
      {% endif %}

      {% if not submission.is_classified %}
        {% if forms.poke or can_classify %}
          <div id="classify" role="tabpanel">
            <h3 class="mb-6">{% translate "Classement de la demande" %}</h3>

            <form method="post">
              {% csrf_token %}

              {% if nb_pending_validations and not forms.poke.disabled %}
                <div class="alert alert--info">
                  {% translate "La demande ne peut pas être classée car elle est toujours en attente de validation." %}
                </div>

                <div class="mt-6">
                  <button name="action" value="poke" class="btn btn--default">
                    {% include "_icon.html" with id="send" %}
                    {% blocktranslate trimmed count counter=nb_pending_validations %}
                      Envoyer un rappel au service
                    {% plural %}
                      Envoyer des rappels à {{ counter }} services
                    {% endblocktranslate %}
                  </button>
                </div>
              {% elif has_permission_to_classify %}
                {% if not can_classify %}
                  <div class="alert alert--info">
                    {% translate "La demande ne peut pas être classée car elle n’a pas encore été envoyée en validation." %}
                    {% if status_is_submitted_for_validation %}
                      {% translate "Toutefois, elle peut être refusée sans processus de validation si elle est hors sujet." %}
                    {% endif %}
                  </div>
                  {% if status_is_submitted_for_validation %}
                    <div class="form-actions form-actions--separated form-actions--emphased">
                    <a href="{% url 'submissions:submission_cancel' submission_id=submission.pk %}" class="btn btn--default">
                        {% include "_icon.html" with id="cross" %}
                        {% translate "Refuser sans validation" %}
                      </a>
                    </div>
                  {% endif %}
                {% else %}
                  <div class="alert alert--info">
                    {% translate "Un message facultatif pourra être ajouté à la réponse à la page suivante." %}
                  </div>

                  <div class="form-actions form-actions--separated form-actions--emphased">
                    <a href="{% url 'submissions:submission_approve' submission_id=submission.pk %}" class="btn btn--primary">
                      {% include "_icon.html" with id="check" %}
                      {% translate "Approuver" %}
                    </a>
                    <a href="{% url 'submissions:submission_reject' submission_id=submission.pk %}" class="btn btn--default">
                      {% include "_icon.html" with id="cross" %}
                      {% translate "Refuser" %}
                    </a>
                  </div>
                {% endif %}
              {% endif %}
            </form>
          </div>
        {% endif %}
      {% endif %}

      {% if forms.prolong and prolongation_enabled %}
        <div id="prolong" role="tabpanel">
          <h3 class="mb-6">{% translate "Prolongation de la demande" %}</h3>

          <form method="post">
            {% csrf_token %}
            {{ forms.prolong.media }}

            {% if not forms.prolong.prolongation_date.value %}
              <div class="alert alert--info mb-6" data-test="prolongation-not-requested">{% translate "Aucune prolongation n’a été demandée par l’auteur-e." %}</div>
            {% endif %}

            {% include "django/forms/horizontal.html" with form=forms.prolong %}

            {% if submission.get_last_prolongation_transaction %}
              <div class="form form--horizontal">
                <div class="field-group mt-6">
                  <label class="label">{% translate "Transaction" %}</label>
                  <div>
                    <div class="font-medium">{{ submission.get_last_prolongation_transaction.updated_date }}</div>
                    {{ submission.submission_price.text }} - {{ submission.get_last_prolongation_transaction.amount }} {{ submission.get_last_prolongation_transaction.currency }} - {{ submission.get_last_prolongation_transaction.get_status_display }}
                    <div class="text-grey-600">ID {{ submission.get_last_prolongation_transaction.transaction_id }}</div>
                  </div>
                </div>
              </div>
            {% endif %}

            <div class="form-actions form-actions--separated form-actions--emphased">
              <input name="action" type="hidden" value="prolong">
              <button type="submit" class="btn btn--primary" name="save_continue"{% if forms.prolong.disabled %} disabled{% endif %}>{% translate "Enregistrer" %}</button>
            </div>
          </form>
        </div>
      {% endif %}

      {% if formsets.complementary_documents and document_enabled %}
        <div id="documents" role="tabpanel">
          <h3 class="mb-6">{% translate "Ajout de documents à la demande" %}</h3>

          <form id="complementary-documents" method="post" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            {{ formsets.complementary_documents.management_form }}

            <div class="grid gap-6" data-role="complementary-documents-list">
              {% for form in formsets.complementary_documents %}
                <div data-role="complementary-document" class="card">
                  <div class="card__header">
                    <div class="card__title">{% translate "Document" %} <span data-role="document-number">{{ forloop.counter }}</span></div>
                    <button type="button" data-role="remove-document" class="btn btn--text btn--sm{% if forloop.first %} hidden{% endif %}">
                      {% include "_icon.html" with id="trash" class="icon--75" %}
                      {% translate "Supprimer" %}
                    </button>
                  </div>
                  <div class="card__body">
                    {{ form.non_field_errors }}

                    <div class="form form--horizontal">
                      {% include "django/forms/field.html" with field=form.document_source %}

                      <div data-complementary-document-fields="generate" class="form form--horizontal">
                        {% include "django/forms/field.html" with field=form.document_template %}
                        <div class="field-group -mt-3">
                          <div class="btn-group">
                            <button id="id_form-{{ forloop.counter0 }}-print_preview"
                                    data-link-tpl="{% url 'reports:submission_report_pdf' submission.pk "888888888" "999999999" "000000000" %}"
                                    class="btn btn--default btn--sm"
                                    name="preview"
                                    disabled>{% translate "Prévisualisation" %}</button>
                            <button id="id_form-{{ forloop.counter0 }}-print_docx"
                                    data-link-tpl="{% url 'reports:submission_report_docx' submission.pk "888888888" "999999999" "000000000" %}"
                                    class="btn btn--default btn--sm"
                                    name="preview"
                                    disabled>{% translate "Export Word" %}</button>
                          </div>
                        </div>
                      </div>

                      <div data-complementary-document-fields="upload" class="form form--horizontal hidden">
                        {% include "django/forms/field.html" with field=form.document %}
                        {% include "django/forms/field.html" with field=form.document_type %}

                        {# Parent fields #}
                        {% for field in form %}
                          {% if field.name|slice:":7" == "parent_" %}
                            {% include "django/forms/field.html" with field=field %}
                          {% endif %}
                        {% endfor %}
                      </div>

                      {% for field in form %}
                        {% if field.name != "document_source" and field.name != "document_template" and field.name != "document" and field.name != "document_type" and field.name != "document_type" and field.name|slice:":7" != "parent_" %}
                          {% include "django/forms/field.html" with field=field %}
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>

            <div class="mt-6">
              <button type="button" data-role="add-document" class="btn btn--default">
                {% include "_icon.html" with id="circle-plus" %}
                {% translate "Ajouter un autre document" %}
              </button>
            </div>

            <div class="form-actions form-actions--separated form-actions--emphased">
              <input name="action" type="hidden" value="complementary_documents">

              <button type="submit" class="btn btn--primary" name="save_continue"{% if forms.complementary_documents.disabled %} disabled{% endif %}>
                {% translate "Enregistrer" %}
              </button>
            </div>
          </form>
        </div>
      {% endif %}

      {% if transactions_table and online_payment_enabled %}
        <div id="payments" role="tabpanel">
          <h3 class="mb-6">{% translate "Transactions" %}</h3>

          {% render_table transactions_table %}
        </div>
      {% endif %}

      {% if has_permission_to_manage_service_fees and service_fees_table %}
        <div id="services-fees" role="tabpanel">
          <h3 class="mb-6">{% translate "Liste des prestations saisies" %}</h3>

          <form method="post">
            {% csrf_token %}

            {% if service_fees_table.data %}
              {% render_table service_fees_table %}
            {% else %}
              <div class="text-grey-600">
                {% translate "Aucune prestation saisie." %}
              </div>
            {% endif %}

            <div class="form-actions">
              <div class="btn-group">
                <a class="btn btn--default"
                  name="action"
                  mode="hourly_rate"
                  href="{% url 'submissions:create_submission_service_fees' submission_id=submission.pk %}?action=create&mode=hourly_rate"
                  title="{% translate 'Ajouter une prestation horaire' %}">
                  {% include "_icon.html" with id="circle-plus" %}
                  {% translate "Horaire" %}
                </a>
                <a class="btn btn--default"
                  name="action"
                  mode="fix_price"
                  href="{% url 'submissions:create_submission_service_fees' submission_id=submission.pk %}?action=create&mode=fix_price"
                  title="{% translate 'Ajouter une prestation forfaitaire' %}">
                  {% include "_icon.html" with id="circle-plus" %}
                  {% translate "Forfaitaire" %}
                </a>
              </div>
            </div>
          </form>
        </div>
      {% endif %}

      {% if has_permission_to_classify or has_permission_to_validate_submission %}
        <div id="history" role="tabpanel">
          <h3 class="mb-6">{% trans "Historique" %}</h3>

          <div class="grid gap-4">
            {% if has_permission_to_classify %}
              <details class="card" open>
                <summary class="card__header">
                  <h4 class="card__title">{% translate "Raisons du changement de statut" %}</h4>
                  {% include "_icon.html" with id="chevron-down" %}
                </summary>

                <div class="card__body">
                  {% if submission_reason_history %}
                    <ol class="feed">
                      {% for archive in submission_reason_history %}
                        {% if archive.reason_supplement %}
                          <li class="feed__item">
                            <div class="text-sm text-grey-600">{{ archive.history_date }}</div>
                            {% if archive.history_user and not archive.history_user.userprofile.is_temporary %}
                              <div class="font-semibold">{{ archive.history_user.get_full_name }}</div>
                            {% endif %}
                            <blockquote class="mt-2">{{ archive.reason_supplement }}</blockquote>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ol>
                  {% else %}
                    <span class="text-grey-600">{% translate "Aucun historique" %}</span>
                  {% endif %}
                </div>
              </details>

              <details class="card" open>
                <summary class="card__header">
                  <h4 class="card__title">{% translate "Champs de traitement" %}</h4>
                  {% include "_icon.html" with id="chevron-down" %}
                </summary>

                <div class="card__body">
                  {% if amend_field_history %}
                    {% for field in amend_field_history %}
                      {% if not forloop.first %}
                        <hr class="my-6">
                      {% endif %}
                      <h5 class="mb-3">{{field.first.field}}</h5>

                      <ol class="feed">
                        {% for archive in field %}
                          {% if archive.value %}
                            <div class="feed__item">
                              <div class="text-sm text-grey-600">{{ archive.history_date }}</div>
                              {% if archive.history_user and not archive.history_user.userprofile.is_temporary %}
                                <div class="font-bold">{{ archive.history_user.get_full_name }}</div>
                              {% endif %}
                              <blockquote class="mt-2">{{ archive.value }}</blockquote>
                            </div>
                          {% endif %}
                        {% endfor %}
                      </ol>
                    {% endfor %}
                  {% else %}
                    <span class="text-grey-600">{% translate "Aucun historique" %}</span>
                  {% endif %}
                </div>
              </details>
            {% endif %}

            <details class="card" open>
              <summary class="card__header">
                <h4 class="card__title">{% translate "Validation par les services" %}</h4>
                {% include "_icon.html" with id="chevron-down" %}
              </summary>

              <div class="card__body">
                {% if validation_history %}
                  {% for departement in validation_history %}
                    {% if not forloop.first %}
                      <hr class="my-5">
                    {% endif %}
                    <h5 class="mb-3">{{departement.first.department}}</h5>

                    <ol class="feed">
                      {% for archive in departement %}
                        {% if archive.comment or archive.get_validation_status_display %}
                          <div class="feed__item">
                            <div class="text-sm text-grey-600">{{ archive.history_date }}</div>
                            {% if archive.history_user and not archive.history_user.userprofile.is_temporary %}
                              <div class="font-semibold">{{ archive.history_user.get_full_name }}</div>
                            {% endif %}
                            {% if 'Approuvé' in archive.get_validation_status_display %}
                            <div class="badge badge--success mt-2">
                              {% include "_icon.html" with id="check" class="icon--75" %}
                              {% translate "Approuvé" %}
                            </div>
                            {% elif 'attente' in archive.get_validation_status_display %}
                            <div class="badge badge--warning mt-2">
                              {% include "_icon.html" with id="clock" class="icon--75" %}
                              {% translate "En attente" %}
                            </div>
                            {% else %}
                            <div class="badge badge--danger mt-2">
                              {% include "_icon.html" with id="cross" class="icon--75" %}
                              {% translate "Refusé" %}
                            </div>
                            {% endif %}
                            {% if archive.comment %}
                              <blockquote class="mt-2">{{ archive.comment }}</blockquote>
                            {% endif %}
                          </div>
                        {% endif %}
                      {% endfor %}
                    </ol>
                  {% endfor %}
                {% else %}
                  <span class="text-grey-600">{% translate "Aucun historique" %}</span>
                {% endif %}
              </div>
            </details>
          </div>
        </div>
      {% endif %}

      {% if directives %}
        <div id="directives" role="tabpanel">
          <h3 class="mb-6">{% translate "Directives liées à la demande" %}</h3>

          {% include "submissions/_directives_list.html" %}
        </div>
      {% endif %}
    </div>
  </seven-minute-tabs>
</dialog>
