{% load i18n submissions_extras %}

<div class="grid gap-6">
  {% for form, fields, appendices, amend_custom_fields in forms_infos %}
    <div class="card">
      <div class="card__header">
        <h3 class="card__title">{{ form }}</h3>
      </div>

      <div class="card__body">
        <dl class="metadata">
          {% if selected_price %}
            <div class="metadata__item">
              <dt>{% translate "Tarif" %}</dt>
              <dd>{{ selected_price.text }} ({{ selected_price.amount }} {{ selected_price.currency }})</dd>
            </div>
          {% endif %}

          {% for field in fields %}
            {% if field.label %}
              <div class="metadata__item">
                <dt>{{ field.label }}</dt>
                {% if field.widget_type == 'geometrywidgetadvanced' and field.value %}
                  <dd>
                    {{ field }}
                  </dd>
                {% else %}
                  <dd>{{ field.value|human_field_value|linebreaksbr }}</dd>
                {% endif %}
              </div>
            {% elif field.repr %}
              <div class="metadata__title">{{ field.repr|safe }}</div>
            {% endif %}
          {% endfor %}

          {% for field in appendices %}
            <div class="metadata__item">
              <dt>{{ field.label }}</dt>
              <dd>
                {% if field.value %}
                  <a href="{{ field.value.url }}" rel="noreferrer" target="_blank" class="btn btn--default btn--sm">
                    {% include "_icon.html" with id="download" class="icon--75" %}
                    {% translate "Télécharger le document" %}
                  </a>
                {% else %}
                  —
                {% endif %}
              </dd>
            </div>
          {% endfor %}

          {% if display_amend_properties %}
            <div class="metadata__title">
              <h4 class="h6">{% translate "Informations du service responsable" %}</h4>
            </div>

            {% for field_value in amend_custom_fields %}
              {% if field_value.field.is_visible_by_author and user_is_author_of_submission or field_value.field.is_visible_by_validators and is_validator %}
                <div class="metadata__item">
                  <dt class="amend-property">{{ field_value.field }}</dt>
                  <dd>{{ field_value.value|linebreaksbr }}</dd>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </dl>
      </div>
    </div>
  {% endfor %}
</div>

{% if contacts %}
  <h3 class="mt-10 mb-5">{% translate "Contacts" %}</h3>

  {% if requires_payment %}
    <dl class="metadata mb-4">
      <div class="metadata__item">
        <dt>{% translate "Destinataire de la facture" %}</dt>
        <dd>{{ creditor }}</dd>
      </div>
    </dl>
  {% endif %}

  <div class="grid gap-6">
    {% for contact_form, contact_infos in contacts %}
      <div class="card">
        <div class="card__header">
          <h4 class="card__title">{{ contact_form }}</h4>
        </div>

        <div class="card__body">
          {% if contact_infos %}
            <dl class="metadata">
              {% for field_label, field_value in contact_infos %}
                <div class="metadata__item">
                  <dt>{{ field_label }}</dt>
                  {% if field_label == "Pays" %}
                    <dd>{{ field_value.name }}</dd>
                  {% else %}
                    <dd>{{ field_value }}</dd>
                  {% endif %}
                </div>
              {% endfor %}
            </dl>
          {% else %}
            <div class="text-sm text-grey-600">{% translate "Aucune donnée saisie" %}</div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% for geo_time_form in geo_time_formset %}
  <h3 class="mt-10 mb-5">{{ geo_step }}</h3>

  {{ geo_time_form.media }}
  {% include "submissions/_geo_time_form.html" with form=geo_time_form form_id=forloop.counter0 form_number=forloop.counter open=True %}
{% endfor %}
