{% load i18n %}

{% translate "Enregistrer et continuer" as default_label %}

<div class="form-actions form-actions--separated form-actions--emphased -mx-1 px-1 mt-8 lg:sticky bottom-0 z-10 pb-6 bg-grey-100">
  <div aria-hidden="true" class="h-8 absolute bottom-[calc(100%+1px)] left-0 right-0 bg-gradient-to-b from-transparent to-grey-100"></div>

  <button type="submit" class="btn btn--primary">
    {{ submit_label|default:default_label }}
    {% include "_icon.html" with id="chevron-right" class="icon--75" %}
  </button>
  {% if previous_step.url %}
    <span class="form-actions__spacer"></span>
    <a href="{{ previous_step.url }}" class="btn btn--text">
      {% include "_icon.html" with id="chevron-left" class="icon--75" %}
      {% translate "Retour" %}
    </a>
  {% endif %}
</div>
