{% load static i18n submissions_extras %}

{% if user.is_authenticated %}
  <div class="flex flex-wrap gap-y-3 gap-x-4 items-center mb-4">
    {% can_archive_submissions as can_archive_submissions %}
    {% if can_archive_submissions %}
      <form id="archive-form" action="{% url "submissions:archived_submission_list" %}" method="post">
        {% csrf_token %}
        <button class="btn btn--default btn--sm" type="submit" data-role="archive-submissions" disabled>
          {% include "_icon.html" with id="archive" class="icon--75" %}
          {% translate "Archiver la sélection" %}
        </button>
      </form>
    {% endif %}

    <div class="btn-group md:ml-auto">
      <a class="btn btn--default btn--sm" href="{% url 'submissions:submissions_list' %}?{{ export_csv_url_params_simple }}">
        {% include "_icon.html" with id="download" class="icon--75" %}
        {% translate "Export simple" %}
      </a>
      {% if user_is_backoffice_or_integrator %}
        <a class="btn btn--default btn--sm" href="{% url 'submissions:submissions_list' %}?{{ export_csv_url_params_advanced }}">
          {% include "_icon.html" with id="download" class="icon--75" %}
          {% translate "Export complet" %}
        </a>
      {% endif %}
    </div>

    <details class="open:contents"{% if active_filters_count %} open{% endif %}>
      <summary class="btn btn--default btn--sm relative">
        {% include "_icon.html" with id="filter" class="icon--75" %}
        {% translate "Filtres" %}
        {% include "_icon.html" with id="chevron-down" class="icon--75" %}
        {% if active_filters_count %}
          <div class="h-5 aspect-square content-center absolute -top-2 -right-2 text-white text-center bg-warning-500 rounded-full">
            {{ active_filters_count }}
          </div>
        {% endif %}
      </summary>

      <form action="" method="get" class="w-full dropdown p-5 mb-2">
        {{ filter.form.as_table }}

        <div class="form-actions">
          <button type="submit" class="btn btn--primary">{% translate "Appliquer" %}</button>

          <a class="btn btn--default" href="{% url 'submissions:submissions_list' %}">
            {% include "_icon.html" with id="filter-x" class="icon--75" %}
            {% translate "Réinitialiser" %}
          </a>
        </div>
      </form>
    </details>
  </div>
{% endif %}

{{ filter.form.media }}
