{% load i18n core submissions_extras %}

<div class="page-header flex gap-6 items-end justify-between">
  <div class="flex flex-wrap items-center gap-6">
    <h1>{% translate "Mes demandes" %}</h1>

    {% can_archive_submissions as can_archive_submissions %}
    {% if can_archive_submissions %}
      <div class="btn-group">
        <a href="{% url 'submissions:submissions_list' %}" class="btn btn--default{% menu_class_for_url 'submissions:submissions_list' %}">
          {% translate "En cours" %}
        </a>
        <a href="{% url 'submissions:archived_submission_list' %}" class="btn btn--default{% menu_class_for_url 'submissions:archived_submission_list' %}">
          {% translate "Archivées" %}
        </a>
      </div>
    {% endif %}
  </div>

  {% if user.is_authenticated %}
    <a class="btn btn--primary" href="{% url 'submissions:submission_select_administrative_entity' %}">
      {% include "_icon.html" with id="circle-plus" %}
      <span class="max-sm:sr-only text-nowrap">{% translate "Nouvelle demande" %}</span>
    </a>
  {% endif %}
</div>
