{% load i18n %}

{% for validation in validations %}
  <div class="card" data-test="validation-{{ validation.id }}">
    <div class="card__header">
      <h3 class="card__title">{{ validation.department }}</h3>
    </div>

    <div class="card__body">
      <dl class="metadata">
        <div class="metadata__item">
          <dt>{% translate "État" %}</dt>
          <dd>
            <div class="badge {% if validation.validation_status == 1 %}badge--success{% elif validation.validation_status == 2 %}badge--danger{% else %}badge--warning{% endif %}">
              {% if validation.validation_status == 1 %}
                {% include "_icon.html" with id="check" class="icon--75" %}
              {% elif validation.validation_status == 2 %}
                {% include "_icon.html" with id="cross" class="icon--75" %}
              {% else %}
                {% include "_icon.html" with id="clock" class="icon--75" %}
              {% endif %}

              {{ validation.get_validation_status_display }}
            </div>

            {% if validation.should_display_supplement_button and has_permission_to_ask_for_validation %}
              <form method="POST" action="{% url 'submissions:submission_validations_return' validation.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn--icon">
                  {% include "_icon.html" with id="send" class="icon--75" %}
                  Renvoyer en validation
                </button>
              </form>
            {% endif %}

            {% if has_permission_to_classify or can_validate_submission %}
              <div class="mt-2">
                {% if validation.validated_by %}
                  {% translate "Par" %}
                  <strong>
                    {{ validation.validated_by.first_name }}
                    {{ validation.validated_by.last_name }}
                  </strong>
                  {% translate "le" %} {{ validation.validated_at }}
                {% endif %}
              </div>
            {% endif %}
          </dd>
        </div>

        {% if validation.comment %}
          {% if validation.comment_is_visible_by_author or current_user != submission.author %}
            <div class="metadata__item">
              <dt>{% translate "Commentaire" %}</dt>
              <dd>
                <blockquote>{{ validation.comment|linebreaksbr }}</blockquote>

                {% if current_user != submission.author and should_display_comment_visibility %}
                  <div class="mt-4 grid gap-1 text-sm text-grey-600">
                    <div class="flex gap-2">
                      {% if validation.comment_is_visible_by_author %}
                        {% include "_icon.html" with id="eye" class="icon--75 mt-px" %}
                        {% translate "Visible dans le résumé pour l’auteur·e de la demande" %}
                      {% else %}
                        {% include "_icon.html" with id="eye-off" class="icon--75 mt-px" %}
                        {% translate "Invisible dans le résumé pour l’auteur·e de la demande" %}
                      {% endif %}
                    </div>
                    <div class="flex gap-2">
                      {% if validation.comment_is_visible_in_reports %}
                        {% include "_icon.html" with id="eye" class="icon--75 mt-px" %}
                        {% translate "Visible dans le modèle d’impression" %}
                      {% else %}
                        {% include "_icon.html" with id="eye-off" class="icon--75 mt-px" %}
                        {% translate "Invisible dans le modèle d’impression" %}
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
            </div>
          {% endif %}
        {% endif %}
      </dl>
    </div>
  </div>
{% endfor %}
