{% load i18n %}

{% if not user.userprofile.is_temporary %}
  <div class="mt-6 px-4">
    {% comment %}
    This is not a native submit button on purpose; since it’s the first submit button on the page, it would become the default
    and therefor be used when submitting the form with the enter key. We want the "save and continue" button to be the default.
    {% endcomment %}
    <button id="save-and-quit-button" form="submission-step-form" type="button" class="btn btn--default w-full">
      {% include "_icon.html" with id="save" %}
      {% translate "Enregistrer et quitter" %}
    </button>
  </div>
{% endif %}
