{% extends "base_generic.html" %}

{% load static i18n django_vite %}
{% load render_table from django_tables2 %}

{% block scripts %}
  <script src="{% static 'django_tables2_column_shifter/js/django_tables2_column_shifter.min.js' %}" defer></script>
  {% vite_asset 'assets/js/archived-submissions-list.js' %}
{% endblock %}

{% block content %}
  <div class="container">
    {% include "submissions/_submissions_list_header.html" %}
    {% include "submissions/_archived_submission_toolbox_header.html" %}

    {% render_table table %}
  </div>
{% endblock %}
