{% extends "base_generic.html" %}

{% load i18n %}

{% block content %}
  <div class="container container--xs">
    <div class="page-header">
      <h1>{% translate "Effacer l’archive" %}</h1>
    </div>
    <form method="post">
      {% csrf_token %}
      <p>{% blocktrans with id=object.pk %}Êtes-vous sûr·e de vouloir supprimer l’archive #{{ id }}?{% endblocktrans %}</p>

      <div class="form-actions form-actions--separated form-actions--emphased">
        <button type="submit" class="btn btn--primary">{% translate "Confirmer" %}</button>
        <span class="form-actions__spacer"></span>
        <a href="{% url 'submissions:archived_submission_list' %}" class="btn btn--text">
          {% include "_icon.html" with id="chevron-left" class="icon--75" %}
          {% translate "Annuler" %}
        </a>
      </div>
    </form>
  </div>
{% endblock %}
