{% extends "base_generic.html" %}

{% load django_vite %}

{% block main-class %}py-0 grid{% endblock main-class %}

{% block scripts %}
  {% vite_asset 'assets/js/submission-form.js' %}
{% endblock %}

{% block content %}
  <div class="form-layout">
    <div class="form-layout__sidebar">
      <div class="sticky top-[calc(var(--navbar-height)+2rem)]">
        {% block sidebar %}{% endblock sidebar %}
      </div>
    </div>
    <div class="form-layout__body">
      {% block step %}{% endblock step %}
    </div>
  </div>
{% endblock content %}
