{% extends "base_generic.html" %}

{% load i18n submissions_extras %}

{% block content %}
  <div class="container container--xs">
    <div class="page-header">
      <h1>{{ config.ANONYMOUS_REQUEST_SENT_TITLE }}</h1>
    </div>

    <p>
      {{ config.ANONYMOUS_REQUEST_SENT_BODY }}
    </p>
  </div>
{% endblock %}
