  {% extends "base_generic.html" %}

{% load static i18n core django_vite %}
{% load render_table from django_tables2 %}

{% block scripts %}
  <script src="{% static 'django_tables2_column_shifter/js/django_tables2_column_shifter.min.js' %}" defer></script>
  {% vite_asset 'assets/js/submissions-list.js' %}
{% endblock %}

{% block content %}
  <div class="container">
    {% if show_update_profile %}
      <div class="alert alert--warning mb-4">
        {% translate "Votre compte doit être mis à jour, aucun pays n'est actuellement renseigné:" %}
        <a href="{% url 'accounts:user_profile_edit' %}">{% translate "gérer mon compte" %}</a>
      </div>
    {% endif %}

    {% include "submissions/_submissions_list_header.html" %}
    {% include "submissions/_submission_toolbox_header.html" %}

    {% render_table table %}
  </div>
{% endblock %}
