{% extends "base_generic.html" %}

{% load i18n submissions_extras %}

{% block content %}
  <div class="container container--xs">
    <div class="page-header">
      <h1>{% translate "Paiement refusé" %}</h1>
    </div>

    <p class="mb-4">
      {% blocktranslate trimmed %}
        Votre paiement a été refusé. Vous pouvez retourner à votre demander et réessayer.
      {% endblocktranslate %}
    </p>

    <p>
      {% blocktranslate trimmed %}
        Veillez à bien vérifier vos informations de paiement avant de tenter à nouveau la transaction.
      {% endblocktranslate %}
    </p>

    <div class="form-actions">
      <a class="btn btn--default" href="{{ submission_url }}">
        {% include "_icon.html" with id="chevron-left" class="icon--75" %}
        {% translate "Ma demande" %}
      </a>
    </div>
  </div>
{% endblock %}
