{% extends "submissions/base.html" %}

{% load i18n submissions_extras static %}

{% block sidebar %}
  {% submission_progressbar steps StepType.SUBMIT %}
{% endblock sidebar %}

{% block step %}
  <div class="page-header">
    <h1>{% translate "Résumé et envoi" %}</h1>
  </div>

  <div class="mb-6">{% directives_and_legal submission %}</div>

  {% if submission.administrative_entity.signature_sheet and submission.administrative_entity.signature_sheet_description %}
    <div class="card mb-6">
      <div class="card__header">
        <h2 class="card__title">{% translate "Volet de transmission" %}</h2>
      </div>
      <div class="card__body">
        <div class="mb-3">{{ submission.administrative_entity.signature_sheet_description|safe }}</div>

        <a class="btn btn--default btn--sm" href="{{ submission.administrative_entity.signature_sheet.url }}" target="_blank"
          rel="noreferrer">
          {% include "_icon.html" with id="download" class="icon--75" %}
          {% translate "Télécharger le volet de transmission pour impression et signature" %}
        </a>
      </div>
    </div>
  {% endif %}

  {% if incomplete_steps %}
    <div class="alert alert--info">
      <p class="mb-2">
        {% blocktranslate trimmed %}
          Votre demande n’est pas complète mais elle est sauvegardée. Vous pouvez
          revenir dans l’application ultérieurement afin de la compléter. Une fois
          toutes les informations saisies, vous pourrez l’envoyer.
        {% endblocktranslate %}
      </p>

      <a class="btn btn--default btn--sm" href="{{ incomplete_steps|first }}">
        {% include "_icon.html" with id="chevron-left" class="icon--75" %}
        {% translate "Renseigner les informations manquantes" %}
      </a>
    </div>
  {% else %}
    {% if not has_any_form_with_exceeded_submissions %}
      <div class="alert alert--info mb-6">
        {% blocktranslate trimmed %}
          Votre demande est prête à être transmise. Avant de continuer, nous vous demandons de vérifier les détails de celle-ci pour vous assurer que tout est correct.
        {% endblocktranslate %}
      </div>
    {% endif %}

    <form method="post" action="{% url 'submissions:submission_submit' submission_id=submission.pk %}" data-test="submission-submit-form">
      {% csrf_token %}

      {% if has_any_form_with_exceeded_submissions %}
        <div class="alert alert--danger">
          {{ submission.get_maximum_submissions_message }}
        </div>
      {% else %}
        <div class="field-group mb-6">
          <input type="checkbox" id="chk_accept_terms" name="chk_accept_terms" class="checkbox" required>
          <label for="chk_accept_terms">{% translate "J’ai lu et accepte les" %} <a href="{{ config.GENERAL_CONDITIONS_URL }}" target="_blank" rel="noreferrer" required>{% translate "conditions d’utilisation" %}</a>.</label>
        </div>

        {% if should_go_to_payment %}
          <div class="mb-4">
            {% blocktranslate trimmed with text=submission.get_submission_price.text amount=submission.get_submission_price.amount currency=submission.get_submission_price.currency %}
              Vous avez sélectionné “<strong>{{ text }}</strong>” au prix de<strong> {{ amount }} {{ currency }}</strong>
            {% endblocktranslate %}
          </div>
        {% endif %}
      {% endif %}

      <div class="form-actions form-actions--separated form-actions--emphased">
        {% if not has_any_form_with_exceeded_submissions %}
          <button type="submit" class="btn btn--primary">
            {% if should_go_to_payment %}
              {% translate "Payer maintenant" %}
            {% else %}
              {% translate "Transmettre la demande" %}
            {% endif %}
          </button>
          <span class="form-actions__spacer"></span>
        {% endif %}

        {% if previous_step.url %}
          <a href="{{ previous_step.url }}" class="btn btn--text">
            {% include "_icon.html" with id="chevron-left" class="icon--75" %}
            {% translate "Retour" %}
          </a>
        {% endif %}
      </div>
    </form>
  {% endif %}

  <h2 class="mt-8 mb-4">{% translate "Récapitulatif de la saisie" %}</h2>
  {% submission_summary submission %}
{% endblock step %}
