{% extends "base_generic.html" %}

{% load i18n submissions_extras %}

{% block content %}
  <div class="container container--xs">
    <div class="page-header">
      <h1>{% translate "Formulaire" %}</h1>
    </div>

    <p class="mb-6">{{ config.ANONYMOUS_CAPTCHA_STEP }}</p>

    <form method="post">
      {% csrf_token %}

      {{ anonymous_request_form }}

      <div class="form-actions">
        <button type="submit" class="btn btn--primary">{% translate "Continuer" %}</button>
        <button type="button" class="btn btn--default" data-role="refresh-captcha">
          {% translate "Rafraîchir le captcha" %}
        </button>
      </div>
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $('[data-role="refresh-captcha"]').click(function(){
      const $form = $(this).parents('form');
      $.getJSON('{{ captcha_refresh_url }}', function(json) {
        $('.captcha', $form).attr('src', json['image_url']);
        $('#id_captcha_0', $form).val(json['key'])
      });
      return false;
    });
  </script>
{% endblock %}
