{% extends "submissions/base.html" %}

{% load i18n submissions_extras django_vite %}

{% block scripts %}
  {{ block.super }}
  {% vite_asset 'assets/js/submission-form-geo-time.js' %}
{% endblock %}

{% block sidebar %}
  {% submission_progressbar steps StepType.GEO_TIME %}
  {% include "submissions/_submission_save_quit_button.html" %}
{% endblock sidebar %}

{% block step %}
  <div id="permit-request-geo-time">
    <div class="page-header">
      <h1 class="mb-2">{{ geo_title }}</h1>
      {% directives_and_legal_cta submission %}
    </div>

    {% if submission.has_geo_step_help_texts %}
      <div class="alert alert--info mb-6">
        {% for text in submission.get_geo_step_help_texts %}
          {{ text }}
          {% if not forloop.last %}<br>{% endif %}
        {% endfor %}
      </div>
    {% endif %}

    <form id="submission-step-form" method="post">
      <div data-geo-time-role="forms" data-nb-forms="{{ formset.forms|length }}" data-permit-duration-max="{{ submission.max_validity }}" class="grid gap-6">
        {% for form in formset.forms %}
          {{ form.media }}
          {% include "submissions/_geo_time_form.html" with form=form form_id=forloop.counter0 form_number=forloop.counter open=forloop.last %}
        {% endfor %}
      </div>

      {% csrf_token %}

      <div data-geo-time-role="managementForm">
        {{ formset.management_form }}
      </div>

      {% if can_have_multiple_ranges %}
        <div class="form-actions">
          <button class="btn btn--default" type="button" data-geo-time-role="addForm">
            {% include "_icon.html" with id="circle-plus" %}
            {% translate "Ajouter un élément" %}
          </button>
        </div>
      {% endif %}

      {% include "submissions/_submission_step_actions.html" %}
    </form>

    <div class="hidden" data-geo-time-role="emptyForm">
      {% include "submissions/_geo_time_form.html" with form=formset.empty_form form_id="__prefix__" form_number="__prefix__" open=False %}
    </div>
  </div>
{% endblock step %}
