{% extends "base_generic.html" %}

{% load static i18n %}

{% block content %}
  <div class="container container--sm">
    <div class="page-header">
      <div class="text-grey-600 uppercase text-sm font-semibold mb-1">
        <a href="{% url "submissions:submission_detail" submission_id=submission.pk %}" class="link-ghost">{% blocktranslate with request_id=submission.pk %}Demande #{{ request_id }}{% endblocktranslate %}</a>
      </div>
      <h1>{% translate "Modifier les validations" %}</h1>
    </div>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      {{ formset.management_form }}

      {% for form in formset %}
        {{ form.media }}
        {% include "django/forms/horizontal.html" with form=form %}
      {% endfor %}

      <div class="form-actions form-actions--separated form-actions--emphased">
        <button class="btn btn--primary" name="save_continue">{% translate "Enregistrer" %}</button>
        <span class="form-actions__spacer"></span>
        <a href="{% url "submissions:submission_detail" submission_id=submission.pk %}" class="btn btn--text">
          {% include "_icon.html" with id="chevron-left" class="icon--75" %}
          {% translate "Retour à la demande" %}
        </a>
      </div>
    </form>
  </div>
{% endblock %}
