{% extends "submissions/base.html" %}

{% load i18n submissions_extras %}

{% block sidebar %}
  {% submission_progressbar steps StepType.FIELDS %}
  {% include "submissions/_submission_save_quit_button.html" %}
{% endblock sidebar %}

{% block step %}
  <div class="page-header">
    <h1 class="mb-2">{{ config.PROPERTIES_STEP }} </h1>
    {% directives_and_legal_cta submission %}
  </div>

  <form id="submission-step-form" method="post" data-test="submission-fields-form">
    {% csrf_token %}
    {{ submission_form.media }}
    {% include "submissions/_submission_prices.html" %}
    {% include "submissions/_submission_fields_form.html" with form=submission_form fields_by_forms=fields_by_forms %}
    {% include "submissions/_submission_step_actions.html" %}
  </form>
{% endblock step %}
