{% extends "submissions/base.html" %}

{% load i18n submissions_extras %}

{% block sidebar %}
  {% submission_progressbar steps StepType.APPENDICES %}
  {% include "submissions/_submission_save_quit_button.html" %}
{% endblock sidebar %}

{% block step %}
  <div class="page-header">
    <h1 class="mb-2">{{ config.APPENDICES_STEP }}</h1>
    {% directives_and_legal_cta submission %}
  </div>

  <form id="submission-step-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="grid gap-6">
      {% for form, fields in forms %}
        <div class="card">
          <div class="card__header">
            <h2 class="card__title">{{ form.name }}</h2>
          </div>
          <div class="card__body form form--horizontal">
            {% for field in fields %}
              {% include "django/forms/field.html" %}
            {% endfor %}
          </div>
        </div>
      {% empty %}
        <p class="text-grey-600">{% translate "Aucune annexe requise pour cette demande de permis." %}</p>
      {% endfor %}
    </div>

    {% if forms %}
      {% include "submissions/_submission_step_actions.html" %}
    {% else %}
      {% translate "Continuer" as submit_label %}
      {% include "submissions/_submission_step_actions.html" with submit_label=submit_label %}
    {% endif %}
  </form>
{% endblock step %}
