{% extends "submissions/base.html" %}

{% load i18n submissions_extras static %}

{% block sidebar %}
  {% submission_progressbar steps StepType.ADMINISTRATIVE_ENTITY %}
{% endblock sidebar %}

{% block step %}
  <div class="page-header">
    <h1>{{ config.LOCATION_STEP }}</h1>
  </div>

  {% if entityfilter and not user.userprofile.is_temporary %}
    <div class="alert alert--info mb-6">
      {% translate "La liste ci-dessous est filtrée," %}
      <a href="{% url 'submissions:submission_select_administrative_entity' %}">
        <b>{% translate "voir toutes les possibilités" %}</b>
      </a>.
    </div>
  {% endif %}

  <form method="post">
    {% csrf_token %}

    {{ form }}

    {% translate "Continuer" as submit_label %}
    {% include "submissions/_submission_step_actions.html" with submit_label=submit_label %}
  </form>
{% endblock step %}
