{% extends "base_generic.html" %}

{% load i18n submissions_extras %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="container container--sm">
    <div class="page-header">
      <h1>{% translate "Demande de prolongation de permis" %}</h1>
    </div>

    <form method="post">
      {% csrf_token %}
      {{ submission_prolongation_form.media }}

      {% include "submissions/_submission_prices.html" %}

      {{ submission_prolongation_form }}

      <div class="form-actions form-actions--separated form-actions--emphased">
        <button class="btn btn--primary">
          {% if submission.requires_online_payment %}
            {% translate "Payer" %}
          {% else %}
            {% translate "Enregistrer" %}
          {% endif %}
        </button>
        <span class="form-actions__spacer"></span>
        <a href="{% url 'submissions:submissions_list' %}" class="btn btn--text">
          {% include "_icon.html" with id="chevron-left" class="icon--75" %}
          {% translate "Retour à la liste des demandes" %}
        </a>
      </div>
    </form>
  </div>
{% endblock %}
