{% extends "submissions/base.html" %}

{% load i18n submissions_extras %}

{% block sidebar %}
  {% submission_progressbar steps StepType.FORMS %}
  {% include "submissions/_submission_save_quit_button.html" %}
{% endblock sidebar %}

{% block step %}
  <div class="page-header">
    <h1>{{ current_step_title }}</h1>
  </div>

  {% if typefilter and not user.userprofile.is_temporary %}
    <div class="alert alert--info mb-6">
      {% translate "La liste ci-dessous est filtrée," %}
      <a href="{% url 'submissions:submission_select_forms' submission_id=submission.pk %}">
        <b>{% translate "voir toutes les possibilités" %}</b>
      </a>.
    </div>
  {% endif %}

  <form id="submission-step-form" method="post">
    {% csrf_token %}

    {{ forms_selection_form }}

    {% include "submissions/_submission_step_actions.html" %}
  </form>
{% endblock %}
