{% extends "base_generic.html" %}

{% load i18n submissions_extras static django_vite %}
{% load render_table from django_tables2 %}

{% block scripts %}
  {% if display_actions %}
    {% vite_asset "assets/js/submission-actions.js" %}
  {% endif %}
{% endblock %}

{% block content %}
  {% if display_actions %}
    <div class="xl:grid xl:grid-cols-[3fr_2fr]">
  {% endif %}
    <div class="container container--lg">
      <div class="page-header">
        <div class="flex flex-wrap items-center justify-between gap-x-4 gap-y-2">
          <h1>
            {% blocktranslate with request_id=submission.pk %}Demande #{{ request_id }}{% endblocktranslate %}
          </h1>

          <div class="flex flex-wrap items-center gap-3 print:hidden">
            {% if can_edit_submission %}
              <div>
                <a href="{% url 'submissions:submission_fields' submission.pk %}" class="btn btn--default">
                  {% include "_icon.html" with id="pencil" class="icon--75" %}
                  {% translate "Modifier" %}
                </a>
              </div>
            {% endif %}
            <button type="button" onclick="javascript:window.print()" class="btn btn--default max-xs:hidden">
              {% include "_icon.html" with id="printer" class="icon--75" %}
              {% translate "Imprimer" %}
            </button>

            {% if display_actions %}
              <button type="button" class="xl:hidden btn btn--default -mr-[--container-gap] rounded-r-none border-r-0" data-role="show-panel" data-panel="submission-actions">
                {% include "_icon.html" with id="chevron-left" class="icon--75" %}
                {% translate "Gestion" %}
                {% include "_icon.html" with id="settings" %}
              </button>
            {% endif %}
          </div>
        </div>

        <div class="mt-3 flex flex-wrap items-center gap-x-6 gap-y-3 text-sm text-grey-600">
          {% if submission.status %}
            {% include "submissions/_submission_status.html" with subission=submission %}
          {% endif %}
          {% if can_be_public %}
            <div>
              {% if submission.is_public or submission.is_public_agenda %}
                <span class="badge badge--success">
                  {% include "_icon.html" with id="eye" class="icon--75" %}
                  Publique
                </span>
                {% else %}
                <span class="badge badge--danger">
                  {% include "_icon.html" with id="eye-off" class="icon--75" %}
                  Privée
                </span>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>

      <div class="grid print:block md:grid-cols-[1fr,3fr] items-start gap-12">
        <div class="grid gap-8 print:mb-12">
          {% if submission.author and not submission.author.userprofile.is_temporary and not submission.author.userprofile.is_anonymous %}
            <div>
              <h2 class="h4 mb-4">{% translate "Auteur·e" %}</h2>
              <div class="grid gap-1 text-sm">
                <div class="font-semibold">{{ submission.author.first_name }} {{ submission.author.last_name }}</div>
                <div>
                  <a href="mailto:{{ submission.author.userprofile }} <{{ submission.author.email }}>" target="_blank" rel="noreferrer">
                    {{ submission.author.email }}
                  </a>
                </div>
                <div>
                  {{ submission.author.userprofile.address }}
                  <br>{{ submission.author.userprofile.zipcode }} {{ submission.author.userprofile.city }}
                  {% if submission.author.userprofile.country %}
                    <br>{{ submission.author.userprofile.country.name }}
                  {% endif %}
                </div>
                <div>
                  <a href="tel:{{ submission.author.userprofile.phone_first }}" target="_blank" rel="noreferrer" title="{% translate 'Téléphone principal' %}">{{ submission.author.userprofile.phone_first }}</a>
                  {% if submission.author.userprofile.phone_second %}
                    <br>
                    <a href="tel:{{ submission.author.userprofile.phone_second }}" target="_blank" rel="noreferrer" title="{% translate 'Téléphone secondaire' %}">{{ submission.author.userprofile.phone_second }}</a>
                  {% endif %}
                </div>
                {% if settings.AUTHOR_IBAN_VISIBLE %}
                  <div>{{ submission.author.userprofile.iban }}</div>
                {% endif %}
                <div>
                  {{ submission.author.userprofile.company_name }} {{ submission.author.userprofile.vat_number }}
                </div>
              </div>
            </div>
          {% endif %}

          {% if submission.validation_pdf %}
            <div>
              <h2 class="h4 mb-4">{% translate "Document délivré" %}</h2>
              <div id="validation_pdf">
                <a href="{{ submission.validation_pdf.url }}" class="btn btn--default btn--sm" target="_blank" rel="noreferrer">
                  {% include "_icon.html" with id="download" class="icon--75" %}
                  {% translate "Télécharger" %}
                </a>
              </div>
            </div>
          {% endif %}

          {% if submission.administrative_entity.signature_sheet and submission.administrative_entity.signature_sheet_description %}
            <div>
              <h2 class="h4 mb-4">{% translate "Volet de transmission" %}</h2>
              <div id="validation_pdf">
                <a href="{{ submission.administrative_entity.signature_sheet.url }}" class="btn btn--default btn--sm" target="_blank" rel="noreferrer">
                  {% include "_icon.html" with id="download" class="icon--75" %}
                  {% translate "Télécharger" %}
                </a>
              </div>
            </div>
          {% endif %}

          {% if submission_history %}
            <div>
              <h2 class="h4 mb-4">{% translate "Évolution" %}</h2 >
              <ul class="feed text-sm">
                {% for date, archive in submission_history %}
                  <li class="feed__item">
                    <div class="font-semibold">
                      {% if archive.status == submission.STATUS_PROCESSING and forloop.last %}
                        {% translate "Demande soumise" %}
                      {% else %}
                        {{ archive.get_status_display }}
                      {% endif %}
                    </div>
                    <div>{{ archive.history_date }}</div>
                    {% if archive.history_user and not archive.history_user.userprofile.is_temporary and not archive.history_user.userprofile.is_anonymous %}
                      <div class="text-grey-600">{{ archive.history_user.get_full_name }}</div>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>

        <div class="grid gap-12">
          {% if validations %}
            <div>
              <div class="mb-4 flex flex-wrap gap-3 items-center justify-between">
                <h2>{% translate "Validation" %}</h2>
                {% if has_permission_to_edit_submission_validations %}
                  <div>
                    <a href="{% url 'submissions:submission_validations_edit' submission_id=submission.pk %}" class="btn btn--default btn--sm">
                      {% include "_icon.html" with id="pencil" class="icon--75" %}
                      {% translate "Modifier les validations" %}
                    </a>
                  </div>
                {% endif %}
              </div>

              <div class="grid gap-6">
                {% for validation in validations %}
                  <div class="card" data-test="validation-{{ validation.id }}">
                    <div class="card__header">
                      <h3 class="card__title">{{ validation.department }}</h3>
                    </div>

                    <div class="card__body">
                      <dl class="metadata">
                        <div class="metadata__item">
                          <dt>{% translate "État" %}</dt>
                          <dd>
                            <div class="badge {% if validation.validation_status == 1 %}badge--success{% elif validation.validation_status == 2 %}badge--danger{% else %}badge--warning{% endif %}">
                              {% if validation.validation_status == 1 %}
                                {% include "_icon.html" with id="check" class="icon--75" %}
                              {% elif validation.validation_status == 2 %}
                                {% include "_icon.html" with id="cross" class="icon--75" %}
                              {% else %}
                                {% include "_icon.html" with id="clock" class="icon--75" %}
                              {% endif %}

                              {{ validation.get_validation_status_display }}
                            </div>

                            {% if has_permission_to_classify or can_validate_submission %}
                              <div class="mt-2">
                                {% if validation.validated_by %}
                                  {% translate "Par" %}
                                  <strong>
                                    {{ validation.validated_by.first_name }}
                                    {{ validation.validated_by.last_name }}
                                  </strong>
                                  {% translate "le" %} {{ validation.validated_at }}
                                {% endif %}
                              </div>
                            {% endif %}
                          </dd>
                        </div>

                        {% if validation.comment %}
                          {% if validation.comment_is_visible_by_author or current_user != submission.author %}
                            <div class="metadata__item">
                              <dt>{% translate "Commentaire" %}</dt>
                              <dd>
                                <blockquote>{{ validation.comment|linebreaksbr }}</blockquote>

                                {% if current_user != submission.author %}
                                  <div class="mt-4 grid gap-1 text-sm text-grey-600">
                                    <div class="flex gap-2">
                                      {% if validation.comment_is_visible_by_author %}
                                        {% include "_icon.html" with id="eye" class="icon--75 mt-px" %}
                                        {% translate "Visible dans le résumé pour l’auteur·e de la demande" %}
                                      {% else %}
                                        {% include "_icon.html" with id="eye-off" class="icon--75 mt-px" %}
                                        {% translate "Invisible dans le résumé pour l’auteur·e de la demande" %}
                                      {% endif %}
                                    </div>
                                    <div class="flex gap-2">
                                      {% if validation.comment_is_visible_in_reports %}
                                        {% include "_icon.html" with id="eye" class="icon--75 mt-px" %}
                                        {% translate "Visible dans le modèle d’impression" %}
                                      {% else %}
                                        {% include "_icon.html" with id="eye-off" class="icon--75 mt-px" %}
                                        {% translate "Invisible dans le modèle d’impression" %}
                                      {% endif %}
                                    </div>
                                  </div>
                                {% endif %}
                            </div>
                          {% endif %}
                        {% endif %}
                      </dl>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}

          {% if submission.can_be_prolonged and submission.prolongation_date %}
            <div>
              <h2 class="mb-4">{% translate "Prolongation" %}</h2>
              <div class="card">
                <div class="card__header">
                  <span class="card__title">{% blocktrans with date=submission.prolongation_date %}Jusqu’au {{ date }}{% endblocktrans %}</span>
                </div>
                <div class="card__body">
                  <dl class="metadata">
                    {% if submission.get_prolongation_status_display %}
                      <div class="metadata__item">
                        <dt>{% translate "État" %}</dt>
                        <dd>
                          <span class="badge {% if submission.prolongation_status == 1 %}badge--success{% elif submission.prolongation_status == 2 %}badge--danger{% else %}badge--warning{% endif %}">
                            {% if submission.prolongation_status == 1 %}
                              {% include "_icon.html" with id="check" class="icon--75" %}
                            {% elif submission.prolongation_status == 2 %}
                              {% include "_icon.html" with id="cross" class="icon--75" %}
                            {% else %}
                              {% include "_icon.html" with id="clock" class="icon--75" %}
                            {% endif %}
                            {{ submission.get_prolongation_status_display }}
                          </span>
                        </dd>
                      </div>
                    {% endif %}
                    {% if submission.prolongation_comment %}
                      <div class="metadata__item">
                        <dt>{% translate "Commentaire" %}</dt>
                        <dd>{{ submission.prolongation_comment|linebreaksbr }}</dd>
                      </div>
                    {% endif %}
                  </dl>
                </div>
              </div>
            </div>
          {% endif %}

          {% if submission.additional_decision_information %}
            <div>
              <h2 class="mb-4">{% translate "Informations complémentaires" %}</h2>
              <dl class="metadata">
                <div class="metadata__item">
                  <dt>{% translate "Information sur la décision" %}</dt>
                  <dd>{{ submission.additional_decision_information|linebreaksbr }}</dd>
                </div>
              </dl>
            </div>
          {% endif %}

          {% if documents %}
            <div>
              <h2 class="mb-4">{% translate "Documents" %}</h2>

              <div class="grid gap-6">
                {% for document in documents %}
                  <div class="card">
                    <div class="card__header">
                      <div class="flex flex-wrap gap-3">
                        <h3 class="card__title">{% translate "Document" %} {{ forloop.counter }}</h3>
                        {% if document.is_public %}
                          <span class="badge badge--warning">{% translate "Public" %}</span>
                        {% endif %}
                      </div>

                      {% if user == document.owner and user != submission.author or user.is_superuser %}
                        <form method="post" action="{% url 'submissions:complementary_documents_delete' pk=document.id %}" class="contents">
                          {% csrf_token %}
                          <button class="btn btn--text btn--sm" type="submit"{% if document.status == 1 %} title="{% trans "Les documents finaux ne peuvent pas être supprimés." %}" disabled{% endif %}>
                            {% include "_icon.html" with id="trash" class="icon--75" %}
                            {% translate "Supprimer" %}
                          </button>
                        </form>
                      {% endif %}
                    </div>
                    <div class="card__body">
                      <dl class="metadata">
                        <div class="metadata__item">
                          <dt>{% translate "Fichier" %}</dt>
                          <dd>
                            <a href="{% url 'submissions:complementary_documents_download' document.name %}" class="btn btn--default btn--sm" title="{{ document.document }}">
                              {% include "_icon.html" with id="download" class="icon--75" %}
                              {% trans "Télécharger le document" %}
                            </a>
                          </dd>
                        </div>
                        <div class="metadata__item">
                          <dt>{% translate "Statut" %}</dt>
                          <dd>{{ document.get_status_display }}</dd>
                        </div>
                        <div class="metadata__item">
                          <dt>{% translate "Type" %}</dt>
                          <dd>{{ document.document_type }}</dd>
                        </div>
                        {% if document.description %}
                          <div class="metadata__item">
                            <dt>{% translate "Description" %}</dt>
                            <dd>{{ document.description }}</dd>
                          </div>
                        {% endif %}
                      </dl>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}

          <div>
            <h2 class="mb-4">{% translate "Récapitulatif" %}</h2>
            {% submission_summary submission %}
          </div>
        </div>
      </div>

      <div class="form-actions form-actions--separated mt-10 print:hidden">
        <a href="{% url 'submissions:submissions_list' %}" class="btn btn--text">
          {% include "_icon.html" with id="chevron-left" class="icon--75" %}
          {% translate "Retour à la liste des demandes" %}
        </a>
      </div>
    </div>

  {% if display_actions %}
    {% include "submissions/_submission_actions.html" %}
    </div>
  {% endif %}
{% endblock content %}
