{% extends "submissions/base.html" %}

{% load static i18n submissions_extras django_vite %}

{% block scripts %}
  {{ block.super }}
  {% vite_asset "assets/js/submission-form-contacts.js" %}
{% endblock %}

{% block sidebar %}
  {% submission_progressbar steps StepType.CONTACTS %}
  {% include "submissions/_submission_save_quit_button.html" %}
{% endblock sidebar %}

{% block step %}
  <form id="submission-step-form" method="post">
    {% csrf_token %}
    {{ formset.management_form }}

    <div class="page-header">
      <h1 class="mb-2">{{ config.ACTORS_STEP }}</h1>
      {% directives_and_legal_cta submission %}
    </div>

    {% if requires_payment %}
      <div class="mb-8">
        <h2 class="mb-1">{% translate "Adresse de facturation" %}</h2>
        <div class="mb-4 text-grey-600">
          {% blocktranslate with first_name=userprofile.first_name last_name=userprofile.last_name %}
            Si différente de celle de l’auteur·e: <strong>{{ first_name }} {{ last_name }}</strong>
          {% endblocktranslate %}
        </div>

        {% include "django/forms/horizontal.html" with form=creditorform %}
      </div>
    {% endif %}

    <h2 class="mb-4">{% translate "Contacts" %}</h2>

    <div id="forms-container" class="grid gap-6" data-user-profile="{{ userprofile|json }}">
      {% for form in formset %}
        <fieldset class="card" data-role="contact-form"{% if form.attrs.hidden %} hidden{% endif %}>
          <legend>
            <div class="card__header justify-between">
              <div class="card__title">{% translate "Contact" %} {{ forloop.counter }}</div>
              <div class="field-group">
                <input data-role="fill-with-user-profile" id="self_contact_{{ forloop.counter }}" type="checkbox" class="checkbox" />
                <label for="self_contact_{{ forloop.counter }}">{% translate "Reprendre mes informations" %}</label>
              </div>
            </div>
          </legend>

          <div class="card__body">
            {{ form.media }}
            {% include "django/forms/horizontal.html" with form=form %}
          </div>
        </fieldset>
      {% endfor %}
    </div>

    {% if has_any_dynamic_contacts_forms %}
      <div id="contact-alert" class="alert alert--info mt-6 hidden">
        {% translate "Le nombre maximum de contacts est atteint" %}
      </div>

      <div class="form-actions">
        <button data-role="show-extra-form" class="btn btn--default" type="button">
          {% include "_icon.html" with id="circle-plus" %}
          {% translate "Ajouter un contact supplémentaire" %}
        </button>
      </div>
    {% endif %}

    {% include "submissions/_submission_step_actions.html" %}
  </form>
{% endblock step %}
