{% extends "base_generic.html" %}

{% load static i18n django_vite %}

{% block scripts %}
  {{ data|json_script:"service-fees" }}
  {% vite_asset "assets/js/submission-service-fees.js" %}
{% endblock %}

{% block content %}
  <div class="container container--sm">
    <div class="page-header">
      <div class="text-grey-600 uppercase text-sm font-semibold mb-1">
        <a href="{% url "submissions:submission_detail" submission_id=submission.pk %}" class="link-ghost">{% blocktranslate with request_id=submission.pk %}Demande #{{ request_id }}{% endblocktranslate %}</a>
      </div>
      <h1>
        {% if action == "update" %}
          {% translate "Modifier la prestation" %}
        {% elif action == "delete" %}
          {% translate "Supprimer la prestation" %}
        {% elif action == "create" %}
          {% translate "Ajouter une prestation" %}
        {% else %}
          {% translate "Consulter la prestation" %}
        {% endif %}

        {% if mode == "hourly_rate" %}
          {% translate "horaire" %}
        {% elif mode == "fix_price" %}
          {% translate "forfaitaire" %}
        {% endif %}
      </h1>
    </div>

    {% if action == "delete" %}
      <div class="alert alert--danger mb-6">
        {% translate "Êtes-vous certain de vouloir supprimer la prestation suivante?" %}
      </div>
    {% elif not action or action not in "create,update,delete" %}
      <div class="alert alert--info mb-6">
        {% translate "Vous êtes en mode consultation. Aucune action n'est possible ici." %}
      </div>
    {% endif %}

    {% if action == "create" %}
      <form method="POST">
        {% csrf_token %}
        {{ service_fees_form.media }}

        {% include "django/forms/horizontal.html" with form=service_fees_form %}

        <div class="form-actions form-actions--separated form-actions--emphased">
          <button class="btn btn--primary" name="save" type="submit" value="Save">
            {% translate "Enregistrer" %}
          </button>

          <button class="btn btn--default" name="save_continue" type="submit" value="Save_Continue">
            {% translate "Enregistrer et ajouter une autre" %}
          </button>

          <span class="form-actions__spacer"></span>

          <a href="{% url "submissions:submission_detail" submission_id=submission.pk %}" class="btn btn--text" onclick="javascript:history.back();">
            {% include "_icon.html" with id="chevron-left" class="icon--75" %}
            {% translate "Annuler" %}
          </a>
        </div>
      </form>
    {% elif action == "update" %}
      <form method="POST">
        {% csrf_token %}
        {{ service_fees_form.media }}

        {% include "django/forms/horizontal.html" with form=service_fees_form %}

        <div class="form-actions form-actions--separated form-actions--emphased">
          <button class="btn btn--primary" name="save" type="submit" value="Save">
            {% translate "Enregistrer" %}
          </button>
          <span class="form-actions__spacer"></span>
          <button class="btn btn--text" name="cancel" type="submit" value="Cancel">
            {% include "_icon.html" with id="chevron-left" class="icon--75" %}
            {% translate "Annuler" %}
          </button>
        </div>
      </form>
    {% elif action == "delete" %}
      {% include "django/forms/horizontal.html" with form=service_fees_form %}

      <form method="POST">
        {% csrf_token %}
        <div class="form-actions form-actions--separated form-actions--emphased">
          <button class="btn btn--primary" name="confirm" type="submit" value="Confirm">
            {% translate "Supprimer définitivement" %}
          </button>
          <span class="form-actions__spacer"></span>
          <button class="btn btn--text" name="cancel" type="submit" value="Cancel">
            {% include "_icon.html" with id="chevron-left" class="icon--75" %}
            {% translate "Annuler" %}
          </button>
        </div>
      </form>
    {% else %}
      {% include "django/forms/horizontal.html" with form=service_fees_form %}

      <div class="form-actions form-actions--separated">
        <form method="POST">
          {% csrf_token %}
          <button class="btn btn--text" name="cancel" type="submit" value="Cancel">
            {% include "_icon.html" with id="chevron-left" class="icon--75" %}
            {% translate "Retour" %}
          </button>
        </form>
      </div>
    {% endif %}
  </div>
{% endblock %}
