{% extends "base_generic.html" %}

{% load i18n submissions_extras %}

{% block content %}
  <div class="container container--xs">
    <div class="page-header">
      <h1>{% translate "Paiement effectué" %}</h1>
    </div>

    <p>{% translate "Merci pour votre paiement, votre transaction a été traitée avec succès." %}</p>

    <div class="form-actions">
      <a class="btn btn--default" href="{% url 'submissions:submissions_list' %}">
        {% include "_icon.html" with id="chevron-left" class="icon--75" %}
        {% translate "Mes demandes" %}
      </a>
    </div>
  </div>
{% endblock %}
