{% extends "base_generic.html" %}

{% load i18n %}

{% block content %}
  <div class="container container--sm">
    <div class="page-header">
      <h1>{{ title }}</h1>
    </div>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      {{ form }}

      <div class="form-actions form-actions--separated form-actions--emphased">
        <button class="btn btn--primary">
          {% if approve %}
            {% translate "Approuver la demande" %}
          {% else %}
            {% translate "Refuser la demande" %}
          {% endif %}
        </button>
        <span class="form-actions__spacer"></span>
        <a href="{% url 'submissions:submission_detail' submission_id=submission.pk %}" class="btn btn--text">
          {% include "_icon.html" with id="chevron-left" class="icon--75" %}
          {% translate "Retour à la demande" %}
        </a>
      </div>
    </form>
  </div>
{% endblock %}
