{% extends "base_generic.html" %}

{% load i18n %}

{% block content %}
  <div class="container container--xs">
    <div class="page-header">
      <h1>{% translate "Supprimer la demande" %}</h1>
    </div>

    <form method="post">
      {% csrf_token %}

      <p class="mb-4">{% blocktrans with id=submission.id_for_display %}Êtes-vous sûr·e de vouloir supprimer la demande {{ id }}?{% endblocktrans %}</p>

      <dl class="metadata">
        <div class="metadata__item">
          <dt>{% translate "Requérant" %}</dt>
          <dd>{{ submission.requester }}</dd>
        </div>
        {% if submission.sent_date %}
          <div class="metadata__item">
            <dt>{% translate "Demande du" %}</dt>
            <dd>{{ submission.sent_date }}</dd>
          </div>
        {% endif %}
      </dl>

      <div class="form-actions form-actions--separated form-actions--emphased">
        <button type="submit" class="btn btn--primary">{% translate "Supprimer" %}</button>
        <span class="form-actions__spacer"></span>
        <a class="btn btn--text" href="{% url 'submissions:submissions_list' %}">
          {% include "_icon.html" with id="chevron-left" class="icon--75" %}
          {% translate "Annuler" %}
        </a>
      </div>
    </form>
  </div>
{% endblock %}
