{% extends "base_generic.html" %}

{% load i18n %}

{% block content %}
  <div class="container container--sm">
    <div class="page-header">
      <h1 class="mt-2">{% translate "Mise en consultation publique" %}</h1>
    </div>

    <form method="post">
      {% csrf_token %}
      <div class="prose">
        <p>{% translate "Attention, les documents suivants deviendront publics une fois la mise en consultation publique démarrée:" %}</p>
        <ul>
          {% for non_public_document in non_public_documents %}
            <li>{{ non_public_document }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="hidden">
        {{ inquiry_form }}
      </div>

      <input name="action" type="hidden" value="request_inquiry">
      <input name="confirmation" type="hidden" value="confirmed">

      <div class="form-actions form-actions--separated form-actions--emphased">
        <button type="submit" class="btn btn--primary">
          {% translate "Confirmer la mise en consultation" %}
        </button>
        <span class="form-actions__spacer"></span>
        <a href="{% url 'submissions:submission_detail' submission.pk %}" class="btn btn--text">
          {% include "_icon.html" with id="chevron-left" class="icon--75" %}
          {% translate "Annuler" %}
        </a>
      </div>
    </form>
  </div>
{% endblock %}
