{% extends 'admin/base_site.html' %}

{% load i18n %}

{% block title %} {% translate 'Mailing' %} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block content %}

<script>
  var copyFieldContent = function(id) {
    let field = document.getElementById(id);
    navigator.clipboard.writeText(field.textContent.trim());
  }
</script>

  <div class="container container--sm">
    <div class="page-header">
      <h1>{% translate "Emails des différentes catégories d'utilisateurs" %}</h1>
      <hr>
      <div class="form-group">
        <h3>
          <label for="integratorUsersMails">{% translate "Intégrateurs" %}</label>
          <button class="btn btn-outline-primary" type="button" title="{% translate 'Copier' %}" onclick="copyFieldContent('integratorUsersMails');"><i class="fa fa-copy"></i></button>
        </h3>
        <textarea class="form-control" id="integratorUsersMails" rows="3">{{ integrator_users_mails }}</textarea>
      </div>
      <div class="form-group">
        <h3>
          <label for="pilotUsersMails">{% translate "Coordinateurs" %}</label>
          <button class="btn btn-outline-primary" type="button" title="{% translate 'Copier' %}" onclick="copyFieldContent('pilotUsersMails');"><i class="fa fa-copy"></i></button>
        </h3>
        <textarea class="form-control" id="pilotUsersMails" rows="3">{{ pilot_users_mails }}</textarea>
      </div>
      <div class="form-group">
        <h3>
          <label for="validatorUsersMails">{% translate "Validateurs" %}</label>
          <button class="btn btn-outline-primary" type="button" title="{% translate 'Copier' %}" onclick="copyFieldContent('validatorUsersMails');"><i class="fa fa-copy"></i></button>
        </h3>
        <textarea class="form-control" id="validatorUsersMails" rows="3">{{ validator_users_mails }}</textarea>
      </div>
    </div>
  </div>

{% endblock %}
