#geometry-widget-id_geom .btn {
  width: 300px;
  margin: 10px;
}

#id_tags {
  width: 758px;
}

.selector select {
  overflow-x: auto;
}

fieldset.sortable tr.has_original:first-child span.sort i.move-begin,
fieldset.sortable
  tr.has_original:not(:has(+ tr.has_original))
  span.sort
  i.move-end {
  opacity: 0;
}
