{% extends "base_generic.html" %}

{% load i18n %}

{% block content-wrapper %}
  <div class="container container--sm">
    {% block content %}
      <a href="{% url 'accounts:account_login' %}" class="btn btn--primary">Page de connexion</a>
    {% endblock %}
  </div>
{% endblock content-wrapper %}
