{% extends "reports/sections/_section.html" %}

{% block title %}
{% endblock %}

{% block content %}
    <fieldset>
        <legend><h2 style="color:red">Une erreur est survenue lors de la génération du paragraphe</h2></legend>
        <b>{{section}} n° {{order}}</b><br><br>
        Cette erreur peut être causée par une syntaxe incorrecte, telle qu'une boucle mal fermée ou une balise manquante, ou par l'utilisation d'une variable inexistante ou nulle.<br><br>
        Liste des variables potentiellement problématiques :
        <ul>
        {% for error in errors %}
            <li>{{error}}</li>
        {% endfor %}
        </ul><br>
        La détection d'erreurs n'intègre pas de logique avancée, ce qui peut entraîner des faux positifs, notamment pour les variables issues de boucles ou de fonctions. Si une condition "if" vérifie déjà la validité de la variable, l'erreur peut être ignorée.<br><br>
        <a href="https://gitlab.com/geocity/geocity/-/wikis/impression#paragraphe-libre" target="_blank" rel="noopener noreferrer"><b>Documentation</b></a>
    </fieldset>
{% endblock %}
