{% extends "reports/sections/_section.html" %}

{% block content %}
<div class="flex_container" style="padding-top: {{section.padding_top_recipient}}px;">
    <div class="flex_item-60"></div>
    <div class="flex_item-40" style="text-align: left;">
        {% if section.is_recommended %}
            <span class="bold">RECOMMANDEE</span><br>
        {% endif %}
        {% if recipient.company_name %}
            {{recipient.company_name}}<br>
        {% endif %}
        {{recipient.last_name}} {{recipient.first_name}}<br>
        {{recipient.address}}<br>
        {{recipient.zipcode}} {{recipient.city}}
        {% if recipient.country %}
            <br>{{recipient.country.name}}
        {% endif %}
    </div>
</div>
{% endblock %}
