{% extends "reports/sections/_section.html" %}

{% block title %}
    {{section.title}}
{% endblock %}


{% block content %}
    <div class="flex_container">
        <div class="flex_item-100">
            {% if request_data.properties.submission_service_fees_total_price and request_data.properties.submission_service_fees_total_price != "0.00" %}
                <table>
                    {% if section.show_detail %}
                        <tr>
                            <th>Prestation</th>
                            <th>Durée</th>
                            <th>Coût</th>
                        </tr>
                        {% for fee in request_data.properties.service_fee %}
                            <tr>
                                <td>{{fee.service_fee_type}}</td>
                                <td>{% if fee.time_spent_on_task %}{{fee.time_spent_on_task}}{% endif %}</td>
                                <td>CHF {{fee.monetary_amount}} .-</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td><b>Total</b></td>
                        <td></td>
                        <td><b>CHF {% if section.show_cents %}{{request_data.properties.submission_service_fees_total_price}}{% else %}{{fees_total_price_without_cents}}{% endif %} .-</b></td>
                    </tr>
                </table>
            {% else %}
                <b>Pas de somme définie</b>
            {% endif %}
        </div>
    </div>
{% endblock %}
