{% extends "reports/sections/_section.html" %}

{% block title %}
    {{section.title}}
{% endblock %}

{% block content %}
    {% if request_data.properties.contacts %}
        <div class="flex_container">
            {% for type, contacts in request_data.properties.contacts.items %}
                {% for contact in contacts %}
                    <div class="flex_item-50">
                        {% if contact.contact_form_display %}
                            <span class="bold">Type : </span>{{contact.contact_form_display}}<br>
                        {% endif %}
                        {% if contact.first_name %}
                            <span class="bold">Prénom : </span>{{contact.first_name}}<br>
                        {% endif %}
                        {% if contact.last_name %}
                            <span class="bold">Nom : </span>{{contact.last_name}}<br>
                        {% endif %}
                        {% if contact.address %}
                            <span class="bold">Adresse : </span>{{contact.address}}<br>
                        {% endif %}
                        {% if contact.zipcode %}
                            <span class="bold">Code postal : </span>{{contact.zipcode}}<br>
                        {% endif %}
                        {% if contact.city %}
                            <span class="bold">Localité : </span>{{contact.city}}<br>
                        {% endif %}
                        {% if contact.country %}
                            <span class="bold">Pays : </span>{{contact.country.name}}<br>
                        {% endif %}
                        {% if contact.company_name %}
                            <span class="bold">Raison sociale : </span>{{contact.company_name}}<br>
                        {% endif %}
                        {% if contact.vat_number %}
                            <span class="bold">Numéro TVA : </span>{{contact.vat_number}}<br>
                        {% endif %}
                        {% if contact.phone %}
                            <span class="bold">Téléphone : </span>{{contact.phone}}<br>
                        {% endif %}
                        {% if contact.email %}
                            <span class="bold">E-mail : </span>{{contact.email}}<br>
                        {% endif %}
                        <br>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% else %}
        <p>Aucun contact pour cette demande</p>
    {% endif %}
{% endblock %}
