{% extends "reports/sections/_section.html" %}

{% block content %}
    <h1>Aide à la création pour les paragraphes libres</h1>
    <p>Ici se trouvent toutes les variables du formulaire pour lequel celui-ci est imprimé.</p>
    <h2>Variables de base</h2>
    <p><b>submission : </b>{{ submission }}</p>
    <hr>
    <p><b>request_data : </b>{{ request_data }}</p>
    <hr>
    <p><b>form_data : </b>{{ form_data }}</p>
    <hr>
    <p><b>form_data.request_properties : </b>{{ form_data.request_properties }}</p>
    <hr>
    <p><b>form_data.amend_properties : </b>{{ form_data.amend_properties }}</p>
    <hr>
    <h2>Champs spécifiques</h2>
    <p>Dans l'administration des modèles d'impression (3.3), le bouton "Voir les champs disponibles" permet d'obtenir la syntaxe exacte pour accéder à un champ en particulier (nom du champ et valeur du champ), que ce soit un champ du formulaire ou un champ de traitement.</p>
{% endblock %}
