{% load i18n l10n static submissions_extras django_vite %}

{% if id != 'id_form-__prefix__-geom' %}
  <script type="module">
    import { AdvancedGeometryWidget } from '{% vite_asset_url "assets/js/advanced-geometry-widget.js" %}'

    document.addEventListener("DOMContentLoaded", () => {
      new AdvancedGeometryWidget("{{ id }}");
    });
  </script>

  <div data-role="advanced-geometry-widget" data-id="{{ id }}" id="geometry-widget-{{ id }}" data-initialize="{% if "__prefix__" in id %}0{% else %}1{% endif %}" data-options="{{ options|json }}">
    <div id="map-ro-result-{{ id }}" class="hidden h-96 mb-3"></div>

    {% if options.edit_geom %}
      <button type="button" class="btn btn--default" data-role="show-dialog" data-dialog="map-custom-modal-{{ id }}">
        {% include "_icon.html" with id="map-pin" %}
        {% translate 'Éditer la localisation' %}
      </button>
    {% endif %}

    <textarea id="{{ id }}" class="vSerializedField required{% if not display_raw %} hidden{% endif %}" cols="150" rows="10" name="{{ name }}" data-role="serialized-{{ id }}">{{ serialized }}</textarea>
  </div>

  {% if options.edit_geom %}
    <dialog id="map-custom-modal-{{ id }}" class="dialog dialog--full" aria-labelledby="map-custom-modal-title-{{ id }}">
      <header class="dialog__header">
        <h1 id="map-custom-modal-title-{{ id }}" class="dialog__title">{% translate 'Éditer la localisation' %}</h1>
        <button type="button" class="dialog__close-btn btn btn--icon" data-role="hide-dialog" data-dialog="map-custom-modal-{{ id }}" title="{% translate "Fermer la boîte de dialogue" %}" autofocus>
          {% include "_icon.html" with id="cross" %}
        </button>
      </header>

      <div id="web-component-advanced-{{ id }}" class="dialog__content p-0"></div>

      <footer class="dialog__footer">
        <div class="form-actions mt-0">
          <span class="form-actions__spacer"></span>
          <button type="button" id="modal-validation-button-{{ id }}" class="btn btn--primary">
            {% translate 'Valider' %}
          </button>
        </div>
      </footer>
    </dialog>
  {% endif %}
{% endif %}
